workflows/[JIUN][One Time Use] - AXA & Standard AXA Final Reminder eDM.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendInBlue": {
      "main": [
        [
          {
            "node": "SIB API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "SendInBlue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendInBlue1": {
      "main": [
        [
          {
            "node": "SIB API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "SendInBlue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-12T05:47:51.080Z",
  "id": "VUzz1arqRfSU1ylO",
  "name": "[JIUN][One Time Use] - AXA & Standard AXA Final Reminder eDM",
  "nodes": [
    {
      "parameters": {},
      "id": "06615d93-898b-429f-b770-114ab0446566",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        540,
        500
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "identifier": "={{ $json.email }}",
        "updateAttributes": {
          "updateAttributesValues": [
            {
              "fieldName": "CPHOSTNAME",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "id": "83329056-5662-4ab5-9e2f-75d955158dd8",
      "name": "SendInBlue",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        980,
        280
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "requestMethod": "POST",
        "url": "https://api.sendinblue.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"to\":[{\"email\":\"{{ $('Postgres').item.json[\"email\"] }}\"}],\n\"templateId\":611\n}\n",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "SIB API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1180,
        280
      ],
      "id": "1139b328-d1f2-4ec8-8132-3941a94087b3",
      "retryOnFail": true,
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select distinct concat(u.first_name,' ',u.last_name) as name, u.email\nfrom listings l \nleft join users u on u.id = l.user_id \nwhere l.id in (7833,7754,16861,31236,31367,6620,29601,14148,16916,1507,6623,13910,15207,15173,6598,11146,29660,6934,31646,9206,14944,30745,24633,15221,8640,8612,7222,26913,2396,9470,6678,9731,30811,19757,9730,7359,16798,8003,9640,34,21232,193,6933,19316,31203,23120,6664,16314,28374,22839,9207,21269,21068,14141,27412,6855,27741,1163,1034,12191,12057,29600,26924,13301,15263,30281,12511,7237,12582,7351,12187,12329,13838,17598,6473,17476,8643,31197,831,14287,15267,4547,12895,12509,9205,6904,12429,20059,973,18330,14830,16076,20147,6970,17486,29417,8287,10845,4617,9178,8355,25094,29155,26775,15401,26996,34423,6746,27374,4989,30539,9193,15784,9861,8780,8846,12203,13228,4203,2242,6891,16917,15792,6467,8851,27487,6924,25735,21706,12467,6954,15518,21712,21555,31688,24806,14833,22241,23250,13357,14291,6504,6024,28071,6960,18973,9726,27483,17482,13267,6143,13698,6941,827,8646,4733,15223,15050,15276,15393,7347,27734,8893,22444,14978,6618,30135,28361,5624,8007,15764,24218,26196,14998,14972,14254,30752,9864,9088,29954,13887,25885,6481,16811,12442,7230,10975,11793,6508,27428,12025,7733,25098,14198,6729,9055,12078,9084,26967,20239,21770,25493,5281,13825,15128,27969,21949,13794,6878,30263,16353,1082,12850,31618,7226,27651,12481,26607,3659,25832,8708,20128,6711,6886,28198,6900,7775,12654,14882,28481,31072,6961,6655,22849,22929,9494,13509,9737,5887,21591,30484,9776,6452,29147,4176,12904,10104,12737,8532,21750,14145,14152,30694,6959,9345,13914,9241,19987,3759,12531,29968,31490,9175,15833,8440,6608,10977,6126,25513,32802,22377,26536,2803,12445,21960,14108,8876,27912,6884,6710,10742,28000,8760,29856,8124,13624,4204,9822,15243,8648,26794,14246,29031,826,21966,6141,16080,8393,8573,6406,9469,6367,17484,8870,8390,8647,14066,6921,20326,8367,6479,5171,9203,7348,7765,15264,19727,6426,6787,8078,6531,8569,10109,6471,12525,19042,6877,30030,13558,21958,6670,6449,26496,7704,20077,16776,20213,26789,26510,9355,12585,2336,28022,5618,4770,16062,18329,17620,30236,6558,22048,15653,14803,6850,30089,8883,13824,27122,27999,6619,19502,16415,13907,31244,24794,8566,26851,20200,28540,15268,7766,6561,9233,27368,5975,7299,8467,31387,21250,4824,14106,4768,15102,15215,6354,7352,12905,14607,6138,6602,35250,7784,6818,19307,6793,9360,27511,5386,6657,22091,27315,14983,7344,7227,6454,8641,28625,26098,13780,17473,6462,28486,12073,17443,16860,28591,9817,6280,7785,13922,21785,6966,20071,25160,6816,8122,6653,27510,1075,25900,6857,28045,27029,1116,6570,8479,15444,21238,18181,9002,16378,20480,8970,15287,6408,7779,7866,19956,20118,5976,16050,9875,31643,9174,16936,20722,30395,9495,9354,15616,26997,15220,29953,8356,6478,8046,6548,15597,7350,8347,7229,16051,16430,11973,29232,15269,25409,29001,9229,8892,12637,15201,16935,23891,13709,6856,6869,8308,12415,9499,12505,27274,23198,13561,15475,12433,26080,27611,13978,10028,8645,12434,27069,27499,5469,8728,15095,17960,8787,11435,8783,14103,1414,12802,14925,6938,9201,28385,6136,8093,14063,10978,12537,8959,27913,6853,12092,6513,13871,28139,6320,9521,12425,14939,26603,27963,19573,30956,2112,28186,237,9480,15291,29692,6372,6555,19756,16308,8881,15288,30759,21849,21335,25133,1709,6823,22814,8875,6806,20407,5978,6577,15222,26291,25134,9248,2981,26850,31382,9003,30747,31087,7716,27027,6875,6368,35155,21836,8038,21241,10852,13822,3477,27424,10974,29839,6507,8634,26815,12843,12217,6281,28128,14934,16586,6950,14109,9054,16919,20152,9135,9225,9194,16915,767,6554,6987,12800,26373,29264,28488,13537,12510,8778,7719,19941,9134,13924,8307,6909,6817,10729,8741,29221,18287,9246,6511,13503,21925,13532,9960,13227,14358,11313,13891,31192,23889,12209,6321,13309,1281,6872,6723,12483,28306,22176,14727,31690,9177,21844,6468,6455,6451,22617,17472,11886,15281,6453,27739,12484,7830,872,8639,15285,14893,9075,14022,30955,12220,12653,27212,28123,6258,15226,27612,25052,16823,13660,11790,13837,26695,6036,15286,14884,7295,13818,29373,25595,24236,5394,21867,6475,9585,11887,29167,14162,21664,9797,12897,12552,6489,29010,15205,28745,30901,9243,24251,14797,28360,30833,12584,12747,6883,6603,30370,5977,9651,10102,6860,15225,21218,1316,28300,6355,15037,13280,29258,12194,13820,14239,6675,15952,9220,22819,22525,26902,31243,24683,12185,4218,8077,21186,13202,21744,12181,19957,26643,6727,28308,28484,31242,16847,5139,9062,7777,10991,25500,7834,9869,9244,20723,7297,27014,5371,17839,9240,9133,8625,9500,29421,8485,30696,13265,7843,29152,2381,7364,1054,8362,12502,8358,15275,15290,16918,16585,6133,8871,14110,21707,6735,8466,8603,12680,15820,28748,26793,31459,6590,31130,9082,15789,5083,30391,13628,878,25585,12437,17844,6604,521,34517,5979,12516,5745,6459,27282,6942,15274,27842,12141,18178,20353)\n",
        "options": {}
      },
      "id": "b00f7d21-8574-491b-803a-47bf3a5b0446",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        780,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "identifier": "={{ $json.email }}",
        "updateAttributes": {
          "updateAttributesValues": [
            {
              "fieldName": "CPHOSTNAME",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "id": "e8ba58bc-f402-4e9f-a3d7-c6c9f7cd6a35",
      "name": "SendInBlue1",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        980,
        500
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "requestMethod": "POST",
        "url": "https://api.sendinblue.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"to\":[{\"email\":\"{{ $('Postgres1').item.json[\"email\"] }}\"}],\n\"templateId\":612\n}\n",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "SIB API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1180,
        500
      ],
      "id": "2352cee7-b3d7-41b6-9012-701e8a05be52",
      "retryOnFail": true,
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select distinct concat(u.first_name,' ',u.last_name) as name, u.email\nfrom listings l \nleft join users u on u.id = l.user_id \nwhere l.id in (6357,4929,22970,27266,29997,6722,4291,31392,19567,8458,19556,2044,6695,2386,842,6488,12659,25571,16138,29392,2809,20342,8306,2675,5105,24374,9226,7710,822,8786,19297,6887,22863,23308,8264,9847,8595,4784,24813,15747,8088,6366,27765,7768,10025,8451,15478,17307,7769,9158,8880,9073,26066,15151,6694,18905,19991,28219,11722,9086,12026,31147,1074,9816,9748,8848,6370,7868,24047,21892,9895,8360,27063,25861,14880,19811,6617,28411,1050,26680,6562,7881,19383,29067,1052,19587,28162,11171,31158,6605,27729,25729,24334,14164,4717,6882,3658,18723,28614,6571,16279,2490,25241,19842,29987,8746,30954,884,6137,24957,7867,6892,8847,15210,19425,6312,7883,25787,5355,26894,6464,6809,20222,24625,30260,2397,7755,7002,14299,26550,8791,27208,8397,29679,16817,8795,16961,25657,22958,8456,25076,6923,10641,5143,17449,7700,13937,26455,6643,17288,8878,7771,29774,7024,29078,28619,6569,17199,9632,20300,1053,25785,29120,13201,8349,19221,1023,28125,24045,7828,20339,7702,28299,29142,6349,9093,1149,11173,19074,19086,18739,2400,6814,18790,6132,6674,11949,28795,13785,2388,9223,12361,31619,15456,6889,20888,11559,15803,30933,8253,6596,4622,19767,19367,8972,29411,22894,19846,7863,26354,11172,14221,6888,30817,16410,6546,6427,6649,4744,4749,4222,6615,8796,25473,29008,6117,20853,6477)\n",
        "options": {}
      },
      "id": "ecdd9ebe-ce38-42d1-b657-42e1808c7193",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        780,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Standard Non Axa",
        "height": 102.1875,
        "width": 150.9375
      },
      "id": "81eaa78c-0169-445a-b8b3-4ea7acd1a9f2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Axa",
        "height": 80,
        "width": 150
      },
      "id": "7c1256c6-59f6-4fa3-9496-f8803dc51372",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-07-12T07:40:59.010Z",
  "versionId": "004a795c-3e18-4243-ade3-cbb93099cba6"
}