workflows/[JIUN] [SUPPLY] [GCHAT] TREVO Guard GFORM alert.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Google Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-09-19T08:02:59.909Z",
  "id": "4lAZovmGiJoG2UoH",
  "name": "[JIUN] [SUPPLY] [GCHAT] TREVO Guard GFORM alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "a5f77faa-2c67-4aac-8a9c-0fc35194ba64",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        840,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j1TNmBI8eeJTueXVDXXp3pgtfOI1QOdFjeDbUD2Lu-U",
          "mode": "list",
          "cachedResultName": "TREVO Guard Request Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j1TNmBI8eeJTueXVDXXp3pgtfOI1QOdFjeDbUD2Lu-U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 35002321,
          "mode": "list",
          "cachedResultName": "2023 - 2024 Response",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j1TNmBI8eeJTueXVDXXp3pgtfOI1QOdFjeDbUD2Lu-U/edit#gid=35002321"
        },
        "options": {}
      },
      "id": "1b12118a-e1fc-4ef3-b0f3-b1d2d8dca039",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "19",
          "name": "Google Sheet - Jiun's Account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"Timestamp\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['Timestamp']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1240,
        240
      ],
      "id": "f882a3be-871e-4649-9c4b-6b1b01eb19d4"
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAvbRnT1Q",
        "messageUi": {
          "text": "=New TREVO Guard Request:\n\nTimestamp: {{ $json[\"Timestamp\"] }}\nRequested by: {{ $json[\"NAME (SOFAM/TREVORIAN)\"] }}\nType of Request: {{ $json[\"Type of Request\"] }}\nCustomer: {{ $json[\"NAME / COMPANY (AS PER CAR GRANT)\"] }}\nCar Registration Number: {{ $json[\"VEHICLE NO\"] }}"
        },
        "additionalFields": {}
      },
      "id": "d3d9b117-96d9-4289-a897-57fd0d361b07",
      "name": "Google Chat",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1420,
        240
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "Google Chat [Pat]"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "11"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        "8/25/2024 13:55:34",
        "8/22/2024 9:28:06",
        "8/21/2024 9:48:07",
        "8/20/2024 17:19:35",
        "8/20/2024 17:26:05",
        "8/20/2024 17:31:46",
        "8/20/2024 15:14:24",
        "8/20/2024 13:06:30",
        "8/19/2024 12:01:36",
        "8/19/2024 12:39:35",
        "8/19/2024 11:37:41",
        "8/16/2024 14:15:18",
        "8/16/2024 12:21:54",
        "8/16/2024 12:34:28",
        "8/16/2024 12:43:10",
        "8/16/2024 11:40:15",
        "8/15/2024 16:15:09",
        "8/15/2024 14:49:02",
        "8/15/2024 13:33:17",
        "8/15/2024 11:56:42",
        "8/14/2024 14:40:08",
        "8/14/2024 13:50:23",
        "8/14/2024 12:00:23",
        "8/14/2024 12:04:13",
        "8/14/2024 11:55:09",
        "8/14/2024 11:57:50",
        "8/14/2024 10:14:52",
        "8/13/2024 16:51:18",
        "8/13/2024 13:40:04",
        "8/13/2024 12:25:32",
        "8/13/2024 10:45:37",
        "8/13/2024 10:28:25",
        "8/12/2024 17:51:08",
        "8/12/2024 16:34:43",
        "8/12/2024 16:37:58",
        "8/12/2024 15:47:00",
        "8/12/2024 13:01:40",
        "8/12/2024 13:05:11",
        "8/12/2024 13:10:25",
        "8/9/2024 18:46:50",
        "8/9/2024 11:37:27",
        "8/9/2024 9:50:21",
        "8/8/2024 10:19:25",
        "8/7/2024 13:18:17",
        "8/6/2024 11:54:40",
        "8/5/2024 11:27:15",
        "8/5/2024 10:25:43",
        "8/3/2024 22:31:05",
        "8/2/2024 11:06:56",
        "8/2/2024 12:26:24",
        "7/31/2024 23:13:07",
        "7/31/2024 23:16:23",
        "7/31/2024 23:32:22",
        "7/31/2024 23:34:58",
        "7/31/2024 23:36:33",
        "7/31/2024 0:11:32",
        "7/28/2024 9:20:39",
        "7/24/2024 11:06:00",
        "7/22/2024 17:15:48",
        "7/19/2024 12:27:04",
        "7/19/2024 12:27:41",
        "7/17/2024 14:43:18",
        "7/15/2024 14:43:45",
        "7/12/2024 16:42:13",
        "7/12/2024 16:59:48",
        "7/11/2024 13:04:08",
        "7/10/2024 16:12:06",
        "7/9/2024 12:38:04",
        "7/9/2024 12:43:56",
        "7/9/2024 12:45:37",
        "7/9/2024 10:29:44",
        "7/9/2024 10:36:53",
        "7/5/2024 16:33:07",
        "7/3/2024 11:35:06",
        "7/3/2024 11:41:40",
        "7/3/2024 11:44:31",
        "7/2/2024 18:33:01",
        "7/2/2024 18:36:15",
        "7/2/2024 15:26:54",
        "7/1/2024 16:00:21",
        "7/1/2024 16:11:52",
        "7/1/2024 16:24:33",
        "7/1/2024 10:23:07",
        "6/28/2024 9:47:54",
        "6/27/2024 15:12:12",
        "6/26/2024 17:30:29",
        "6/26/2024 11:23:08",
        "6/25/2024 15:46:20",
        "6/25/2024 10:33:04",
        "6/24/2024 16:08:30",
        "6/24/2024 11:52:07",
        "6/24/2024 11:56:01",
        "6/21/2024 12:47:26",
        "6/21/2024 12:53:58",
        "6/21/2024 8:27:03",
        "6/21/2024 8:36:14",
        "6/21/2024 8:43:22",
        "6/21/2024 8:46:47",
        "6/20/2024 16:21:11",
        "6/20/2024 16:58:10",
        "6/20/2024 14:11:59",
        "6/20/2024 14:18:04",
        "6/20/2024 13:53:12",
        "6/20/2024 11:55:09",
        "6/18/2024 10:16:26",
        "6/18/2024 9:42:07",
        "6/14/2024 16:23:45",
        "6/14/2024 16:26:56",
        "6/14/2024 13:57:32",
        "6/12/2024 16:53:43",
        "6/12/2024 9:47:53",
        "6/11/2024 15:59:23",
        "6/11/2024 14:23:56",
        "6/11/2024 12:04:08",
        "6/11/2024 12:39:48",
        "6/11/2024 11:09:46",
        "6/10/2024 10:15:48",
        "6/10/2024 10:44:50",
        "6/7/2024 13:50:07",
        "6/7/2024 13:53:12",
        "6/5/2024 11:28:32",
        "6/4/2024 16:06:08",
        "5/30/2024 10:47:46",
        "5/29/2024 9:04:50",
        "5/29/2024 9:10:52",
        "5/29/2024 8:58:05",
        "5/28/2024 12:09:57",
        "5/28/2024 12:16:34",
        "5/28/2024 12:25:05",
        "5/27/2024 16:27:38",
        "5/27/2024 16:31:24",
        "5/27/2024 11:07:52",
        "5/21/2024 15:42:49",
        "5/21/2024 14:10:22",
        "5/21/2024 13:10:51",
        "5/20/2024 15:20:28",
        "5/20/2024 13:22:38",
        "5/20/2024 13:28:31",
        "5/17/2024 17:06:09",
        "5/17/2024 12:05:50",
        "5/17/2024 7:10:53",
        "5/16/2024 11:15:44",
        "5/16/2024 12:00:37",
        "5/16/2024 7:43:09",
        "5/15/2024 15:27:42",
        "5/15/2024 15:40:06",
        "5/15/2024 7:51:16",
        "5/14/2024 17:09:52",
        "5/14/2024 17:30:37",
        "5/14/2024 15:04:45",
        "5/14/2024 14:44:23",
        "5/14/2024 14:55:57",
        "5/14/2024 13:46:39",
        "5/14/2024 12:31:59",
        "5/14/2024 10:19:51",
        "5/14/2024 10:29:45",
        "5/14/2024 10:37:27",
        "5/14/2024 10:51:16",
        "5/13/2024 11:28:44",
        "5/13/2024 11:40:54",
        "5/10/2024 15:18:28",
        "5/10/2024 11:18:00",
        "5/9/2024 12:10:30",
        "5/8/2024 16:24:19",
        "5/8/2024 16:47:30",
        "5/8/2024 16:49:36",
        "5/8/2024 15:07:09",
        "5/8/2024 14:47:29",
        "5/8/2024 11:21:43",
        "5/8/2024 10:35:08",
        "5/8/2024 10:46:56",
        "5/8/2024 10:50:03",
        "5/8/2024 10:54:44",
        "5/7/2024 15:21:18",
        "5/7/2024 14:32:55",
        "5/7/2024 14:36:40",
        "5/7/2024 14:42:12",
        "5/7/2024 14:44:29",
        "5/7/2024 11:08:12",
        "5/7/2024 11:11:17",
        "5/7/2024 10:09:01",
        "5/7/2024 10:32:43",
        "5/6/2024 15:47:13",
        "4/30/2024 10:35:06",
        "4/30/2024 9:58:00",
        "4/29/2024 10:13:21",
        "4/25/2024 13:20:10",
        "4/24/2024 15:32:15",
        "4/23/2024 16:12:40",
        "4/23/2024 16:24:54",
        "4/23/2024 16:33:29",
        "4/23/2024 11:17:14",
        "4/23/2024 11:39:58",
        "4/23/2024 11:57:31",
        "4/23/2024 10:08:52",
        "4/22/2024 22:51:39",
        "4/22/2024 18:38:48",
        "4/22/2024 17:12:46",
        "4/22/2024 17:27:51",
        "4/22/2024 16:07:43",
        "4/22/2024 13:05:58",
        "4/22/2024 13:35:18",
        "4/22/2024 13:49:17",
        "4/22/2024 12:50:38",
        "4/22/2024 12:55:54",
        "4/22/2024 11:22:58",
        "4/22/2024 9:59:49",
        "4/18/2024 16:15:21",
        "4/18/2024 15:07:34",
        "4/18/2024 12:07:19",
        "4/18/2024 10:54:42",
        "4/17/2024 18:05:48",
        "4/17/2024 18:42:21",
        "4/17/2024 16:43:34",
        "4/17/2024 12:11:04",
        "4/17/2024 11:25:13",
        "4/17/2024 11:34:53",
        "4/16/2024 13:32:25",
        "4/16/2024 11:48:52",
        "4/15/2024 17:43:41",
        "4/15/2024 17:52:28",
        "4/15/2024 15:05:41",
        "4/15/2024 15:01:07",
        "4/15/2024 11:38:30",
        "4/15/2024 10:18:41",
        "4/14/2024 14:01:26",
        "4/12/2024 15:09:17",
        "4/9/2024 14:17:18",
        "4/9/2024 13:54:44",
        "4/9/2024 11:30:17",
        "4/8/2024 14:23:20",
        "4/8/2024 13:21:25",
        "4/8/2024 13:30:08",
        "4/8/2024 9:08:22",
        "4/8/2024 9:12:11",
        "4/8/2024 9:15:31",
        "4/8/2024 9:41:10",
        "4/8/2024 9:46:36",
        "4/5/2024 11:42:05",
        "4/3/2024 20:11:13",
        "4/3/2024 19:43:38",
        "4/3/2024 19:58:12",
        "4/2/2024 16:32:47",
        "4/2/2024 15:19:38",
        "4/2/2024 15:38:45",
        "4/2/2024 13:24:30",
        "4/2/2024 13:40:19",
        "4/2/2024 13:50:11",
        "4/2/2024 11:31:26",
        "4/2/2024 9:56:30",
        "4/2/2024 8:15:00",
        "4/1/2024 15:41:01",
        "4/1/2024 14:00:31",
        "4/1/2024 10:53:14",
        "3/29/2024 14:20:12",
        "3/29/2024 10:00:46",
        "3/29/2024 9:47:35",
        "3/27/2024 15:44:34",
        "3/26/2024 11:34:42",
        "3/25/2024 15:38:49",
        "3/25/2024 14:04:50",
        "3/25/2024 13:00:19",
        "3/25/2024 13:08:55",
        "3/25/2024 10:41:34",
        "3/23/2024 3:53:09",
        "3/22/2024 13:16:45",
        "3/21/2024 15:13:50",
        "3/21/2024 11:44:47",
        "3/21/2024 11:49:57",
        "3/20/2024 14:42:10",
        "3/20/2024 13:28:59",
        "3/20/2024 11:32:56",
        "3/20/2024 11:35:44",
        "3/20/2024 11:37:53",
        "3/20/2024 11:39:55",
        "3/20/2024 11:42:17",
        "3/18/2024 16:42:55",
        "3/18/2024 16:46:18",
        "3/18/2024 15:04:39",
        "3/18/2024 14:48:15",
        "3/18/2024 13:13:21",
        "3/18/2024 13:49:35",
        "3/18/2024 11:35:51",
        "3/18/2024 11:41:37",
        "3/18/2024 11:42:37",
        "3/18/2024 11:53:27",
        "3/18/2024 8:15:12",
        "3/15/2024 12:36:34",
        "3/15/2024 10:07:43",
        "3/14/2024 11:08:33",
        "3/14/2024 11:12:42",
        "3/14/2024 11:58:06",
        "3/14/2024 9:54:42",
        "3/13/2024 15:39:08",
        "3/13/2024 14:10:21",
        "3/13/2024 13:25:10",
        "3/13/2024 13:46:16",
        "3/13/2024 12:02:38",
        "3/13/2024 12:16:37",
        "3/13/2024 12:34:28",
        "3/13/2024 11:35:14",
        "3/13/2024 10:59:47",
        "3/13/2024 9:40:40",
        "3/12/2024 17:03:03",
        "3/12/2024 14:54:43",
        "3/12/2024 11:14:32",
        "3/12/2024 11:40:58",
        "3/12/2024 11:49:45",
        "3/12/2024 11:57:27",
        "3/12/2024 10:47:03",
        "3/12/2024 10:52:06",
        "3/11/2024 16:19:34",
        "3/11/2024 15:06:17",
        "3/11/2024 15:16:28",
        "3/11/2024 12:51:46",
        "3/11/2024 12:59:23",
        "3/11/2024 11:22:29",
        "3/11/2024 11:46:07",
        "3/11/2024 8:40:35",
        "3/8/2024 16:15:16",
        "3/8/2024 13:25:56",
        "3/8/2024 10:22:38",
        "3/7/2024 16:21:41",
        "3/7/2024 16:48:09",
        "3/7/2024 9:51:18",
        "3/6/2024 12:23:48",
        "3/6/2024 11:43:10",
        "3/6/2024 11:49:01",
        "3/6/2024 11:49:24",
        "3/6/2024 9:56:30",
        "3/5/2024 14:39:25",
        "3/5/2024 14:47:46",
        "3/5/2024 12:31:10",
        "3/5/2024 11:41:31",
        "3/5/2024 11:54:56",
        "3/4/2024 13:47:10",
        "3/4/2024 12:21:30",
        "3/4/2024 10:23:37",
        "3/1/2024 17:49:57",
        "3/1/2024 17:54:01",
        "3/1/2024 16:03:54",
        "3/1/2024 15:09:34",
        "3/1/2024 10:26:31",
        "3/1/2024 10:43:19",
        "3/1/2024 10:51:18",
        "2/28/2024 8:19:15",
        "2/22/2024 11:33:11",
        "2/22/2024 11:46:07",
        "2/22/2024 11:48:28",
        "2/22/2024 10:22:07",
        "2/22/2024 10:28:08",
        "2/22/2024 10:55:28",
        "2/22/2024 9:34:17",
        "2/22/2024 9:49:01",
        "2/21/2024 13:24:47",
        "2/21/2024 11:36:19",
        "2/21/2024 11:50:10",
        "2/21/2024 11:56:18",
        "2/21/2024 11:59:34",
        "2/21/2024 9:47:13",
        "2/21/2024 9:59:53",
        "2/20/2024 11:15:17",
        "2/20/2024 11:45:34",
        "2/20/2024 10:08:47",
        "2/19/2024 12:01:35",
        "2/19/2024 12:03:48",
        "2/19/2024 12:20:44",
        "2/19/2024 12:46:37",
        "2/19/2024 11:16:27",
        "2/18/2024 11:46:27",
        "2/16/2024 14:55:59",
        "2/16/2024 13:59:14",
        "2/15/2024 14:47:56",
        "2/15/2024 12:24:29",
        "2/15/2024 11:23:01",
        "2/15/2024 11:27:45",
        "2/14/2024 13:11:55",
        "2/14/2024 9:08:43",
        "2/14/2024 9:47:00",
        "2/13/2024 12:54:44",
        "2/9/2024 12:14:06",
        "2/9/2024 12:18:17",
        "2/9/2024 9:27:38",
        "2/7/2024 13:03:39",
        "2/7/2024 13:40:48",
        "2/7/2024 12:11:37",
        "2/7/2024 12:37:18",
        "2/7/2024 11:01:27",
        "2/7/2024 10:39:24",
        "2/7/2024 9:54:22",
        "2/7/2024 9:56:58",
        "2/6/2024 12:13:57",
        "2/6/2024 10:28:04",
        "2/5/2024 15:23:59",
        "2/2/2024 17:32:11",
        "2/2/2024 12:51:45",
        "1/31/2024 12:04:30",
        "1/31/2024 11:47:00",
        "1/31/2024 11:58:39",
        "1/31/2024 10:12:15",
        "1/30/2024 12:50:54",
        "1/29/2024 16:31:44",
        "1/29/2024 16:40:53",
        "1/29/2024 16:45:06",
        "1/29/2024 14:52:21",
        "1/29/2024 10:33:58",
        "1/29/2024 10:38:24",
        "1/26/2024 15:53:47",
        "1/24/2024 16:01:34",
        "1/24/2024 15:17:44",
        "1/24/2024 11:06:52",
        "1/24/2024 10:16:21",
        "1/24/2024 9:57:17",
        "1/23/2024 15:23:12",
        "1/22/2024 16:09:26",
        "1/22/2024 10:08:14",
        "1/22/2024 8:58:22",
        "1/19/2024 14:03:19",
        "1/19/2024 14:08:31",
        "1/19/2024 14:29:41",
        "1/19/2024 10:49:56",
        "1/19/2024 10:53:36",
        "1/19/2024 8:44:28",
        "1/19/2024 8:51:00",
        "1/17/2024 11:40:04",
        "1/16/2024 16:07:23",
        "1/16/2024 14:08:09",
        "1/16/2024 14:25:35",
        "1/16/2024 14:26:14",
        "1/16/2024 14:39:40",
        "1/16/2024 12:26:07",
        "1/16/2024 12:33:40",
        "1/16/2024 12:41:35",
        "1/15/2024 15:47:14",
        "1/15/2024 11:11:47",
        "1/15/2024 11:18:08",
        "1/12/2024 10:17:08",
        "1/12/2024 10:56:29",
        "1/11/2024 15:08:26",
        "1/11/2024 11:30:14",
        "1/10/2024 15:31:43",
        "1/10/2024 14:10:12",
        "1/9/2024 19:06:08",
        "1/9/2024 19:22:36",
        "1/9/2024 10:19:31",
        "1/9/2024 10:45:02",
        "1/5/2024 17:39:45",
        "1/5/2024 16:44:57",
        "1/5/2024 10:20:07",
        "1/5/2024 10:42:22",
        "1/4/2024 17:08:57",
        "1/4/2024 16:01:46",
        "1/4/2024 14:08:44",
        "1/4/2024 13:25:16",
        "1/4/2024 13:39:57",
        "1/4/2024 12:28:54",
        "1/4/2024 11:05:23",
        "1/4/2024 11:11:11",
        "1/4/2024 11:48:39",
        "1/4/2024 10:24:08",
        "1/4/2024 9:25:27",
        "1/4/2024 9:44:43",
        "1/3/2024 15:11:13",
        "1/3/2024 14:11:53",
        "1/3/2024 11:15:04",
        "1/3/2024 11:47:55",
        "1/2/2024 15:07:08",
        "1/2/2024 12:41:25",
        "1/2/2024 12:53:42",
        "1/2/2024 11:09:20",
        "1/2/2024 10:19:56",
        "1/2/2024 10:43:15",
        "12/30/2023 13:07:45",
        "12/30/2023 13:24:53",
        "12/29/2023 11:53:51",
        "12/28/2023 17:12:33",
        "12/28/2023 8:04:46",
        "12/28/2023 7:57:21",
        "12/27/2023 14:48:50",
        "12/27/2023 12:21:46",
        "12/27/2023 11:25:36",
        "12/27/2023 11:39:20",
        "12/26/2023 14:22:30",
        "12/26/2023 14:30:49",
        "12/26/2023 13:32:30",
        "12/26/2023 13:59:14",
        "12/26/2023 12:19:31",
        "12/26/2023 10:13:56",
        "12/26/2023 10:21:06",
        "12/22/2023 9:34:47",
        "12/22/2023 9:40:59",
        "12/21/2023 14:57:33",
        "12/21/2023 10:01:08",
        "12/20/2023 22:53:09",
        "12/20/2023 18:38:44",
        "12/20/2023 13:06:00",
        "12/20/2023 13:10:21",
        "12/20/2023 12:29:30",
        "12/20/2023 12:33:03",
        "12/20/2023 10:43:40",
        "12/19/2023 17:07:59",
        "12/19/2023 10:30:00",
        "12/18/2023 12:08:00",
        "12/18/2023 10:25:31",
        "12/18/2023 9:50:49",
        "12/17/2023 15:10:00",
        "12/14/2023 15:42:08",
        "12/14/2023 13:02:25",
        "12/14/2023 11:21:32",
        "12/14/2023 11:37:17",
        "12/13/2023 16:41:28",
        "12/13/2023 9:35:46",
        "12/12/2023 15:39:23",
        "12/12/2023 14:20:15",
        "12/12/2023 11:15:27",
        "12/12/2023 10:13:34",
        "12/11/2023 18:18:47",
        "12/11/2023 17:25:55",
        "12/11/2023 17:29:18",
        "12/11/2023 17:35:43",
        "12/11/2023 11:09:21",
        "12/11/2023 10:39:31",
        "12/10/2023 11:47:53",
        "12/8/2023 11:17:39",
        "12/8/2023 10:26:13",
        "12/8/2023 10:30:22",
        "12/8/2023 10:32:24",
        "12/7/2023 10:17:57",
        "12/6/2023 14:10:22",
        "12/6/2023 11:04:24",
        "12/5/2023 12:09:24",
        "12/5/2023 11:44:15",
        "12/5/2023 11:48:22",
        "12/5/2023 11:51:11",
        "12/5/2023 11:59:57",
        "12/5/2023 10:14:13",
        "12/5/2023 9:19:43",
        "12/4/2023 16:03:06",
        "12/4/2023 15:15:43",
        "12/4/2023 15:21:15",
        "12/4/2023 12:29:42",
        "12/4/2023 13:21:14",
        "12/4/2023 13:50:12",
        "12/4/2023 9:54:03",
        "11/30/2023 10:33:38",
        "11/30/2023 9:38:37",
        "11/29/2023 15:25:18",
        "11/28/2023 15:14:50",
        "11/28/2023 15:40:38",
        "11/28/2023 14:11:26",
        "11/27/2023 11:10:53",
        "11/27/2023 11:46:39",
        "11/27/2023 11:51:07",
        "11/27/2023 13:35:08",
        "11/27/2023 13:46:53",
        "11/27/2023 13:53:59",
        "11/27/2023 14:34:17",
        "11/23/2023 17:09:16",
        "11/23/2023 11:27:38",
        "11/22/2023 14:12:20",
        "11/21/2023 20:06:03",
        "11/21/2023 11:39:01",
        "11/21/2023 12:09:35",
        "11/21/2023 12:35:54",
        "11/21/2023 12:58:57",
        "11/21/2023 10:09:55",
        "11/20/2023 15:41:34",
        "11/17/2023 13:06:35",
        "11/17/2023 13:13:18",
        "11/16/2023 15:23:15",
        "11/16/2023 13:15:41",
        "11/15/2023 14:18:42",
        "11/15/2023 14:22:26",
        "11/15/2023 14:28:07",
        "11/15/2023 14:47:43",
        "11/14/2023 15:34:39",
        "11/14/2023 15:36:59",
        "11/14/2023 15:39:09",
        "11/14/2023 12:44:46",
        "11/9/2023 16:34:51",
        "11/9/2023 11:52:44",
        "11/8/2023 22:51:22",
        "11/8/2023 11:39:30",
        "11/8/2023 11:57:50",
        "11/7/2023 15:14:44",
        "11/7/2023 11:25:54",
        "11/7/2023 11:30:43",
        "11/7/2023 11:37:59",
        "11/7/2023 11:42:09",
        "11/7/2023 11:45:05",
        "11/6/2023 15:00:30",
        "11/6/2023 15:03:14",
        "11/6/2023 15:04:41",
        "11/6/2023 14:13:01",
        "11/6/2023 14:16:31",
        "11/6/2023 13:23:26",
        "11/6/2023 13:28:57",
        "11/6/2023 13:42:39",
        "11/6/2023 11:03:34",
        "11/3/2023 14:25:36",
        "11/2/2023 16:29:25",
        "11/2/2023 16:58:24",
        "11/2/2023 11:58:41",
        "11/2/2023 10:38:43",
        "11/1/2023 11:05:08",
        "11/1/2023 11:09:03",
        "11/1/2023 11:17:20",
        "11/1/2023 11:27:51",
        "11/1/2023 11:31:06",
        "10/31/2023 13:06:57",
        "10/31/2023 12:41:05",
        "10/31/2023 11:11:31",
        "10/30/2023 15:35:30",
        "10/28/2023 0:06:51",
        "10/27/2023 12:00:33",
        "10/27/2023 11:14:05",
        "10/27/2023 11:20:46",
        "10/26/2023 14:00:26",
        "10/26/2023 14:28:39",
        "10/26/2023 12:26:30",
        "10/26/2023 10:04:17",
        "10/26/2023 9:55:06",
        "10/25/2023 16:28:46",
        "10/25/2023 14:50:44",
        "10/24/2023 17:10:34",
        "10/24/2023 12:02:02",
        "10/24/2023 12:46:20",
        "10/24/2023 11:22:44",
        "10/24/2023 9:43:43",
        "10/23/2023 13:53:11",
        "10/20/2023 15:46:38",
        "10/20/2023 13:31:45",
        "10/19/2023 15:54:10",
        "10/19/2023 13:49:46",
        "10/19/2023 11:03:08",
        "10/19/2023 11:41:40",
        "10/18/2023 15:27:34",
        "10/18/2023 12:03:21",
        "10/18/2023 12:09:25",
        "10/18/2023 12:15:39",
        "10/18/2023 10:02:13",
        "10/18/2023 9:42:29",
        "10/13/2023 19:32:25",
        "10/12/2023 10:16:34",
        "10/12/2023 10:43:52",
        "10/12/2023 0:22:47",
        "10/11/2023 15:14:24",
        "10/11/2023 12:53:32",
        "10/11/2023 1:09:29",
        "10/10/2023 10:07:03",
        "10/10/2023 10:25:21",
        "10/10/2023 10:30:00",
        "10/10/2023 10:38:50",
        "10/9/2023 14:29:32",
        "10/9/2023 14:51:35",
        "10/9/2023 12:18:21",
        "10/9/2023 11:48:09",
        "10/9/2023 10:25:51",
        "10/6/2023 10:45:37",
        "10/6/2023 9:24:27",
        "10/6/2023 9:51:03",
        "10/6/2023 9:59:02",
        "10/6/2023 8:55:18",
        "10/5/2023 10:44:08",
        "10/5/2023 9:58:10",
        "10/5/2023 8:02:36",
        "10/4/2023 17:40:47",
        "10/4/2023 11:37:41",
        "10/3/2023 17:58:50",
        "10/3/2023 15:45:18",
        "10/3/2023 14:49:57",
        "10/2/2023 13:28:15",
        "10/2/2023 12:37:32",
        "10/2/2023 10:33:42",
        "9/29/2023 12:24:45",
        "9/29/2023 10:25:25",
        "9/29/2023 10:32:41",
        "9/29/2023 10:41:50",
        "9/29/2023 10:52:52",
        "9/29/2023 10:56:41",
        "9/27/2023 11:51:40",
        "9/27/2023 11:55:03",
        "9/26/2023 16:30:26",
        "9/26/2023 13:08:09",
        "9/26/2023 12:08:59",
        "9/26/2023 12:38:25",
        "9/26/2023 10:13:46",
        "9/26/2023 10:33:44",
        "9/25/2023 15:09:07",
        "9/25/2023 12:27:26",
        "9/25/2023 10:07:36",
        "9/23/2023 16:12:23",
        "9/22/2023 16:47:20",
        "9/22/2023 16:56:06",
        "9/22/2023 15:51:49",
        "9/22/2023 10:23:10",
        "9/21/2023 12:51:31",
        "9/20/2023 11:27:30",
        "11/3/2022 10:14:31",
        "11/3/2022 10:27:10",
        "11/3/2022 10:33:30",
        "11/3/2022 10:35:11",
        "11/3/2022 10:37:28",
        "11/3/2022 10:55:50",
        "11/3/2022 13:50:11",
        "11/3/2022 14:05:28",
        "11/3/2022 16:02:19",
        "11/3/2022 16:46:11",
        "11/4/2022 10:09:12",
        "11/4/2022 10:50:23",
        "11/4/2022 12:13:19",
        "11/4/2022 15:56:42",
        "11/7/2022 11:58:23",
        "11/8/2022 9:34:29",
        "11/8/2022 10:02:23",
        "11/8/2022 10:03:40",
        "11/8/2022 10:07:36",
        "11/8/2022 10:09:32",
        "11/8/2022 15:55:25",
        "11/9/2022 12:00:12",
        "11/10/2022 18:00:40",
        "11/14/2022 11:25:00",
        "11/14/2022 16:01:19",
        "11/15/2022 10:27:47",
        "11/15/2022 14:35:11",
        "11/15/2022 14:52:22",
        "11/22/2022 12:18:22",
        "11/22/2022 12:22:12",
        "11/23/2022 10:20:57",
        "11/23/2022 11:46:55",
        "11/23/2022 13:33:43",
        "11/23/2022 15:23:44",
        "11/23/2022 15:35:06",
        "11/24/2022 16:57:57",
        "11/24/2022 17:13:53",
        "11/24/2022 17:26:43",
        "11/25/2022 10:23:36",
        "11/25/2022 11:58:37",
        "11/25/2022 16:22:04",
        "11/29/2022 10:55:55",
        "11/29/2022 11:41:24",
        "11/30/2022 10:03:50",
        "11/30/2022 14:56:29",
        "12/1/2022 12:38:09",
        "12/5/2022 9:59:39",
        "12/5/2022 14:54:09",
        "12/6/2022 11:13:46",
        "12/6/2022 15:43:39",
        "12/6/2022 15:57:53",
        "12/7/2022 11:19:00",
        "12/9/2022 10:12:41",
        "12/9/2022 10:23:03",
        "12/9/2022 14:54:35",
        "12/9/2022 15:05:57",
        "12/9/2022 15:07:56",
        "12/13/2022 11:54:11",
        "12/14/2022 10:35:28",
        "12/14/2022 10:39:55",
        "12/14/2022 11:12:05",
        "12/14/2022 11:33:56",
        "12/14/2022 11:36:18",
        "12/15/2022 11:12:22",
        "12/19/2022 9:37:22",
        "12/19/2022 11:24:38",
        "12/20/2022 15:30:11",
        "12/20/2022 16:37:02",
        "12/21/2022 10:44:09",
        "12/22/2022 11:51:24",
        "12/28/2022 15:12:05",
        "12/30/2022 12:36:49",
        "12/30/2022 14:09:13",
        "12/30/2022 14:42:12",
        "1/3/2023 10:49:17",
        "1/3/2023 12:24:07",
        "1/3/2023 17:42:08",
        "1/3/2023 17:58:44",
        "1/5/2023 12:43:46",
        "1/11/2023 9:56:53",
        "1/11/2023 13:55:02",
        "1/11/2023 14:07:57",
        "1/12/2023 12:12:49",
        "1/13/2023 12:56:46",
        "1/16/2023 14:39:41",
        "1/16/2023 14:47:59",
        "1/20/2023 10:10:46",
        "1/25/2023 9:26:35",
        "1/30/2023 9:36:09",
        "1/30/2023 9:56:05",
        "1/30/2023 10:48:14",
        "1/30/2023 10:57:51",
        "1/30/2023 11:38:17",
        "1/30/2023 12:12:08",
        "1/30/2023 12:23:40",
        "1/30/2023 17:10:03",
        "1/31/2023 11:26:34",
        "1/31/2023 19:59:27",
        "2/1/2023 15:42:34",
        "2/2/2023 11:55:01",
        "2/2/2023 12:26:06",
        "2/2/2023 15:35:33",
        "2/3/2023 14:01:14",
        "2/7/2023 8:11:24",
        "2/7/2023 8:17:15",
        "2/7/2023 10:36:19",
        "2/7/2023 14:35:27",
        "2/8/2023 12:15:04",
        "2/8/2023 14:47:35",
        "2/9/2023 16:35:05",
        "2/10/2023 10:12:20",
        "2/13/2023 10:47:45",
        "2/13/2023 17:17:45",
        "2/15/2023 9:38:08",
        "2/17/2023 15:41:32",
        "2/20/2023 10:47:22",
        "2/20/2023 10:50:56",
        "2/20/2023 12:38:30",
        "2/20/2023 12:40:37",
        "2/20/2023 15:03:12",
        "2/20/2023 15:07:07",
        "2/20/2023 16:12:44",
        "2/22/2023 9:25:51",
        "2/23/2023 10:34:35",
        "2/23/2023 11:55:35",
        "2/23/2023 12:24:24",
        "2/27/2023 15:19:21",
        "2/28/2023 14:34:06",
        "3/3/2023 11:59:45",
        "3/3/2023 15:27:58",
        "3/4/2023 9:56:15",
        "3/6/2023 11:22:10",
        "3/9/2023 14:16:17",
        "3/9/2023 14:34:56",
        "3/14/2023 13:19:57",
        "3/16/2023 9:04:58",
        "3/17/2023 14:46:51",
        "3/18/2023 14:03:25",
        "3/22/2023 12:33:10",
        "3/24/2023 14:18:19",
        "3/30/2023 16:01:37",
        "3/31/2023 9:01:37",
        "4/3/2023 12:51:25",
        "4/3/2023 15:47:26",
        "4/3/2023 17:08:59",
        "4/3/2023 20:59:58",
        "4/4/2023 8:48:29",
        "4/5/2023 10:33:56",
        "4/5/2023 12:16:46",
        "4/5/2023 22:51:27",
        "4/7/2023 12:26:22",
        "4/11/2023 12:01:56",
        "4/11/2023 12:06:57",
        "4/11/2023 12:23:32",
        "4/11/2023 12:28:08",
        "4/11/2023 12:31:30",
        "4/11/2023 17:23:35",
        "4/12/2023 10:57:32",
        "4/12/2023 14:24:05",
        "4/12/2023 19:51:03",
        "4/12/2023 19:58:40",
        "4/12/2023 19:59:24",
        "4/12/2023 20:01:55",
        "4/12/2023 20:03:32",
        "4/12/2023 20:04:21",
        "4/12/2023 20:04:47",
        "4/14/2023 11:01:02",
        "4/14/2023 14:38:03",
        "4/17/2023 19:46:52",
        "4/17/2023 19:48:00",
        "4/18/2023 12:12:21",
        "4/19/2023 10:59:35",
        "4/20/2023 11:07:11",
        "4/26/2023 12:42:25",
        "4/26/2023 12:53:49",
        "4/26/2023 14:14:34",
        "4/26/2023 14:19:21",
        "4/26/2023 14:35:56",
        "4/26/2023 15:50:28",
        "4/26/2023 17:16:42",
        "4/27/2023 12:25:24",
        "4/28/2023 12:37:42",
        "4/28/2023 12:53:24",
        "4/28/2023 13:17:20",
        "5/3/2023 9:47:08",
        "5/3/2023 10:04:19",
        "5/3/2023 13:29:58",
        "5/3/2023 13:39:52",
        "5/3/2023 16:43:39",
        "5/4/2023 11:46:27",
        "5/5/2023 12:11:20",
        "5/5/2023 12:40:14",
        "5/5/2023 19:14:04",
        "5/8/2023 13:26:59",
        "5/9/2023 11:34:16",
        "5/10/2023 10:19:24",
        "5/11/2023 15:31:57",
        "5/14/2023 15:05:47",
        "5/15/2023 13:22:07",
        "5/15/2023 13:26:34",
        "5/15/2023 13:38:15",
        "5/15/2023 16:27:49",
        "5/16/2023 10:05:05",
        "5/17/2023 14:53:11",
        "5/18/2023 16:54:00",
        "5/22/2023 12:26:32",
        "5/22/2023 14:06:27",
        "5/23/2023 15:43:09",
        "5/23/2023 16:09:01",
        "5/24/2023 17:53:24",
        "5/25/2023 10:12:06",
        "5/25/2023 11:33:21",
        "5/29/2023 14:58:56",
        "5/30/2023 13:02:51",
        "6/1/2023 12:57:28",
        "6/1/2023 14:54:03",
        "6/1/2023 16:44:28",
        "6/2/2023 10:48:53",
        "6/7/2023 10:11:20",
        "6/8/2023 10:04:28",
        "6/8/2023 10:25:36",
        "6/8/2023 13:39:52",
        "6/8/2023 16:56:22",
        "6/8/2023 17:12:02",
        "6/12/2023 10:47:10",
        "6/13/2023 10:10:21",
        "6/13/2023 16:29:20",
        "6/16/2023 14:12:30",
        "6/16/2023 14:17:12",
        "6/16/2023 14:20:07",
        "6/19/2023 10:59:24",
        "6/19/2023 12:17:11",
        "6/23/2023 14:42:06",
        "6/27/2023 10:28:57",
        "6/27/2023 13:45:27",
        "6/27/2023 14:23:36",
        "6/28/2023 11:53:56",
        "6/30/2023 13:45:58",
        "6/30/2023 16:26:57",
        "7/4/2023 9:33:27",
        "7/4/2023 14:42:44",
        "7/4/2023 16:43:17",
        "7/4/2023 16:51:21",
        "7/6/2023 9:56:56",
        "7/6/2023 15:59:55",
        "7/7/2023 17:16:52",
        "7/10/2023 22:01:35",
        "7/12/2023 9:55:34",
        "7/12/2023 16:07:20",
        "7/13/2023 9:26:40",
        "7/13/2023 14:34:29",
        "7/13/2023 17:10:34",
        "7/14/2023 12:25:54",
        "7/14/2023 14:25:15",
        "7/14/2023 15:49:46",
        "7/17/2023 11:53:19",
        "7/18/2023 12:49:05",
        "7/18/2023 16:53:14",
        "7/20/2023 10:13:40",
        "7/21/2023 6:43:34",
        "7/24/2023 10:17:43",
        "7/24/2023 15:03:50",
        "7/24/2023 22:39:42",
        "7/25/2023 10:50:11",
        "7/25/2023 12:30:36",
        "7/27/2023 11:15:25",
        "7/27/2023 12:38:08",
        "7/28/2023 12:48:52",
        "7/31/2023 15:35:42",
        "7/31/2023 15:45:37",
        "8/7/2023 9:14:04",
        "8/7/2023 11:34:49",
        "8/7/2023 11:36:43",
        "8/8/2023 12:18:51",
        "8/8/2023 12:22:23",
        "8/8/2023 12:31:42",
        "8/8/2023 16:32:00",
        "8/10/2023 9:27:39",
        "8/10/2023 11:34:06",
        "8/11/2023 9:36:45",
        "8/11/2023 10:03:23",
        "8/11/2023 17:24:49",
        "8/14/2023 9:19:05",
        "8/14/2023 13:36:26",
        "8/14/2023 13:44:34",
        "8/14/2023 15:15:06",
        "8/14/2023 16:57:30",
        "8/14/2023 16:59:56",
        "8/14/2023 17:02:59",
        "8/14/2023 17:04:04",
        "8/15/2023 4:07:21",
        "8/15/2023 4:20:05",
        "8/15/2023 10:21:13",
        "8/16/2023 8:52:48",
        "8/16/2023 8:58:57",
        "8/18/2023 15:56:46",
        "8/21/2023 16:36:26",
        "8/22/2023 9:20:26",
        "8/22/2023 11:02:18",
        "8/22/2023 12:13:42",
        "8/22/2023 15:01:56",
        "8/22/2023 15:44:54",
        "8/23/2023 11:15:12",
        "8/23/2023 11:25:01",
        "8/23/2023 12:11:06",
        "8/23/2023 12:15:57",
        "8/23/2023 13:02:56",
        "8/23/2023 15:02:03",
        "8/23/2023 15:14:13",
        "8/23/2023 15:19:06",
        "8/23/2023 16:29:20",
        "8/24/2023 7:06:14",
        "8/24/2023 8:39:35",
        "8/24/2023 10:29:39",
        "8/24/2023 10:32:50",
        "8/24/2023 10:51:38",
        "8/24/2023 11:18:38",
        "8/24/2023 11:32:16",
        "8/24/2023 11:36:49",
        "8/24/2023 11:47:59",
        "8/24/2023 12:07:19",
        "8/24/2023 12:14:24",
        "8/24/2023 13:56:02",
        "8/25/2023 2:58:25",
        "8/25/2023 3:07:40",
        "8/25/2023 11:18:24",
        "8/25/2023 11:21:23",
        "8/25/2023 13:04:26",
        "8/27/2023 23:51:33",
        "8/28/2023 11:41:54",
        "8/29/2023 15:38:45",
        "9/1/2023 9:24:30",
        "9/1/2023 9:49:17",
        "9/4/2023 11:01:42",
        "9/4/2023 12:04:09",
        "9/4/2023 15:40:23",
        "9/4/2023 16:42:49",
        "9/5/2023 10:13:52",
        "9/5/2023 10:15:49",
        "9/5/2023 13:36:50",
        "9/5/2023 14:08:09",
        "9/5/2023 14:29:52",
        "9/5/2023 14:51:24",
        "9/5/2023 15:01:39",
        "9/5/2023 16:35:54",
        "9/6/2023 2:08:00",
        "9/6/2023 14:57:21",
        "9/6/2023 16:09:00",
        "9/6/2023 16:11:04",
        "9/6/2023 16:12:47",
        "9/7/2023 14:36:14",
        "9/11/2023 10:42:02",
        "9/11/2023 10:54:03",
        "9/11/2023 12:12:25",
        "9/11/2023 12:15:50",
        "9/11/2023 13:47:29",
        "9/11/2023 13:52:38",
        "9/12/2023 12:06:05",
        "9/12/2023 14:24:04",
        "9/12/2023 14:33:25",
        "9/12/2023 14:40:24",
        "9/12/2023 21:04:38",
        "9/12/2023 21:10:11",
        "9/12/2023 21:16:40",
        "9/13/2023 11:29:25",
        "9/13/2023 11:33:42",
        "9/13/2023 11:34:54",
        "9/13/2023 12:47:54",
        "9/13/2023 12:51:07",
        "9/13/2023 15:10:55",
        "9/13/2023 15:12:55",
        "9/14/2023 9:59:41",
        "9/15/2023 9:39:04",
        "9/15/2023 12:57:24",
        "9/19/2023 12:43:07",
        "9/19/2023 12:49:26",
        "9/19/2023 13:36:15",
        "9/19/2023 14:19:33",
        "9/19/2023 14:29:58",
        "9/19/2023 15:05:45",
        "9/19/2023 15:30:33",
        "9/19/2023 15:51:30",
        "9/19/2023 15:55:13",
        "",
        "[41501]-2023-09-14 23:01:03.913+08",
        "[41501]-2023-09-12 00:25:44.599+08",
        "[44437]-2023-09-09 15:36:50.224+08",
        "[41501]-2023-09-01 22:47:17.85+08",
        "[6156]-2023-08-29 11:41:33.223+08",
        "[34904]-2023-08-28 17:10:31.593+08",
        "[44437]-2023-08-23 15:26:54.068+08",
        "[6156]-2023-08-16 16:51:28.221+08",
        "[6156]-2023-08-14 18:07:05.155+08",
        "[6156]-2023-08-14 09:37:38.656+08",
        "[6156]-2023-08-13 12:14:39.067+08",
        "[44437]-2023-08-11 18:06:09.108+08",
        "[6156]-2023-08-11 18:53:11.326+08",
        "[44437]-2023-08-08 12:12:44.689+08",
        "[6156]-2023-08-11 17:31:58.41+08",
        "[34904]-2023-08-05 17:26:29.68+08",
        "[239]-2023-08-04 16:13:53.756+08",
        "[239]-2023-07-21 19:00:48.976+08",
        "[239]-2023-07-21 15:33:16.116+08",
        "[239]-2023-07-21 01:07:04.739+08",
        "[239]-2023-07-20 07:42:47.093+08",
        "[239]-2023-07-19 22:43:17.705+08",
        "[239]-2023-07-18 18:02:53.598+08",
        "[239]-2023-07-18 13:42:35.728+08",
        "[239]-2023-07-18 00:27:05.233+08",
        "[239]-2023-07-17 07:08:02.113+08",
        "[239]-2023-07-16 20:49:20.82+08",
        "[239]-2023-07-14 15:39:12.745+08",
        "[239]-2023-07-13 09:42:10.53+08",
        "[239]-2023-07-12 17:58:33.223+08",
        "2023-28-B1766NZJ",
        "2023-28-VGV9583",
        "2023-28-TBR8737",
        "2023-27-VGV9583",
        "2023-27-B2214PKN",
        "2023-27-B1766NZJ",
        "2023-27-JVP2978",
        "2023-27-VEE1349",
        "2023-27-TBR8737",
        "2023-27-PMB877",
        "2023-27-VT1554",
        "2023-27-B1782WOV",
        "2023-26-B1782WOV",
        "2023-26-VT1554",
        "2023-26-VEE1349",
        "2023-26-TBR8737",
        "2023-26-SWF1483",
        "2023-26-PMB877",
        "2023-26-VP8399",
        "2023-25-QLB2070",
        "2023-25-JPK3454",
        "2023-25-WYX7717",
        "2023-25-WA9743J",
        "2023-25-AB1613HY",
        "2023-25-JSG1029",
        "2023-25-WB475B",
        "2023-24-JSG1029",
        "2023-24-WB475B",
        "2023-24-AB1613HY",
        "2023-24-VGV9583",
        "2023-24-BRG7696",
        "2023-24-PNW3416",
        "2023-23-VGV9583",
        "2023-23-BRG7696",
        "2023-23-SB5733D",
        "2023-23-PNW3416",
        "2023-23-JTE1334",
        "2023-23-VBJ2747",
        "2023-23-B1593ZKG",
        "2023-23-WB4522E",
        "2023-23-ADF127",
        "2023-23-VJC6834",
        "2023-23-BRB1185",
        "2023-22-VBJ2747",
        "2023-22-VGY2922",
        "2023-22-ADF127",
        "2023-22-JVR106",
        "2023-22-BRB1185",
        "2023-22-B2137BZQ",
        "2023-22-B1593ZKG",
        "2023-22-WB4522E",
        "2023-22-JTE1334",
        "2023-22-X526",
        "2023-22-VAX2390",
        "2023-22-VJC6834",
        "2023-22-ST3302W",
        "2023-22-SMA7752",
        "2023-22-JQX7034",
        "2023-22-WNR22",
        "2023-21-WNR22",
        "2023-21-JQX7034",
        "2023-21-WYM3951",
        "2023-21-SAC203A",
        "2023-21-VJK6442",
        "2023-20-SAC203A",
        "2023-20-VJK6442",
        "2023-20-WA7978F",
        "2023-20-WNR22",
        "2023-20-VGY2922",
        "2023-20-BNG2705",
        "2023-20-SMB3309",
        "2023-20-JPV3628",
        "2023-20-VGV9583",
        "2023-20-BPG6725",
        "2023-20-W9455C",
        "2023-19-JPV3628",
        "2023-19-WNR22",
        "2023-19-W9455C",
        "2023-19-VGV9583",
        "2023-19-BPG6725",
        "2023-19-SMB3309",
        "2023-19-B1628FGY",
        "2023-19-VBJ2732",
        "2023-19-JUE9319",
        "2023-19-WXF2908",
        "2023-19-SAC203A",
        "2023-19-F7946",
        "2023-19-VDR2788",
        "2023-18-VDR2788",
        "2023-18-SAC203A",
        "2023-18-WXF2908",
        "2023-18-SB5733D",
        "2023-18-VFN4756",
        "2023-18-B1731RKT",
        "2023-18-JVR705",
        "2023-18-JSX2837",
        "2023-18-B1577NZJ",
        "2023-18-F7946",
        "2023-18-JPQ6918",
        "2023-18-SS7026W",
        "2023-17-F7946",
        "2023-17-JPQ6918",
        "2023-17-B1577NZJ",
        "2023-17-JSX2837",
        "2023-17-SS7026W",
        "2023-17-B1731RKT",
        "2023-17-VEE1349",
        "2023-17-VCL627",
        "2023-17-B2867UFB",
        "2023-17-JVR705",
        "2023-17-BNK1373",
        "2023-17-VEF984",
        "2023-17-VEW479",
        "2023-17-VCW1563",
        "2023-17-VDT8946",
        "2023-17-VEB9994_1682014695",
        "2023-17-VEY8225",
        "2023-17-B2193BZF",
        "2023-17-JVG6501",
        "2023-17-RAJ696",
        "2023-17-D1204UBN",
        "2023-17-VDS1669",
        "2023-17-VBF5687",
        "2023-17-VJY2434_1681821722",
        "2023-17-KT1473KT",
        "2023-17-SU3834G",
        "2023-17-VHW4223",
        "2023-17-B1704BIV",
        "2023-17-VGE1472",
        "2023-17-D1076XXY",
        "2023-17-CDD5551",
        "2023-17-B1445ERX",
        "2023-17-B2783UKJ",
        "2023-17-SMF3280",
        "2023-17-VKA347",
        "2023-17-B1359VOW",
        "2023-17-VFH7340",
        "2023-17-VAJ6696",
        "2023-17-SWA323",
        "2023-17-VGJ6424",
        "2023-17-B1277NG",
        "2023-17-D1808AIV",
        "2023-17-ST563X",
        "2023-17-TY919",
        "2023-17-B2079PFH",
        "2023-17-VDT8632",
        "2023-17-WC8015H",
        "2023-17-AMJ5026",
        "2023-17-SYU1229",
        "2023-17-SYP9979",
        "2023-17-JVV517",
        "2023-16-SWA323",
        "2023-16-VBF5687",
        "2023-16-B2079PFH",
        "2023-16-VAJ6696",
        "2023-16-SYP9979",
        "2023-16-JVV517",
        "2023-16-VFH7340",
        "2023-16-WC8015H",
        "2023-16-SMF3280",
        "2023-16-VGJ6424",
        "2023-16-VKA347",
        "2023-16-SU3834G",
        "2023-16-CDD5551",
        "2023-16-VEY8225",
        "2023-16-VEB9994_1682014695",
        "2023-16-AMJ5026",
        "2023-16-D1204UBN",
        "2023-16-VDT8632",
        "2023-16-BNV7051",
        "2023-16-B1445ERX",
        "2023-16-RAJ696",
        "2023-16-JVR705",
        "2023-16-VEW479",
        "2023-16-KT1473KT",
        "2023-16-B1359VOW",
        "2023-16-VDT8946",
        "2023-16-JVG6501",
        "2023-16-VEF984",
        "2023-16-VEB9994",
        "2023-16-TY919",
        "2023-16-VF5528",
        "2023-16-SAC203A",
        "2023-16-ST563X",
        "2023-16-B2867UFB",
        "2023-16-VJY2434_1681821722",
        "2023-16-NDT9993",
        "2023-16-B2783UKJ",
        "2023-16-B1704BIV",
        "2023-16-VJY2434",
        "2023-16-VDS1669",
        "2023-16-VCW1563",
        "2023-16-BNK1373",
        "2023-16-VHW4223",
        "2023-16-B2193BZF",
        "2023-16-VGE1472",
        "2023-16-VDB1206",
        "2023-16-B1277NG",
        "2023-16-D1076XXY",
        "2023-16-B2553TYL",
        "2023-16-B1593ZKG-",
        "2023-16-D1808AIV",
        "2023-16-JRE8320",
        "2023-16-JUJ4744",
        "2023-16-WC1845G",
        "2023-16-SY6485",
        "2023-15-WC1845G",
        "2023-15-BRA8494",
        "2023-15-SY6485",
        "2023-15-B2553TYL",
        "2023-15-D1808AIV",
        "2023-15-B1593ZKG-",
        "2023-15-JUJ4744",
        "2023-15-JRE8320",
        "2023-15-W5518S",
        "2023-15-SAB9270X",
        "2023-15-D1315AIV",
        "2023-15-SAC203A",
        "2023-15-WB7344W",
        "2023-15-VC9751",
        "2023-15-BPG6725",
        "2023-15-VFH1995",
        "2023-14-VC9751",
        "2023-14-D1315AIV",
        "2023-14-VFH1995",
        "2023-14-BPG6725",
        "2023-14-D1697AHB",
        "2023-14-SB5733D",
        "2023-14-PPL2946",
        "2023-14-WB7344W",
        "2023-14-SAC203A",
        "2023-14-L1241CAB",
        "2023-14-ST563X",
        "2023-14-VGV9583",
        "2023-13-ST563X",
        "2023-13-SWF1483",
        "2023-13-F7946",
        "2023-13-L1241CAB",
        "2023-13-VGV9583",
        "2023-13-B2306BOI",
        "2023-13-SAC203A",
        "2023-13-WB1517K",
        "2023-13-CDK1238_1679905446",
        "2023-13-B2804TIT",
        "2023-13-CDK1238",
        "2023-12-CDK1238",
        "2023-12-B2804TIT",
        "2023-12-WNR22",
        "2023-12-WYQ1125",
        "2023-12-DK1744OJ",
        "2023-12-BME3992",
        "2023-12-JVR106",
        "2023-12-PLA5063",
        27101,
        40670,
        42935,
        31947,
        40065,
        42131,
        12516,
        2970,
        40505,
        43392
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-26T04:00:03.660Z",
  "versionId": "ce10a81a-fc31-4a27-9610-b102010f7abf"
}