workflows/[JIUN] [HOST COMMUNITY] [TREVO Insurance] [GCHAT]- Insurance Expiry Slack Reminder.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "60D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "60D": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30D": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7D": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Code15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1D": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "CENTRAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "NORTHERN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "CENTRAL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "NORTHERN2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "SOUTHERN2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "EASTERN2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "NORTHERN3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "SOUTHERN3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "EASTERN3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "CENTRAL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code12": {
      "main": [
        [
          {
            "node": "NORTHERN4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "SOUTHERN4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code14": {
      "main": [
        [
          {
            "node": "EASTERN4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code15": {
      "main": [
        [
          {
            "node": "CENTRAL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "SOUTHERN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "EASTERN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-14T05:16:47.950Z",
  "id": "61",
  "name": "[JIUN] [HOST COMMUNITY] [TREVO Insurance] [GCHAT]- Insurance Expiry Slack Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "101b5aa8-18c8-4a65-ba6a-e52ee7ea5085",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIMEZONE = 'Asia/Kuala_Lumpur';\n\nselect distinct l.id, \nl.registration_no, \nconcat('https://gearbox.trevo.my/trevo-listings/?id=',l.id) as GB_link,\ncase when ht.host_type is null then 'Organic' else ht.host_type end as host_type,\nbr.name as brand, \ncase when POSITION(' ' IN trim(regexp_replace(regexp_replace(INITCAP(m.name),'^([a-z]{1,3})-','\\1'),'([a-z]{3,})-','\\1 '))) > 0 \nthen trim(SUBSTR(trim(regexp_replace(regexp_replace(INITCAP(m.name),'^([a-z]{1,3})-','\\1'),'([a-z]{3,})-','\\1 ')),1, \nPOSITION(' ' IN trim(regexp_replace(regexp_replace(INITCAP(m.name),'^([a-z]{1,3})-','\\1'),'([a-z]{3,})-','\\1 ')))))\nelse trim(regexp_replace(regexp_replace(INITCAP(m.name),'^([a-z]{1,3})-','\\1'),'([a-z]{3,})-','\\1 ')) end as car_model_regex,\ncase when ll.city_id in (1) then 'KV'   \nwhen ll.city_id in (2,12) then 'PGM' when ll.city_id in (48) then 'PGI'\nwhen ll.city_id in (3,19,20,21) then 'KK'   when ll.city_id in (4) then 'JB' \nwhen ll.city_id in (5) then 'IP'   when ll.city_id in (47) then 'NS'\nwhen ll.city_id in (13) then 'LGK' \nwhen ll.city_id in (14) then 'PRLS'\nwhen ll.city_id in (15) then 'MLK'\nwhen ll.city_id in (16) then 'PHG'\nwhen ll.city_id in (17) then 'TRGN'\nwhen ll.city_id in (18) then 'KLT'\nwhen ll.city_id in (22,23) then 'KCH'\nelse 'Others' end as City,\nl.user_id, \nconcat(u.first_name,' ',u.last_name)as host_name, \nu.email, \nu.phone_number, \nl.status, \nl.created_at, \nli.name as insurance,\nli.insured_amount,\nto_char(li.expiry,'YYYY-MM-DD') as expiry,\nDATE_PART('day', li.expiry - NOW()) as days_left_expiry,\ncc.name as comm,\nsc.name as SC_PIC,\nt.name as CT_PIC,\ncase \n  when ((DATE_PART('day', li.expiry - NOW())) <= 60 and (DATE_PART('day', li.expiry - NOW()))>= 31) then '<=60'\n  when ((DATE_PART('day', li.expiry - NOW())) <= 30 and (DATE_PART('day', li.expiry - NOW()))>= 8) then '<=30'\n  when ((DATE_PART('day', li.expiry - NOW())) <= 7 and (DATE_PART('day', li.expiry - NOW()))>= 2) then '<=7'\n  when ((DATE_PART('day', li.expiry - NOW())) <= 1 and (DATE_PART('day', li.expiry - NOW()))>= 0) then '<=1'\n  else 'Others' \nend as expiring_group, \nclt.clt\nfrom listings l \nleft join users u on u.id = l.user_id\nleft join listing_insurance li on li.listing_id = l.id\nleft join models m on m.id = l.model_id\nleft join brands br on br.id = m.brand_id\nleft join listing_commission_class lcc on lcc.listing_id = l.id\nleft join commission_class cc on cc.id = lcc.commission_id\nleft join (select distinct listing_id, country, city_id from listing_location) ll on ll.listing_id = l.id\nleft join companies c on c.owner_id = l.user_id\nleft join tag_taggables tt on tt.taggable_id = l.id \nleft join tags t on t.id = tt.tag_id and t.name like 'CT -%'\n--\n        left join \n        (select distinct b.listing_id,\n        max(b.created_at) as clt\n        from bookings b \n        where b.status = 'completed'\n        and b.request_start_at between (NOW() - interval'90 days') and NOW()\n        group by 1)A\n        on A.listing_id = l.id\n--\n        left join\n        (select distinct l.user_id, l.id, t.name as host_type\n        from listings l\n        left join tag_taggables tt on tt.taggable_id = l.user_id \n        left join tags t on t.id = tt.tag_id\n        where t.name ~* '(entrepreneur|commercial)')ht\n        on ht.user_id = l.user_id\n--\n\t\tleft join \n        (select distinct l.id, \n        t.name\n        from listings l \n        left join tag_taggables tt on tt.taggable_id = l.id \n        left join tags t on t.id = tt.tag_id \n        where t.name like 'SC -%')SC\n        on SC.id = l.id\n--\n        left join \n        (select distinct b.listing_id,\n        max(b.request_end_at) as clt\n        from bookings b \n        where b.status = 'completed'\n        and b.request_end_at between (NOW() - interval'90 days') and NOW()\n        group by 1)clt\n        on clt.listing_id = l.id\n--\nwhere l.status = 'approved'\nand l.deleted_at is null\nand ll.country = 'Malaysia'\n--and li.expiry >= NOW()\ngroup by 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22\nhaving (case when ht.host_type is null then 'Organic' else ht.host_type end) != 'Commercial Host' \nand DATE_PART('day', li.expiry - NOW()) <= '60'\norder by 15 desc",
        "additionalFields": {}
      },
      "id": "cfce48dd-afeb-46c0-8e07-12fd4ab78a94",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        560,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.expiring_group }}",
              "value2": "<=60"
            }
          ]
        }
      },
      "id": "298a21ac-6bc0-45e9-9a7f-7e5d9938d735",
      "name": "60D",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.expiring_group }}",
              "value2": "<=30"
            }
          ]
        }
      },
      "id": "d80b2527-37a5-4086-a399-dcd90c10a24e",
      "name": "30D",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.expiring_group }}",
              "value2": "<=7"
            }
          ]
        }
      },
      "id": "ccbee263-440e-4ab4-9c40-05565ae13e14",
      "name": "7D",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2180,
        760
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.city }}",
        "rules": {
          "rules": [
            {
              "value2": "KV"
            },
            {
              "value2": "NS"
            },
            {
              "value2": "PGI",
              "output": 1
            },
            {
              "value2": "PGM",
              "output": 1
            },
            {
              "value2": "LGK",
              "output": 1
            },
            {
              "value2": "IP",
              "output": 1
            },
            {
              "value2": "JB",
              "output": 2
            },
            {
              "value2": "KK",
              "output": 3
            }
          ]
        }
      },
      "id": "85199c16-f1a8-4612-b0c4-55e4b043b39e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1080,
        -40
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.city }}",
        "rules": {
          "rules": [
            {
              "value2": "KV"
            },
            {
              "value2": "NS"
            },
            {
              "value2": "PGI",
              "output": 1
            },
            {
              "value2": "PGM",
              "output": 1
            },
            {
              "value2": "LGK",
              "output": 1
            },
            {
              "value2": "IP",
              "output": 1
            },
            {
              "value2": "JB",
              "output": 2
            },
            {
              "value2": "KK",
              "output": 3
            }
          ]
        }
      },
      "id": "804a970c-bf99-497b-8b02-75ee0141af80",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1800,
        160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.city }}",
        "rules": {
          "rules": [
            {
              "value2": "KV"
            },
            {
              "value2": "NS"
            },
            {
              "value2": "PGI",
              "output": 1
            },
            {
              "value2": "PGM",
              "output": 1
            },
            {
              "value2": "LGK",
              "output": 1
            },
            {
              "value2": "IP",
              "output": 1
            },
            {
              "value2": "JB",
              "output": 2
            },
            {
              "value2": "KK",
              "output": 3
            }
          ]
        }
      },
      "id": "0bd369b8-31ff-45e6-b679-e2662e5a5a90",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2440,
        420
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.city }}",
        "rules": {
          "rules": [
            {
              "value2": "KV"
            },
            {
              "value2": "NS"
            },
            {
              "value2": "PGI",
              "output": 1
            },
            {
              "value2": "PGM",
              "output": 1
            },
            {
              "value2": "LGK",
              "output": 1
            },
            {
              "value2": "IP",
              "output": 1
            },
            {
              "value2": "JB",
              "output": 2
            },
            {
              "value2": "KK",
              "output": 3
            }
          ]
        }
      },
      "id": "f7b47244-5187-4213-acb5-9453b9285a75",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3120,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.expiring_group }}",
              "value2": "<=1"
            }
          ]
        }
      },
      "id": "63da4b59-b67f-4c77-8d88-b85518d732af",
      "name": "1D",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2860,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM",
          "mode": "list",
          "cachedResultName": "TREVO Listings Insurance Expiry Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[N8N Import] RAW Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit#gid=0"
        },
        "dataMode": "autoMapInputData",
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "779c3aac-ebe9-4c5f-b6de-ead67b07d656",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        840,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "19",
          "name": "Google Sheet - Jiun's Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "3f41b91e-0789-41ef-b80f-3a97290d7f9b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1320,
        -260
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "bb487575-67e6-4e65-a0a8-c7b56d4c8e98",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1320,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "b47502de-223c-4b8e-b93d-b1923e947b58",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "8e866120-6ea7-4c5f-b2fa-2b6ab5778ed2",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1320,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "a5a0522d-71c6-4688-ae5f-78f27e35c569",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2020,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "1560ad57-61d2-43b2-8308-d5b98a41d7d1",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2020,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "3424846b-47b9-4c84-9e01-581c85c4d36e",
      "name": "Code6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2020,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "499845f4-9bdb-4e7c-88de-4077fc9ea8c7",
      "name": "Code7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2020,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "8f0b4b45-e957-45e8-9ec1-90dc0ec18bbf",
      "name": "Code8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2680,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "45d628dd-9cb2-4bf0-a5e4-9271dd6bb495",
      "name": "Code9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2680,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "24f31ade-45e8-4dc5-9a70-300213db89c1",
      "name": "Code10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2680,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "a74592ec-944b-4b17-aaa8-36c89d3d4e3b",
      "name": "Code11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2680,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "da88015e-c2c9-4931-ad03-4c17752e5d2e",
      "name": "Code12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3340,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "0bbc150f-326e-4b67-a47b-c9833581e970",
      "name": "Code13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3340,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "aa07e2bc-d1cd-4103-8ded-96f0add90cf4",
      "name": "Code14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3340,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      results: items.length,\n    }\n  }\n];"
      },
      "id": "0d4741ea-e493-4288-93a0-d2da1699f2d8",
      "name": "Code15",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3340,
        420
      ]
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAuAnAjjE",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 60D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "52817cb4-6666-429b-b80c-ecd0ef8f6ecd",
      "name": "CENTRAL",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1500,
        -260
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAty2-MzA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 60D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "719d1f9f-a78b-4f75-b627-d992c8682183",
      "name": "NORTHERN",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1500,
        -80
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAOZfALAA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 60D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "c814d41c-c5b3-411a-9448-8a2d5b85992b",
      "name": "SOUTHERN",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1500,
        80
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAgvG0aiA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 60D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "0e611599-6e6c-4aa7-ab62-ce86b472ec18",
      "name": "EASTERN",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1500,
        280
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAuAnAjjE",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 30D. \n\nPlease keep track of each conversion via:\nhttps://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "b1688b83-1b75-43dd-9212-06f6b21b71e2",
      "name": "CENTRAL2",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2200,
        -100
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAty2-MzA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 30D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "6ef049f1-9bd9-4b5a-b50c-a4b6889e8848",
      "name": "NORTHERN2",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2200,
        80
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAOZfALAA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 30D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "ae8035d8-1ede-49b9-86f2-c492467b220f",
      "name": "SOUTHERN2",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2200,
        240
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAgvG0aiA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 30D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "e12558f4-c754-41ee-9b08-1d1b1ffcfc54",
      "name": "EASTERN2",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2200,
        440
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAuAnAjjE",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 7D. \n\nPlease keep track of each conversion via:\nhttps://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "bd202171-f1df-4449-b8d7-952c37319d44",
      "name": "CENTRAL3",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2860,
        140
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAty2-MzA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 7D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "ffe5da9d-e3ab-41c3-95f7-520b91fa8c4f",
      "name": "NORTHERN3",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2860,
        320
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAOZfALAA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 7D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "94e0d05c-835e-49c1-b58a-a56eba8a6a18",
      "name": "SOUTHERN3",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2860,
        480
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAgvG0aiA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 7D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "5d0d25b8-931f-4057-83aa-f151f78c67f5",
      "name": "EASTERN3",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        2860,
        680
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAuAnAjjE",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 1D. \n\nPlease keep track of each conversion via:\nhttps://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "084edeae-1bbb-4c8d-a9be-db2299cb6253",
      "name": "CENTRAL4",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        3520,
        420
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAty2-MzA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 1D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "1ac6984e-8d9d-4f87-a37c-7d03ea0793fe",
      "name": "NORTHERN4",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        3520,
        600
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAOZfALAA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 1D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "1448505e-1be4-4865-a659-8b12b95ceb4d",
      "name": "SOUTHERN4",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        3520,
        760
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAgvG0aiA",
        "messageUi": {
          "text": "=THERE ARE {{ $json[\"results\"] }} LISTINGS WITH INSURANCE EXPIRING IN 1D.  \n\nPlease keep track of each conversion via: https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=sharing"
        },
        "additionalFields": {}
      },
      "id": "8686a9e6-b808-4deb-9a38-3e184da98baa",
      "name": "EASTERN4",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        3520,
        960
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM",
          "mode": "list",
          "cachedResultName": "TREVO Listings Insurance Expiry Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "[N8N Import] RAW Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LW8u7WSA0LCV1aDiF51Fq1NbVXPZBAuglIDfsuX_uGM/edit#gid=0"
        },
        "clear": "specificRange",
        "range": "A2:Z"
      },
      "id": "8325f230-f9d6-4107-b0fe-6309eb01b574",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        400,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "19",
          "name": "Google Sheet - Jiun's Account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        48178,
        45897,
        48337,
        47964,
        46902,
        39931,
        46915,
        39006,
        39140,
        39267,
        39269,
        40301,
        42378,
        43288,
        44302,
        371,
        39115,
        39226,
        39373,
        39387,
        39683,
        40434,
        41407,
        44496,
        44497,
        44498,
        45095,
        35804,
        39076,
        39126,
        39144,
        39378,
        39414,
        40657,
        41154,
        41494,
        41883,
        42320,
        43551,
        45596,
        46470,
        47571,
        48110,
        39231,
        39319,
        39489,
        39568,
        40747,
        41464,
        41466,
        41472,
        41948,
        42100,
        42210,
        43530,
        43550,
        43796,
        43880,
        44726,
        45006,
        46787,
        47201,
        47290,
        47649,
        43766,
        43843,
        39349,
        40359,
        41055,
        41525,
        43526,
        45135,
        45219,
        48164,
        2964,
        48052,
        38083,
        46557,
        3761,
        38329,
        38295,
        38295,
        38366,
        38366,
        48076,
        48070,
        48006,
        4203,
        39069,
        39310,
        39506,
        41203,
        45678,
        48064,
        48148,
        19973,
        37646,
        38816,
        39374,
        39461,
        39525,
        41143,
        42253,
        43295,
        44696,
        45303,
        45839,
        38802,
        38862,
        38960,
        39264,
        40544,
        41013,
        42436,
        43089,
        43760,
        44329,
        45505,
        46334,
        46982,
        14686,
        19200,
        38822,
        38866,
        38867,
        38921,
        38935,
        38938,
        40994,
        42261,
        45948,
        46201,
        38912,
        39044,
        39071,
        39133,
        40061,
        40925,
        41149,
        42675,
        44703,
        46517,
        47136,
        42572,
        47813,
        37269,
        37569,
        37778,
        37779,
        37921,
        46891,
        47706,
        38246,
        47693,
        47919,
        38425,
        36733,
        39424,
        42018,
        46424,
        47440,
        37816,
        38553,
        38625,
        38695,
        38696,
        38697,
        38760,
        38875,
        38903,
        39001,
        39439,
        39975,
        40137,
        40286,
        41028,
        41526,
        42293,
        45000,
        45588,
        47637,
        27470,
        38716,
        38716,
        38717,
        38858,
        38861,
        38894,
        38899,
        39102,
        39154,
        39248,
        39275,
        39327,
        39371,
        39673,
        39718,
        39942,
        39963,
        39986,
        40528,
        40586,
        44370,
        44427,
        45564,
        46881,
        46941,
        47218,
        47299,
        47508,
        38003,
        39494,
        40480,
        40511,
        41266,
        41300,
        42660,
        29600,
        37099,
        38317,
        38911,
        42770,
        44216,
        45492,
        46125,
        34313,
        38692,
        38936,
        39562,
        39662,
        40220,
        40734,
        41231,
        42441,
        44032,
        47507,
        47543,
        41647,
        42476,
        47583,
        47665,
        47343,
        47736,
        47283,
        47482,
        47417,
        47490,
        38369,
        40049,
        41036,
        41222,
        42780,
        38414,
        38434,
        38473,
        38568,
        39610,
        39724,
        40584,
        41914,
        45094,
        47506,
        38278,
        38301,
        38351,
        38405,
        38581,
        39435,
        40397,
        41107,
        41637,
        42390,
        44155,
        44937,
        37643,
        38380,
        38442,
        38555,
        38671,
        38852,
        39279,
        43148,
        45387,
        45484,
        45954,
        46631,
        38358,
        38750,
        39142,
        41031,
        41516,
        41742,
        42864,
        6810,
        38384,
        38577,
        38658,
        39622,
        40724,
        41042,
        42156,
        42307,
        42335,
        43932,
        44248,
        45029,
        45521,
        38623,
        38884,
        38891,
        40594,
        40708,
        42198,
        47297,
        39293,
        41117,
        47387,
        47340,
        34,
        47392,
        47036,
        41309,
        39985,
        47138,
        26197,
        47277,
        38847,
        40823,
        24531,
        33151,
        39026,
        39145,
        39546,
        40116,
        41062,
        43465,
        44588,
        45343,
        46412,
        46765,
        38164,
        38322,
        42095,
        42292,
        43045,
        44200,
        45028,
        46195,
        38087,
        38367,
        38491,
        41142,
        44259,
        44288,
        10981,
        38253,
        39162,
        40154,
        42409,
        42544,
        45669,
        46737,
        47169,
        47333,
        38363,
        39669,
        40208,
        41009,
        42171,
        44883,
        45224,
        45314,
        46643,
        46743,
        38250,
        38627,
        38651,
        38797,
        40685,
        43669,
        44130,
        44560,
        47115,
        47141,
        47073,
        47060,
        47161,
        30397,
        47061,
        47153,
        46844,
        37045,
        38160,
        44435,
        37854,
        37856,
        37994,
        37994,
        38000,
        38000,
        38002,
        38002,
        38210,
        38397,
        41289,
        42833,
        43882,
        44814,
        37630,
        40668,
        44413,
        38007,
        38045,
        38090,
        38163,
        40776,
        46744,
        38308,
        38375,
        38871,
        39265,
        39664,
        40309,
        40394,
        40761,
        41968,
        44182,
        44201,
        44872,
        45041,
        45344,
        45344,
        45991,
        599,
        37437,
        38006,
        38345,
        38526,
        39012,
        40602,
        43086,
        43398,
        42389,
        46051,
        46949,
        46762,
        37636,
        46755,
        46852,
        46348,
        42962,
        37638,
        37880,
        38995,
        43193,
        43700,
        31714,
        41196,
        41916,
        42498,
        44303,
        10983,
        37783,
        40173,
        40227,
        40941,
        37726,
        38104,
        39719,
        44625,
        37982,
        24765,
        25226,
        36069,
        38842,
        40907,
        42115,
        37222,
        37864,
        38202,
        38672,
        43366,
        44224,
        45132,
        46368,
        46526,
        46511,
        46720,
        46655,
        46427,
        46565,
        46585,
        46573,
        6107,
        40702,
        42146,
        44844,
        46284,
        35416,
        36849,
        37314,
        37394,
        37531,
        38111,
        40522,
        41467,
        41743,
        43498,
        43598,
        46660,
        29135,
        37424,
        37660,
        38028,
        38189,
        38902,
        40765,
        40947,
        41166,
        41664,
        44094,
        44891,
        45319,
        6611,
        32406,
        37257,
        37500,
        37568,
        37867,
        38151,
        38404,
        38447,
        41577,
        42838,
        43859,
        44147,
        44195,
        46527,
        28257,
        35006,
        37188,
        37438,
        37594,
        37632,
        37666,
        37704,
        37838,
        38439,
        40177,
        41798,
        43728,
        43759,
        46487,
        36772,
        37518,
        37539,
        37542,
        37631,
        37780,
        37886,
        37966,
        38015,
        38924,
        39081,
        40136,
        40421,
        42810,
        43230,
        43563,
        44281,
        45062,
        45675,
        45860,
        45871,
        35498,
        37462,
        43386,
        46259,
        46104,
        46409,
        46465,
        46519,
        828,
        46216,
        31155,
        37381,
        43577,
        45400,
        22789,
        34548,
        37199,
        37221,
        44018,
        19887,
        27319,
        37202,
        37817,
        37817,
        37918,
        37932,
        37955,
        38468,
        39011,
        39121,
        39607,
        41529,
        43736,
        45043,
        24781,
        37112,
        37589,
        37919,
        38063,
        43475,
        45814,
        46447,
        37333,
        37529,
        37811,
        38116,
        38522,
        42791,
        42792,
        43210,
        44333,
        29996,
        36994,
        37218,
        37357,
        37640,
        37733,
        41408,
        42698,
        44387,
        46214,
        25384,
        37392,
        37567,
        37706,
        44419,
        45786,
        46313,
        46018,
        46219,
        45983,
        46001,
        35929,
        44000,
        41007,
        43048,
        45563,
        39890,
        41063,
        37059,
        37123,
        44234,
        35602,
        37616,
        37625,
        37626,
        37890,
        41688,
        43211,
        36982,
        37237,
        39961,
        43400,
        46266,
        37688,
        42206,
        44815,
        45951,
        46143,
        46085,
        45389,
        46050,
        43703,
        36770,
        37747,
        37965,
        41796,
        28123,
        30210,
        30398,
        36791,
        36998,
        40679,
        40692,
        41548,
        42404,
        4739,
        36670,
        37049,
        37492,
        37740,
        38754,
        39727,
        22600,
        36751,
        36898,
        37063,
        38208,
        42336,
        42731,
        42744,
        43117,
        43842,
        36890,
        36918,
        38261,
        40847,
        44437,
        5912,
        38714,
        45624,
        45875,
        29448,
        37719,
        39950,
        45023,
        45929,
        32260,
        36389,
        36397,
        36424,
        36426,
        36486,
        36525,
        36745,
        36920,
        42305,
        43464,
        44271,
        36629,
        36718,
        37246,
        38907,
        41642,
        42934,
        44386,
        44520,
        44638,
        44906,
        44964,
        34001,
        36473,
        36506,
        36507,
        36519,
        36565,
        36614,
        36619,
        36642,
        36672,
        36675,
        36813,
        36926,
        37036,
        37728,
        37743,
        37952,
        38135,
        38364,
        38690,
        38925,
        40302,
        41527,
        42124,
        42204,
        42382,
        42888,
        43343,
        44444,
        44592,
        44882,
        45586,
        5386,
        12617,
        18950,
        32750,
        36894,
        36964,
        37000,
        37075,
        37176,
        37637,
        37705,
        37865,
        38069,
        38560,
        38874,
        40682,
        40780,
        41337,
        41780,
        44255,
        30729,
        32133,
        36889,
        39859,
        40550,
        41025,
        43514,
        44764,
        39014,
        40319,
        42933,
        44528,
        18980,
        19008,
        33696,
        33760,
        33803,
        35566,
        35786,
        36145,
        37249,
        41714,
        41726,
        41984,
        44628,
        19288,
        28180,
        33831,
        33920,
        34026,
        34028,
        34172,
        35110,
        35343,
        36039,
        36583,
        37895,
        38311,
        38361,
        39433,
        40642,
        40704,
        41100,
        41366,
        42081,
        43369,
        43878,
        44971,
        45022,
        31951,
        34639,
        35383,
        36969,
        37527,
        38030,
        38583,
        38991,
        40224,
        40569,
        40745,
        43531,
        44769,
        45079,
        5107,
        29471,
        30212,
        32344,
        33801,
        33955,
        34530,
        36079,
        36144,
        37003,
        38099,
        38233,
        40001,
        40084,
        40851,
        41258,
        43281,
        43866,
        44154,
        20085,
        33967,
        34209,
        35514,
        37792,
        38679,
        44332,
        3548,
        24863,
        36045,
        43255,
        34334,
        34521,
        34945,
        8309,
        20013,
        36547,
        38540,
        39612,
        44157,
        33945,
        34441,
        36175,
        36858,
        37581,
        40291,
        41783,
        44789,
        39239,
        43495,
        33979,
        33987,
        33988,
        34126,
        34280,
        36095,
        37179,
        38613,
        39557,
        40519,
        40532,
        41104,
        34584,
        35105,
        35250,
        36850,
        37495,
        44469,
        20035,
        34186,
        35125,
        35444,
        35561,
        37956,
        38686,
        41987,
        42363,
        43001,
        43619,
        10499,
        36020,
        38970,
        42576,
        45088,
        35258,
        36274,
        37178,
        38381,
        39485,
        42678,
        18455,
        34421,
        39776,
        34679,
        34899,
        35345,
        38282,
        40633,
        41861,
        43565,
        33594,
        34582,
        34815,
        35209,
        35373,
        37243,
        40285,
        40910,
        41053,
        43937,
        44016,
        44453,
        33975,
        34687,
        34851,
        34871,
        37404,
        38967,
        40283,
        40481,
        43554,
        43692,
        43776,
        44183,
        45750,
        34911,
        34932,
        36379,
        37729,
        40360,
        41012,
        42784,
        44296,
        44301,
        35005,
        39307,
        42655,
        43000,
        34717,
        35447,
        39705,
        15397,
        33911,
        36738,
        38124,
        38592,
        39738,
        41550,
        42434,
        44467,
        34968,
        37018,
        37741,
        38194,
        38378,
        38382,
        38573,
        38580,
        39170,
        39728,
        43135,
        43191,
        45595,
        45609,
        34970,
        36350,
        36571,
        36573,
        21778,
        34324,
        34917,
        34971,
        35273,
        36356,
        37992,
        38193,
        41937,
        45667,
        1507,
        27829,
        35434,
        36549,
        37546,
        40247,
        42844,
        43540,
        7368,
        14636,
        22570,
        33293,
        34854,
        35260,
        35562,
        35565,
        36050,
        37737,
        37782,
        37813,
        37902,
        38260,
        41101,
        41915,
        44143,
        45384,
        36580,
        38318,
        38546,
        40579,
        44761,
        24086,
        27465,
        35114,
        35153,
        35222,
        35330,
        35428,
        36209,
        36345,
        42690,
        42856,
        42998,
        43583,
        44351,
        44553,
        45670,
        9872,
        35399,
        35491,
        35916,
        35933,
        36585,
        37644,
        38025,
        39569,
        40130,
        40854,
        41158,
        42745,
        42948,
        43691,
        44709,
        45746,
        33641,
        34004,
        35355,
        35370,
        35809,
        40323,
        41109,
        42787,
        42918,
        44659,
        45401,
        45535,
        45754,
        35340,
        35588,
        36263,
        37475,
        34723,
        35272,
        35651,
        38694,
        41043,
        41105,
        32453,
        40367,
        35412,
        35556,
        44178,
        38755,
        38910,
        40104,
        35522,
        41903,
        35478,
        35599,
        36981,
        38649,
        39567,
        39917,
        35654,
        36284,
        40572,
        41205,
        41786,
        43316,
        24772,
        35939,
        37094,
        37490,
        40890,
        40954,
        42376,
        44294,
        38115,
        42800,
        45683,
        34416,
        36027,
        36550,
        37957,
        38200,
        39430,
        44966,
        5085,
        36666,
        37699,
        38879,
        41257,
        43999,
        44021,
        41629,
        42964,
        43248,
        44924,
        36004,
        36056,
        36122,
        36206,
        36317,
        36378,
        36588,
        36916,
        38161,
        38184,
        38952,
        42017,
        44963,
        36093,
        36218,
        39537,
        41449,
        41867,
        36487,
        39824,
        45027,
        39534,
        28722,
        36178,
        36755,
        36902,
        37713,
        42420,
        5763,
        36320,
        37467,
        38139,
        38373,
        39766,
        40608,
        41160,
        41198,
        41842,
        42372,
        6281,
        37270,
        38812,
        39346,
        40446,
        41951,
        42848,
        44594,
        45040,
        36334,
        36404,
        36420,
        39829,
        41839,
        43429,
        44779,
        45306,
        36700,
        40034,
        41319,
        45016,
        45608,
        29572,
        36514,
        36521
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-09T02:12:08.698Z",
  "versionId": "e1271fcb-1596-4d67-b4ac-d953740c2c79"
}