workflows/[JIUN] [SUPPLY] [GCHAT] Listings with >= 4 Rejected Bookings L7D Slack Reminder.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Central",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Northern",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Southern",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eastern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-16T01:57:02.345Z",
  "id": "41",
  "name": "[JIUN] [SUPPLY] [GCHAT] Listings with >= 4 Rejected Bookings L7D Slack Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "d130aa6a-3f37-437a-ac09-0a76f2875eee",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SET TIMEZONE = 'Asia/Kuala_Lumpur';\n\nselect distinct A.listing_id,\nA.registration_no,\nconcat(to_char(NOW(), 'IYYY-IW'),'-',A.registration_no) as string,\nA.city,\nA.user_id, \nA.host_name, \nA.email,\nA.phone_number, \nA.GB_link,\ncount(distinct A.ref_no)as rej_bookings\nfrom \n\t(select distinct b.ref_no, b.status, b.created_at::timestamp, l.id as listing_id, l.registration_no, \n\tcase when ll.city_id in (1) then 'KV'   \n\twhen ll.city_id in (2,12) then 'PGM' when ll.city_id in (48) then 'PGI'\n\twhen ll.city_id in (3,19,20,21) then 'KK'   when ll.city_id in (4,15) then 'JB' \n\twhen ll.city_id in (5) then 'IP'   when ll.city_id in (47) then 'NS'\n\twhen ll.city_id in (13) then 'LGK' else 'Others' end as City,\n\tl.user_id, \n\tconcat(u.first_name,' ',u.last_name)as host_name, \n\tu.email, \n\tu.phone_number,\n\tconcat('https://gearbox.trevo.my/trevo-listings/?id=',l.id) as GB_link\n\tfrom bookings b \n\tleft join (select distinct listing_id, country, city_id from listing_location) ll on ll.listing_id = b.listing_id\n\tleft join listings l on l.id = b.listing_id \n\tleft join users u on u.id = l.user_id \n\twhere b.status = 'rejected'\n\tand b.created_at::timestamp between (NOW() - interval'7 days') and NOW())A\ngroup by 1,2,3,4,5,6,7,8,9\nhaving count(distinct A.ref_no) >= '3'\norder by 10 desc",
        "additionalFields": {}
      },
      "id": "1a7524cf-7169-4a32-90c9-de560d66e2ba",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        900,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.city }}",
        "rules": {
          "rules": [
            {
              "value2": "KV"
            },
            {
              "value2": "NS"
            },
            {
              "value2": "PGI",
              "output": 1
            },
            {
              "value2": "PGM",
              "output": 1
            },
            {
              "value2": "LGK",
              "output": 1
            },
            {
              "value2": "IP",
              "output": 1
            },
            {
              "value2": "JB",
              "output": 2
            },
            {
              "value2": "KK",
              "output": 3
            }
          ]
        }
      },
      "id": "df228e78-f463-45f6-8727-cacb7b2eae5f",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1240,
        280
      ]
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"string\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['string']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1080,
        280
      ],
      "id": "e6d455b6-3a88-43c9-8793-5a54031a759f"
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAuAnAjjE",
        "messageUi": {
          "text": "=LISTINGS WITH REJECTION >=3 IN LAST 7 DAYS:\n\nGB Link: {{ $json[\"gb_link\"] }}\nRegistration No: {{ $json[\"registration_no\"] }}\nL7D Rej Bookings Count: {{$json[\"rej_bookings\"]}}\nHost ID: {{ $json[\"user_id\"] }}\nHost Name: {{ $json[\"host_name\"] }}"
        },
        "additionalFields": {}
      },
      "id": "f94b09ff-194c-4e6e-9d8e-cf24b21d9150",
      "name": "Central",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1480,
        40
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAty2-MzA",
        "messageUi": {
          "text": "=LISTINGS WITH REJECTION >=3 IN LAST 7 DAYS:\n\nGB Link: {{ $json[\"gb_link\"] }}\nRegistration No: {{ $json[\"registration_no\"] }}\nL7D Rej Bookings Count: {{$json[\"rej_bookings\"]}}\nHost ID: {{ $json[\"user_id\"] }}\nHost Name: {{ $json[\"host_name\"] }}"
        },
        "additionalFields": {}
      },
      "id": "62a33413-42cb-4ab8-b94e-aa65777ee8a9",
      "name": "Northern",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1480,
        220
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAOZfALAA",
        "messageUi": {
          "text": "=LISTINGS WITH REJECTION >=3 IN LAST 7 DAYS:\n\nGB Link: {{ $json[\"gb_link\"] }}\nRegistration No: {{ $json[\"registration_no\"] }}\nL7D Rej Bookings Count: {{$json[\"rej_bookings\"]}}\nHost ID: {{ $json[\"user_id\"] }}\nHost Name: {{ $json[\"host_name\"] }}"
        },
        "additionalFields": {}
      },
      "id": "cea4ab4d-bf32-4fb5-8ec4-14ebaded8bfd",
      "name": "Southern",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1480,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAAAgvG0aiA",
        "messageUi": {
          "text": "=LISTINGS WITH REJECTION >=3 IN LAST 7 DAYS:\n\nGB Link: {{ $json[\"gb_link\"] }}\nRegistration No: {{ $json[\"registration_no\"] }}\nL7D Rej Bookings Count: {{$json[\"rej_bookings\"]}}\nHost ID: {{ $json[\"user_id\"] }}\nHost Name: {{ $json[\"host_name\"] }}"
        },
        "additionalFields": {}
      },
      "id": "05e694f6-f0bd-459c-a261-5e95a32ebec9",
      "name": "Eastern",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1480,
        580
      ],
      "credentials": {
        "googleApi": {
          "id": "26",
          "name": "[Pat] - Google Chat"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "11"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        "2024-31-UUM1778",
        "2024-31-B1642DFR(DPS)",
        "2024-30-B1642DFR(DPS)",
        "2024-29-F1077FAU",
        "2024-28-VDH4329",
        "2024-28-F1077FAU",
        "2024-28-WC2934P_1720200906",
        "2024-27-WC2934P_1720200906",
        "2024-27-WC2934P",
        "2024-27-B1429ROR",
        "2024-27-VHV5400",
        "2024-27-VB7282",
        "2024-26-VKL4030",
        "2024-26-VB7282",
        "2024-25-SWD3653",
        "2024-24-B1053NZW",
        "2024-24-QAA5248Q",
        "2024-24-VAP3198",
        "2024-23-B1053NZW",
        "2024-23-WB1194L",
        "2024-23-VAP3198",
        "2024-23-VDK9408_1717511445",
        "2024-23-F1077FAU",
        "2024-23-VDK9408",
        "2024-23-VKF4283",
        "2024-23-SYY2514",
        "2024-23-BRH826",
        "2024-23-QAB5526E",
        "2024-22-VKF4283",
        "2024-22-VDK9408",
        "2024-22-BRH826",
        "2024-22-QAB5526E",
        "2024-22-F1077FAU",
        "2024-22-SYY2514",
        "2024-22-RAB5566",
        "2024-22-VKL4030",
        "2024-22-BMN9263",
        "2024-22-B2504FKS",
        "2024-22-QAA5248Q",
        "2024-21-BMN9263",
        "2024-21-QAA5248Q",
        "2024-21-B2504FKS",
        "2024-21-B1483DKZ",
        "2024-20-VAA257",
        "2024-20-F1077FAU",
        "2024-20-QTY4239",
        "2024-19-QTY4239",
        "2024-19-B1429ROR",
        "2024-19-F1077FAU",
        "2024-19-VDM4912",
        "2024-19-WB275Q",
        "2024-18-B1429ROR",
        "2024-18-VDM4912",
        "2024-18-WB275Q",
        "2024-18-WA1033F",
        "2024-18-B1865DOS",
        "2024-18-B2150BRB",
        "2024-18-BNG2705",
        "2024-18-SAC7384A",
        "2024-17-BNG2705",
        "2024-17-SAC7384A",
        "2024-17-B2150BRB",
        "2024-17-B1572HKY",
        "2024-17-WA1033F",
        "2024-17-B1429ROR",
        "2024-17-SAC3056B",
        "2024-17-F1204FBM",
        "2024-16-SAC3056B",
        "2024-16-B1429ROR",
        "2024-16-F1204FBM",
        "2024-16-VJM6651",
        "2024-16-ST7259Y",
        "2024-16-VAJ4218",
        "2024-16-PPR225",
        "2024-16-D1424UAN",
        "2024-16-B1970DKG",
        "2024-16-VGA544",
        "2024-16-VDM2501",
        "2024-16-VEF984",
        "2024-16-B1216WIJ",
        "2024-16-VJK6442",
        "2024-16-WA7978F",
        "2024-16-WC3581E",
        "2024-16-JRE7696",
        "2024-16-BQE3737",
        "2024-15-WC3581E",
        "2024-15-WA7978F",
        "2024-15-B1970DKG",
        "2024-15-VEF984",
        "2024-15-BQE3737",
        "2024-15-VAJ4218",
        "2024-15-VDM2501",
        "2024-15-VGA544",
        "2024-15-PPR225",
        "2024-15-BQU4896",
        "2024-15-D1424UAN",
        "2024-15-ST7259Y",
        "2024-15-SYB1279",
        "2024-15-AKS6447_1712651263",
        "2024-15-SYR7252_1712636904",
        "2024-15-SB2955G",
        "2024-15-B1216WIJ",
        "2024-15-VJK6442",
        "2024-15-SYR7252",
        "2024-15-SMF3280",
        "2024-15-BRS125",
        "2024-15-JRE7696",
        "2024-15-CCL8310",
        "2024-15-MDR2007",
        "2024-15-VKG4491",
        "2024-15-SYH9853",
        "2024-15-BPM6641",
        "2024-15-VCW1563",
        "2024-15-RAP7339",
        "2024-15-SS800L",
        "2024-15-MDK4348",
        "2024-15-VJG4510",
        "2024-15-VX7398",
        "2024-15-VJR8606",
        "2024-15-PQS2307_1712297749",
        "2024-15-VDM2630",
        "2024-15-BPH8256",
        "2024-15-JSW2979",
        "2024-15-VGJ9476",
        "2024-14-JSW2979",
        "2024-14-VDM2630",
        "2024-14-VGJ9476",
        "2024-14-BPM6641",
        "2024-14-MDK4348",
        "2024-14-VJR8606",
        "2024-14-RAP7339",
        "2024-14-BPH8256",
        "2024-14-VKG4491",
        "2024-14-PQS2307_1712297749",
        "2024-14-JPW7973",
        "2024-14-SS800L",
        "2024-14-PQS2307",
        "2024-14-VCW1563",
        "2024-14-SYH9853",
        "2024-14-VAX7337",
        "2024-14-F1873FAN",
        "2024-14-MDT7772",
        "2024-14-VJG4510",
        "2024-14-VLD8579",
        "2024-14-B1743WIJ",
        "2024-14-D1036AKE",
        "2024-14-VJB6854_1711869190",
        "2024-14-B1018RKK",
        "2024-14-S1852XM",
        "2024-14-JVY3725",
        "2024-13-VJB6854_1711869190",
        "2024-13-D1036AKE",
        "2024-13-VLD8579",
        "2024-13-B1018RKK",
        "2024-13-JVY3725",
        "2024-13-VJB6854",
        "2024-13-B1743WIJ",
        "2024-13-B1061WYS",
        "2024-13-WA3789C_1711431996",
        "2024-13-MDM8880",
        "2024-13-VLG3454",
        "2024-13-B1970DKG",
        "2024-13-S1852XM",
        "2024-13-VDQ2013",
        "2024-13-AKY3590",
        "2024-13-WA3789C",
        "2024-12-VDQ2013",
        "2024-12-AKY3590",
        "2024-12-JRT322",
        "2024-12-S1852XM",
        "2024-12-WA3789C",
        "2024-12-JQB7365",
        "2024-12-B1572HKY",
        "2024-11-WA3789C",
        "2024-11-AB1762LH_1710297979",
        "2024-11-B1572HKY",
        "2024-11-VLD8579",
        "2024-11-F1223FBF",
        "2024-10-VLD8579",
        "2024-10-F1223FBF",
        "2024-10-VA6950",
        "2024-10-B1572HKY",
        "2024-10-B2784KMS",
        "2024-10-CER2117",
        "2024-09-CER2117",
        "2024-09-B2784KMS",
        "2024-09-VP8399",
        "2024-09-WA5700U",
        "2024-09-CET8513",
        "2024-09-VHA525",
        "2024-09-VCL6435",
        "2024-08-CET8513",
        "2024-08-VCL6435",
        "2024-08-VHA525",
        "2024-08-WA5700U",
        "2024-07-WC927F",
        "2024-07-B1429ROR",
        "2024-07-SS7026W",
        "2024-07-ALB4137",
        "2024-07-JQC8968",
        "2024-07-JQL3251",
        "2024-07-D1277AKF",
        "2024-07-MDN9191",
        "2024-07-JVK705",
        "2024-07-SMD7796",
        "2024-07-SK3083C",
        "2024-07-VCC4164",
        "2024-07-SAC8347F",
        "2024-07-VCT1505",
        "2024-06-VCT1505",
        "2024-06-VCC4164",
        "2024-06-SK3083C",
        "2024-06-CET7099",
        "2024-06-JVK705",
        "2024-06-SMD7796",
        "2024-06-SAC8347F",
        "2024-06-ALB4137",
        "2024-06-B1103JVB",
        "2024-06-JQL3251",
        "2024-06-MDN9191",
        "2024-06-WC8231Q",
        "2024-06-D1277AKF",
        "2024-06-JQC8968",
        "2024-06-B1215WIE",
        "2024-06-NDX5174",
        "2024-06-VCX3359",
        "2024-06-PQW2702",
        "2024-05-PQW2702",
        "2024-05-JUJ5348",
        "2024-05-VCX3359",
        "2024-05-VAP9413",
        "2024-05-WA5700U",
        "2024-05-JSD5265",
        "2024-05-BNX5190",
        "2024-04-WA5700U",
        "2024-04-JSD5265",
        "2024-04-BNX5190",
        "2024-04-JSW2979",
        "2024-03-JSW2979",
        "2024-03-D1757AJY",
        "2024-03-W8546W",
        "2024-02-BQW8006_1704781948",
        "2024-02-BQW8006",
        "2024-01-BQW8006",
        "2024-01-QCF487",
        "2024-01-D1147ADQ",
        "2024-01-VCT1505",
        "2024-01-VAQ7624",
        "2024-01-JSG1029",
        "2024-01-FD8476",
        "2024-01-AKM4938",
        "2023-52-QCF487",
        "2023-52-FD8476",
        "2023-52-VAQ7624",
        "2023-52-JRU4063",
        "2023-52-D1147ADQ",
        "2023-52-JSG1029",
        "2023-52-VCT1505",
        "2023-52-JVW641",
        "2023-52-AKM4938",
        "2023-52-B1103JVB",
        "2023-52-D1440SAY",
        "2023-52-QS821G",
        "2023-52-BMN9263",
        "2023-52-TCJ5712",
        "2023-52-WA3142C",
        "2023-52-JST1309",
        "2023-52-IM4U378",
        "2023-52-BQL2251",
        "2023-51-BMN9263",
        "2023-51-TCJ5712",
        "2023-51-D1440SAY",
        "2023-51-AKM4938",
        "2023-51-BQL2251",
        "2023-51-IM4U378",
        "2023-51-JST1309",
        "2023-51-QS821G",
        "2023-51-B1103JVB",
        "2023-51-WA3142C",
        "2023-51-MALAYSIA2050",
        "2023-51-W8288H",
        "2023-51-RAB3863",
        "2023-51-B2372UZK",
        "2023-51-SYU1229",
        "2023-51-F8900",
        "2023-51-QS3868B",
        "2023-51-JSG1029",
        "2023-50-JSG1029",
        "2023-50-RAB3863",
        "2023-50-B2372UZK",
        "2023-50-SYE7525",
        "2023-50-MDM8880",
        "2023-50-W8288H",
        "2023-50-QS3868B",
        "2023-50-F8900",
        "2023-50-VCM4397",
        "2023-50-SYU1229",
        "2023-50-SYY4318_1702274480",
        "2023-50-SYY107",
        "2023-50-BNR8032",
        "2023-50-SYY4318",
        "2023-49-SYY107",
        "2023-49-BNR8032",
        "2023-49-SYY4318",
        "2023-49-VFV9358",
        "2023-49-VHK4473",
        "2023-48-VHK4473",
        "2023-48-VFV9358",
        "2023-48-VDR1785",
        "2023-48-PPJ7669",
        "2023-48-VQ988",
        "2023-48-WB5571T",
        "2023-47-PPJ7669",
        "2023-47-WB5571T",
        "2023-47-VQ988",
        "2023-47-BMN9263",
        "2023-47-VAH2269",
        "2023-46-AKP5320",
        "2023-46-BNM4242",
        "2023-46-VS6864",
        "2023-46-BK1556ACR",
        "2023-46-W8286S",
        "2023-46-JVR106",
        "2023-46-WC758F",
        "2023-46-ALJ5787",
        "2023-46-JQG1364",
        "2023-46-VAH2269",
        "2023-46-TBP5021",
        "2023-46-BQV4705",
        "2023-45-VS6864",
        "2023-45-BQV4705",
        "2023-45-BK1556ACR",
        "2023-45-JVR106",
        "2023-45-JQG1364",
        "2023-45-W8286S",
        "2023-45-WC758F",
        "2023-45-TBP5021",
        "2023-45-VAH2269",
        "2023-45-BNM4242",
        "2023-45-B1103JVB",
        "2023-45-WC4129C",
        "2023-45-BNK1885",
        "2023-45-B2150BRB",
        "2023-45-SYE9737",
        "2023-44-BNK1885",
        "2023-44-WC4129C",
        "2023-44-VAD5421",
        "2023-44-B2150BRB",
        "2023-44-SYE9737",
        "2023-44-QBD1109",
        "2023-44-VX2219",
        "2023-44-JQT9292",
        "2023-44-PMA6936",
        "2023-44-JUY8147",
        "2023-44-W8339C",
        "2023-44-SB3201G",
        "2023-43-VJQ5576",
        "2023-43-SB3201G",
        "2023-43-JUY8147",
        "2023-43-VHA525",
        "2023-43-WA2365W",
        "2023-43-VJP2070",
        "2023-42-WA2365W",
        "2023-42-VJP2070",
        "2023-42-RQ7389",
        "2023-42-ST563X",
        "2023-42-VAH903",
        "2023-42-JRE7696",
        "2023-41-ST563X",
        "2023-41-JRE7696",
        "2023-41-VAH903",
        "2023-41-JPK3454",
        "2023-41-JRN8279",
        "2023-40-JSH9084",
        "2023-40-JRN8279",
        "2023-40-JPK3454",
        "2023-40-VCS1306",
        "2023-40-JSG1029",
        "2023-40-AKQ6344",
        "2023-40-RS5292",
        "2023-40-QCH1067",
        "2023-40-SB3201G",
        "2023-40-MDR877",
        "2023-39-RS5292",
        "2023-39-MDR877",
        "2023-39-QCH1067",
        "2023-39-LG2516",
        "2023-39-BQT6696",
        "2023-39-VFS3130",
        "2023-39-AKQ6344",
        "2023-39-PNB1398",
        "2023-39-SB3201G",
        "2023-39-VJT152",
        "2023-39-SYW4356",
        "2023-39-WA9091X",
        "2023-39-VJW3291",
        "2023-39-VAH3493",
        "2023-38-VJW3291",
        "2023-38-VAH3493",
        "2023-38-VBP4040",
        "2023-38-SWF9390",
        "2023-38-QLD2747",
        "2023-38-VS6864",
        "2023-38-FA1922",
        "2023-37-VS6864",
        "2023-37-FA1922",
        "2023-37-QLD2747",
        "2023-37-WYX7717",
        "2023-37-SB5733D",
        "2023-37-PLJ7527",
        "2023-37-QCH1067",
        "2023-36-SB5733D",
        "2023-36-VHK3795",
        "2023-36-PLJ7527",
        "2023-36-VJK5683",
        "2023-36-NDX5174",
        "2023-36-QCH1067",
        "2023-36-DDM966_1694007760",
        "2023-36-AMX730",
        "2023-36-SAB9270X",
        "2023-36-VKE1003",
        "2023-36-SAC203A",
        "2023-36-VDR2788",
        "2023-36-WB2956L",
        "2023-36-SYM4773",
        "2023-36-WA8702Y",
        "2023-36-DDM966",
        "2023-35-DDM966",
        "2023-35-VKE1003",
        "2023-35-WB2956L",
        "2023-35-SAC203A",
        "2023-35-SYM4773",
        "2023-35-W8546W",
        "2023-35-JQB7365",
        "2023-35-WA8702Y",
        "2023-35-VDR2788",
        "2023-35-PPE6421",
        "2023-35-JNR8882",
        "2023-35-VHR2207",
        "2023-35-SB443G",
        "2023-35-ST563X",
        "2023-35-MDM8880",
        "2023-35-VHL6798",
        "2023-35-VCL627",
        "2023-35-VKQ1174",
        "2023-34-ST563X",
        "2023-34-VHL6798",
        "2023-34-W1603Y",
        "2023-34-VKQ1174",
        "2023-34-VCL627",
        "2023-34-PPE6421",
        "2023-34-VEE1959",
        "2023-34-VAD5421",
        "2023-34-MDM8880",
        "2023-34-JNR8882",
        "2023-34-SB443G",
        "2023-34-VBF7043",
        "2023-34-WC5716M",
        "2023-34-SYR2288",
        "2023-34-VHK115",
        "2023-34-PMA6936",
        "2023-34-VHR2207",
        "2023-34-PPC2079",
        "2023-33-ST563X",
        "2023-32-VDT2138",
        "2023-32-ST563X",
        "2023-32-VKQ3531",
        "2023-31-WA3142C",
        "2023-31-ST3302W",
        "2023-31-WD54E",
        "2023-31-VGV9583",
        "2023-31-QLD2747",
        "2023-30-QLD2747",
        "2023-30-VGV9583",
        "2023-30-WD54E",
        "2023-28-B1998DKQ",
        "2023-28-B1766NZJ",
        "2023-28-VGV9583",
        "2023-28-TBR8737",
        "2023-27-VGV9583",
        "2023-27-B2214PKN",
        "2023-27-B1766NZJ",
        "2023-27-JVP2978",
        "2023-27-VEE1349",
        "2023-27-TBR8737",
        "2023-27-PMB877",
        "2023-27-VT1554",
        "2023-27-B1782WOV",
        "2023-26-B1782WOV",
        "2023-26-VT1554",
        "2023-26-VEE1349",
        "2023-26-TBR8737",
        "2023-26-SWF1483",
        "2023-26-PMB877",
        "2023-26-VP8399",
        "2023-25-QLB2070",
        "2023-25-JPK3454",
        "2023-25-WYX7717",
        "2023-25-WA9743J",
        "2023-25-AB1613HY",
        "2023-25-JSG1029",
        "2023-25-WB475B",
        "2023-24-JSG1029",
        "2023-24-WB475B",
        "2023-24-AB1613HY",
        "2023-24-VGV9583",
        "2023-24-BRG7696",
        "2023-24-PNW3416",
        "2023-23-VGV9583",
        "2023-23-BRG7696",
        "2023-23-SB5733D",
        "2023-23-PNW3416",
        "2023-23-JTE1334",
        "2023-23-VBJ2747",
        "2023-23-B1593ZKG",
        "2023-23-WB4522E",
        "2023-23-ADF127",
        "2023-23-VJC6834",
        "2023-23-BRB1185",
        "2023-22-VBJ2747",
        "2023-22-VGY2922",
        "2023-22-ADF127",
        "2023-22-JVR106",
        "2023-22-BRB1185",
        "2023-22-B2137BZQ",
        "2023-22-B1593ZKG",
        "2023-22-WB4522E",
        "2023-22-JTE1334",
        "2023-22-X526",
        "2023-22-VAX2390",
        "2023-22-VJC6834",
        "2023-22-ST3302W",
        "2023-22-SMA7752",
        "2023-22-JQX7034",
        "2023-22-WNR22",
        "2023-21-WNR22",
        "2023-21-JQX7034",
        "2023-21-WYM3951",
        "2023-21-SAC203A",
        "2023-21-VJK6442",
        "2023-20-SAC203A",
        "2023-20-VJK6442",
        "2023-20-WA7978F",
        "2023-20-WNR22",
        "2023-20-VGY2922",
        "2023-20-BNG2705",
        "2023-20-SMB3309",
        "2023-20-JPV3628",
        "2023-20-VGV9583",
        "2023-20-BPG6725",
        "2023-20-W9455C",
        "2023-19-JPV3628",
        "2023-19-WNR22",
        "2023-19-W9455C",
        "2023-19-VGV9583",
        "2023-19-BPG6725",
        "2023-19-SMB3309",
        "2023-19-B1628FGY",
        "2023-19-VBJ2732",
        "2023-19-JUE9319",
        "2023-19-WXF2908",
        "2023-19-SAC203A",
        "2023-19-F7946",
        "2023-19-VDR2788",
        "2023-18-VDR2788",
        "2023-18-SAC203A",
        "2023-18-WXF2908",
        "2023-18-SB5733D",
        "2023-18-VFN4756",
        "2023-18-B1731RKT",
        "2023-18-JVR705",
        "2023-18-JSX2837",
        "2023-18-B1577NZJ",
        "2023-18-F7946",
        "2023-18-JPQ6918",
        "2023-18-SS7026W",
        "2023-17-F7946",
        "2023-17-JPQ6918",
        "2023-17-B1577NZJ",
        "2023-17-JSX2837",
        "2023-17-SS7026W",
        "2023-17-B1731RKT",
        "2023-17-VEE1349",
        "2023-17-VCL627",
        "2023-17-B2867UFB",
        "2023-17-JVR705",
        "2023-17-BNK1373",
        "2023-17-VEF984",
        "2023-17-VEW479",
        "2023-17-VCW1563",
        "2023-17-VDT8946",
        "2023-17-VEB9994_1682014695",
        "2023-17-VEY8225",
        "2023-17-B2193BZF",
        "2023-17-JVG6501",
        "2023-17-RAJ696",
        "2023-17-D1204UBN",
        "2023-17-VDS1669",
        "2023-17-VBF5687",
        "2023-17-VJY2434_1681821722",
        "2023-17-KT1473KT",
        "2023-17-SU3834G",
        "2023-17-VHW4223",
        "2023-17-B1704BIV",
        "2023-17-VGE1472",
        "2023-17-D1076XXY",
        "2023-17-CDD5551",
        "2023-17-B1445ERX",
        "2023-17-B2783UKJ",
        "2023-17-SMF3280",
        "2023-17-VKA347",
        "2023-17-B1359VOW",
        "2023-17-VFH7340",
        "2023-17-VAJ6696",
        "2023-17-SWA323",
        "2023-17-VGJ6424",
        "2023-17-B1277NG",
        "2023-17-D1808AIV",
        "2023-17-ST563X",
        "2023-17-TY919",
        "2023-17-B2079PFH",
        "2023-17-VDT8632",
        "2023-17-WC8015H",
        "2023-17-AMJ5026",
        "2023-17-SYU1229",
        "2023-17-SYP9979",
        "2023-17-JVV517",
        "2023-16-SWA323",
        "2023-16-VBF5687",
        "2023-16-B2079PFH",
        "2023-16-VAJ6696",
        "2023-16-SYP9979",
        "2023-16-JVV517",
        "2023-16-VFH7340",
        "2023-16-WC8015H",
        "2023-16-SMF3280",
        "2023-16-VGJ6424",
        "2023-16-VKA347",
        "2023-16-SU3834G",
        "2023-16-CDD5551",
        "2023-16-VEY8225",
        "2023-16-VEB9994_1682014695",
        "2023-16-AMJ5026",
        "2023-16-D1204UBN",
        "2023-16-VDT8632",
        "2023-16-BNV7051",
        "2023-16-B1445ERX",
        "2023-16-RAJ696",
        "2023-16-JVR705",
        "2023-16-VEW479",
        "2023-16-KT1473KT",
        "2023-16-B1359VOW",
        "2023-16-VDT8946",
        "2023-16-JVG6501",
        "2023-16-VEF984",
        "2023-16-VEB9994",
        "2023-16-TY919",
        "2023-16-VF5528",
        "2023-16-SAC203A",
        "2023-16-ST563X",
        "2023-16-B2867UFB",
        "2023-16-VJY2434_1681821722",
        "2023-16-NDT9993",
        "2023-16-B2783UKJ",
        "2023-16-B1704BIV",
        "2023-16-VJY2434",
        "2023-16-VDS1669",
        "2023-16-VCW1563",
        "2023-16-BNK1373",
        "2023-16-VHW4223",
        "2023-16-B2193BZF",
        "2023-16-VGE1472",
        "2023-16-VDB1206",
        "2023-16-B1277NG",
        "2023-16-D1076XXY",
        "2023-16-B2553TYL",
        "2023-16-B1593ZKG-",
        "2023-16-D1808AIV",
        "2023-16-JRE8320",
        "2023-16-JUJ4744",
        "2023-16-WC1845G",
        "2023-16-SY6485",
        "2023-15-WC1845G",
        "2023-15-BRA8494",
        "2023-15-SY6485",
        "2023-15-B2553TYL",
        "2023-15-D1808AIV",
        "2023-15-B1593ZKG-",
        "2023-15-JUJ4744",
        "2023-15-JRE8320",
        "2023-15-W5518S",
        "2023-15-SAB9270X",
        "2023-15-D1315AIV",
        "2023-15-SAC203A",
        "2023-15-WB7344W",
        "2023-15-VC9751",
        "2023-15-BPG6725",
        "2023-15-VFH1995",
        "2023-14-VC9751",
        "2023-14-D1315AIV",
        "2023-14-VFH1995",
        "2023-14-BPG6725",
        "2023-14-D1697AHB",
        "2023-14-SB5733D",
        "2023-14-PPL2946",
        "2023-14-WB7344W",
        "2023-14-SAC203A",
        "2023-14-L1241CAB",
        "2023-14-ST563X",
        "2023-14-VGV9583",
        "2023-13-ST563X",
        "2023-13-SWF1483",
        "2023-13-F7946",
        "2023-13-L1241CAB",
        "2023-13-VGV9583",
        "2023-13-B2306BOI",
        "2023-13-SAC203A",
        "2023-13-WB1517K",
        "2023-13-CDK1238_1679905446",
        "2023-13-B2804TIT",
        "2023-13-CDK1238",
        "2023-12-CDK1238",
        "2023-12-B2804TIT",
        "2023-12-WNR22",
        "2023-12-WYQ1125",
        "2023-12-DK1744OJ",
        "2023-12-BME3992",
        "2023-12-JVR106",
        "2023-12-PLA5063",
        27101,
        40670,
        42935,
        31947,
        40065,
        42131,
        12516,
        2970,
        40505,
        43392
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-02T12:00:01.405Z",
  "versionId": "113bdeeb-2e06-4238-b7a2-220518f5c419"
}