workflows/[KAVI] [HOST COMMUNITY] [POST-SIGN UP ACQUISITION] - New Host Listing Doc-upload Quiz 1.5.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "[CT] - Host_PostSignup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIB API - Avai Reminder3": {
      "main": [
        []
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-29T03:26:34.054Z",
  "id": "79",
  "name": "[KAVI] [HOST COMMUNITY] [POST-SIGN UP ACQUISITION] - New Host Listing Doc-upload Quiz 1.5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "351ece13-b9d7-420f-b45a-b6fe0aa81e1d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        440,
        -140
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "requestMethod": "POST",
        "url": "https://api.sendinblue.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"to\": [{\"email\": \"{{ $json[\"email\"] }}\" }],\n  \"templateId\": 586\n}",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "SIB API - Avai Reminder3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1460,
        -460
      ],
      "id": "806246d1-6fc9-4343-8878-d0e7eef055e2",
      "retryOnFail": true,
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.leanplum.com/api?action=startCampaign",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"appId\" : \"app_BXrjE7dc15VWXDLRfh77tActhBhSkCHeQhETDE1mXfQ\", \"clientKey\" : \"dev_L9yBjOmwfR3fNiVjL9woIYfWzsy5hMcGDx0og8isAFw\", \"apiVersion\" : \"1.0.6\", \"userId\":\"{{ $node.Switch.json.uuid }}\", \"campaignId\":\"6127220903444480\", \"createDisposition\" : \"CreateNever\"}",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "LP API - Send PN - Add User to Campaign1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        760,
        -460
      ],
      "id": "4dc1fc15-565a-4c71-9837-210ff67d7d91",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  distinct u.id\n, u.first_name\n, u.last_name\n, u.email\n, u.uuid\n, u.nationality \n, u.phone_country_code \n, u.phone_number \n, l.id as listing_id\n, l.status \n, l.updated_at \n, COUNT(distinct l.id) as listings\n, now()::DATE - u.created_at::DATE AS days_since_created\nFROM users u \nLEFT JOIN tag_taggables tt ON tt.taggable_id = u.id \nLEFT JOIN tags t ON t.id = tt.tag_id \nleft join listings l on l.user_id = u.id \njoin (select l.user_id, count(distinct l.id) as count from listings l left join listing_location ll on ll.listing_id = l.id where ll.country = 'Malaysia' group by 1) lc on lc.user_id = u.id and count = 1\nWHERE 1=1\n  --and t.id = 2 \n  --AND tt.taggable = 'users' \n  --AND u.created_at >= now() - interval '35 days' -- added quotes around interval value\n  and l.first_approved_at is null\n  and u.phone_country_code = '+60'\n  and u.first_name not like 'test'\n  and u.status = 'active'\n  and l.status = 'processing'\n  and l.updated_at::DATE = NOW()::DATE\n  --and u.email like 'kavindra.herat%'\ngroup by 1,2,3,4,5,6,7,8,9,10,11\nhaving COUNT(distinct case when l.status = 'approved' THEN l.id END) <= 1",
        "options": {}
      },
      "id": "2d1278d0-19a3-4601-a198-7b0e3321d7e7",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        580,
        -140
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"id\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['id']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        560,
        -460
      ],
      "id": "c0a198f5-99d0-414f-b457-f074ee336549",
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"id\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['id']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        -140
      ],
      "id": "db2abc33-594f-4e91-a1e3-ac99558622b8"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"id\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['id']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function6",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        560,
        -860
      ],
      "id": "7ebb3c0d-fc72-4b69-a665-9af7db01d790",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U",
          "mode": "list",
          "cachedResultName": "2023.05.29 - 1 Post Sign-Up Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1662813894,
          "mode": "list",
          "cachedResultName": "1.5 Survey After Doc Upload",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U/edit#gid=1662813894"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $node['Schedule Trigger'].json.timestamp }}"
            },
            {
              "fieldId": "uid",
              "fieldValue": "={{ $node.Function.json.id }}"
            },
            {
              "fieldId": "uuid",
              "fieldValue": "={{ $node.Function.json.uuid }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $node.Function.json.phone_number }}"
            },
            {
              "fieldId": "first name",
              "fieldValue": "={{ $node.Function.json.first_name }}"
            },
            {
              "fieldId": "last name",
              "fieldValue": "={{ $node.Function.json.last_name }}"
            },
            {
              "fieldId": "sibid",
              "fieldValue": "={{ $node['SIB API - Avai Reminder'].json.messageId }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $node.Function.json.email }}"
            },
            {
              "fieldId": "listings",
              "fieldValue": "={{ $node.Function.json.listings }}"
            },
            {
              "fieldId": "days_since_created",
              "fieldValue": "={{ $node.Function.json.days_since_created }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $node.Function.json.updated_at }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "0da4387f-a621-4a61-8683-f4d737886ce9",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1480,
        -140
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15",
          "name": "Google Sheets - Kavi"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        }
      },
      "id": "7c01a21e-cfdc-4eef-9ce2-f9a1fcde25c7",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sg1.api.clevertap.com/1/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \n    \"X-CleverTap-Account-Id\": \"6Z6-KR8-966Z\",\n    \"X-CleverTap-Passcode\": \"dddf3562-fc72-479d-8940-544009845a3d\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"d\": [\n        {\n            \"identity\": \"{{ $json[\"uuid\"] }}\",\n            \"ts\": {{ Math.floor(Date.now() / 1000) }},\n            \"type\": \"event\",\n            \"evtName\": \"Host_PostSignup\",\n            \"evtData\": {\n                \"HPS_timestamp\": \"docupload\"\n\n            }\n        }\n    ]\n}",
        "options": {}
      },
      "id": "34fcdc08-7fa8-4239-ad9a-274d82ecc160",
      "name": "[CT] - Host_PostSignup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1060,
        -140
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any",
    "errorWorkflow": "11",
    "saveManualExecutions": false,
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        1002385,
        3345575,
        746181,
        3347489,
        3315567,
        3353,
        3349529,
        3352001,
        3337169,
        3349860,
        18928,
        3346771,
        1885118,
        2232774,
        312738,
        307722,
        418749,
        3350794,
        3347194,
        3270777,
        3166977,
        1323087,
        3349398,
        1584107,
        3188640,
        89400,
        3126473,
        3348972,
        3339114,
        3324181,
        1365897,
        471355,
        382345,
        3118247,
        554600,
        1044109,
        2956133,
        1690552,
        1810082,
        3346688,
        3339545,
        1481873,
        9779,
        3342731,
        3201298,
        3272886,
        66909,
        1327974,
        3333542,
        926665,
        1636127,
        3279823,
        3344823,
        3118418,
        3334057,
        2060731,
        1740747,
        37832,
        1298106,
        3336040,
        96226,
        646049,
        34387,
        3343517,
        3285849,
        3233680,
        3342749,
        1765805,
        3342730,
        1654823,
        3328879,
        3035057,
        3338535,
        1699379,
        397862,
        1359523,
        3336223,
        2180444,
        3279989,
        2938991,
        3062817,
        3338934,
        508489,
        2483758,
        1942945,
        3215030,
        205347,
        3311158,
        3278330,
        1021040,
        2999025,
        2020060,
        3334816,
        87970,
        3335416,
        2910236,
        285833,
        733900,
        2785200,
        3307530,
        2412134,
        3316241,
        2217678,
        1354887,
        3322913,
        3333231,
        640647,
        3332840,
        2570748,
        2834061,
        3333072,
        3244807,
        1549524,
        2799507,
        1965307,
        3147181,
        341889,
        3311389,
        32995,
        2549040,
        3314922,
        11645,
        3251529,
        3094279,
        2728635,
        1481445,
        742290,
        3279311,
        2161592,
        3324218,
        1980487,
        3282775,
        2886845,
        3071,
        3280129,
        3302371,
        3325044,
        3210825,
        3316351,
        2523208,
        3281636,
        3322362,
        784420,
        2955286,
        3323776,
        3322761,
        3311985,
        3324193,
        3321557,
        3297530,
        3257076,
        1052509,
        141396,
        2535244,
        3323150,
        2147121,
        3316067,
        737143,
        3277839,
        2916866,
        975764,
        3229535,
        3234603,
        2926097,
        857037,
        3209303,
        3253059,
        796373,
        1210948,
        863124,
        251774,
        3151229,
        2255363,
        1661020,
        615341,
        3318443,
        3283292,
        3263576,
        1064807,
        3293725,
        2009245,
        1403793,
        1870552,
        775066,
        3309730,
        62482,
        330553,
        2790750,
        3268092,
        269420,
        3094282,
        541723,
        3312212,
        3223475,
        2504609,
        3312732,
        1188481,
        1693032,
        1726784,
        3303920,
        224110,
        126825,
        2427186,
        2939961,
        3079037,
        3306037,
        2634474,
        3281183,
        846,
        867388,
        1311546,
        26035,
        738510,
        63697,
        997773,
        3299477,
        3310344,
        813222,
        3074613,
        3274444,
        3310181,
        3290186,
        3183650,
        3506,
        2680601,
        3303136,
        31399,
        3296957,
        3293703,
        3292507,
        717805,
        3290404,
        840532,
        1806795,
        3286471,
        3253346,
        3162997,
        3261866,
        2698335,
        887074,
        3165184,
        2601798,
        3299097,
        1224292,
        2922679,
        1215705,
        2821605,
        3118513,
        2722227,
        3289609,
        2136612,
        2943735,
        3279572,
        2945210,
        3302040,
        3250007,
        3300126,
        3280118,
        357156,
        3061215,
        3283040,
        3300842,
        3021944,
        3232909,
        38947,
        3285521,
        3275135,
        3279767,
        1918931,
        1310560,
        3231069,
        2433615,
        758292,
        257521,
        2480219,
        3162606,
        2720831,
        3289078,
        3292231,
        3248087,
        1843180,
        3289915,
        3290815,
        3284445,
        3060591,
        2096251,
        560776,
        2903038,
        1186390,
        1271119,
        3280983,
        1309395,
        1909479,
        2117034,
        1811838,
        3159533,
        113984,
        1505154,
        2834161,
        2131156,
        3287995,
        3230468,
        1301627,
        946793,
        3253985,
        1765693,
        1284616,
        1698032,
        71042,
        3278618,
        2497903,
        787212,
        602287,
        1768252,
        3088404,
        3271679,
        3282505,
        24399,
        2272009,
        3281690,
        3278737,
        3280113,
        3189892,
        3095513,
        2113160,
        3105082,
        3170821,
        3100712,
        103226,
        2897221,
        3260164,
        1093339,
        1295672,
        2774914,
        2881069,
        2388944,
        3248925,
        3263503,
        3103455,
        723776,
        1223516,
        424892,
        2799039,
        3274706,
        965641,
        3273548,
        3263371,
        1675172,
        1716485,
        3261460,
        41540,
        318691,
        734368,
        1427088,
        3272968,
        274892,
        84495,
        1844691,
        3257103,
        343281,
        3270673,
        3059078,
        17444,
        3079964,
        3259909,
        3183819,
        3100895,
        3258341,
        519198,
        3266126,
        3268547,
        2461133,
        2931568,
        3264321,
        2712170,
        3224262,
        2081322,
        3249507,
        3240252,
        3265025,
        2273716,
        1236744,
        3263085,
        3260224,
        279065,
        593742,
        1129013,
        1606168,
        1313368,
        3261660,
        2197749,
        3257294,
        1379185,
        3258582,
        3246907,
        2544106,
        2009782,
        3226750,
        1451374,
        2910169,
        575631,
        43512,
        1426699,
        2525795,
        2008500,
        3178985,
        2935862,
        1068581,
        2088206,
        3237922,
        1296877,
        36787,
        3235533,
        3196344,
        1331704,
        3255439,
        3237418,
        1525970,
        3237781,
        2119414,
        3252293,
        2130891,
        3199241,
        2446899,
        384792,
        1943433,
        3236720,
        3217851,
        232132,
        96366,
        831897,
        2873851,
        3227196,
        1338841,
        155116,
        2191889,
        47050,
        1030579,
        1766552,
        3246199,
        3244784,
        1498471,
        1965964,
        2845685,
        1672544,
        3208429,
        881220,
        2372663,
        1442977,
        2225533,
        3223735,
        3210872,
        3169455,
        2634354,
        3170228,
        1074399,
        3237362,
        1764725,
        1628340,
        654296,
        3141470,
        1578446,
        394604,
        1686802,
        3176798,
        3232743,
        2010915,
        2741531,
        3233667,
        235069,
        2318139,
        1111352,
        779309,
        3232219,
        3219265,
        3204967,
        3419,
        2411460,
        3039531,
        3219282,
        3099075,
        417323,
        49821,
        1143098,
        3209756,
        1508714,
        30814,
        1386993,
        56200,
        2899991,
        457212,
        3223912,
        3196300,
        3048996,
        20113,
        1714906,
        739651,
        433281,
        2679699,
        545381,
        185388,
        1718171,
        3175921,
        2471349,
        1512387,
        1466494,
        3224842,
        3225208,
        55472,
        3224415,
        394877,
        977528,
        3135471,
        3204278,
        1235259,
        3223932,
        3219198,
        2683288,
        3217140,
        1020580,
        37801,
        823645,
        996993,
        1719851,
        3222095,
        3191111,
        3088350,
        1780659,
        3192332,
        3217412,
        3217728,
        3185600,
        3214167,
        3220923,
        2435769,
        3187663,
        1277423,
        3220124,
        3216222,
        1299405,
        1344850,
        3203024,
        928615,
        1547136,
        3212867,
        3215790,
        1095963,
        1488058,
        1302160,
        2371311,
        2841486,
        3031051,
        3204744,
        276313,
        3213310,
        2489920,
        3078961,
        2953342,
        569700,
        3043076,
        3209344,
        265500,
        1562311,
        2442151,
        3034932,
        1029168,
        3164637,
        3172812,
        3207140,
        2916227,
        2417317,
        2866734,
        3208486,
        2267055,
        1021378,
        3208808,
        314748,
        23188,
        3197703,
        2983205,
        3142995,
        377423,
        2951259,
        1961439,
        256301,
        2061055,
        1927216,
        3178866,
        2453833,
        2744294,
        3015881,
        342527,
        3203197,
        1391094,
        3173030,
        3196714,
        3198115,
        1544289,
        422768,
        3185862,
        73104,
        248493,
        2314078,
        1943327,
        2855290,
        774403,
        2201128,
        3156127,
        42436,
        1509522,
        479701,
        1482098,
        2309191,
        3197408,
        53712,
        2965838,
        716811,
        2279872,
        3190030,
        2327447,
        3154335,
        3183869,
        3117974,
        3189775,
        2986937,
        3188419,
        3180072,
        1554313,
        1503366,
        3165475,
        3184757,
        2552808,
        2958997,
        21044,
        3188672,
        3185710,
        2164114,
        3177760,
        1407766,
        3065785,
        3158722,
        3185197,
        802538,
        3169068,
        788409,
        2430598,
        783168,
        1185671,
        3168900,
        3139677,
        2715219,
        514713,
        1467440,
        1918716,
        1669073,
        3164254,
        2009482,
        1197995,
        2688014,
        2143201,
        568980,
        378636,
        1766868,
        3105335,
        2322630,
        2369168,
        3097217,
        73588,
        1412908,
        465438,
        3131575,
        3179637,
        3179441,
        3137011,
        3169600,
        400569,
        663701,
        998045,
        3175104,
        1362670,
        3175484,
        19985,
        406517,
        1773272,
        1013590,
        3121126,
        2090151,
        162582,
        457060,
        845086,
        2551127,
        1029956,
        2740319,
        2790937,
        1873014,
        2469625,
        775242,
        2572108,
        1565610,
        3106591,
        1909743,
        3164566,
        3163465,
        3156203,
        1301246,
        412775,
        3158009,
        1262704,
        615440,
        2833145,
        73252,
        2863292,
        3161836,
        2971166,
        1319030,
        2036664,
        1487583,
        3081589,
        1744773,
        3155649,
        3158096,
        2949385,
        476862,
        14863,
        2963313,
        2110811,
        1293575,
        3149339,
        3157045,
        3049150,
        1213948,
        3141932,
        3072345,
        1741366,
        3152854,
        683691,
        2204474,
        2158549,
        341658,
        3152872,
        3138072,
        2806126,
        1943436,
        2656698,
        1948828,
        3057605,
        3100126,
        3152802,
        1630633,
        1736382,
        2701247,
        1568163,
        324827,
        3065991,
        3046736,
        1784313,
        3141837,
        2874716,
        3064441,
        2192536,
        46517,
        72504,
        3141606,
        3140969,
        2709314,
        3127779,
        3122658,
        421269,
        1893467,
        2035757,
        3128133,
        853539,
        1632412,
        1655339,
        906114,
        2543488,
        3007112,
        1600228,
        1696942,
        2865883,
        3084600,
        2700764,
        2617643,
        3002596,
        3111303,
        3011630,
        2623226,
        3124379,
        1871904,
        3122182,
        52755,
        2155784,
        3121948,
        2813243,
        2834588,
        2882644,
        1722856,
        1757424,
        2270602,
        3114108,
        3115589,
        883203,
        2941724,
        847151,
        1963985,
        1168592,
        435566,
        1339296,
        3051196,
        2456405,
        1676299,
        2698024,
        3109457,
        3119925,
        2154578,
        3118150,
        3104148,
        1910974,
        2729085,
        3085638,
        3100735,
        47806,
        2460685,
        2733150,
        549366,
        3093008,
        285343,
        3108498,
        2303668,
        2841983,
        451258,
        28086,
        2463400,
        1135829,
        47123,
        2963391,
        3104068,
        1633210,
        2799530,
        572064,
        1829226,
        3083976,
        3103218,
        1250136,
        3109705,
        2680284,
        3107086,
        2414128,
        2985566,
        2949667,
        237119,
        876326,
        3045788,
        3003482,
        3034337,
        2205493,
        3046039,
        3097342,
        3098541,
        2393112,
        3092054,
        1819009,
        2979456,
        3104981,
        727141,
        2716800,
        2034528,
        2758774,
        3025063,
        1774881,
        1882958,
        2671935,
        1832686,
        544285,
        1174270,
        3100596,
        3060855,
        2552354,
        253427,
        701183,
        567514,
        2881411,
        187758,
        739415,
        2834891,
        2680529,
        4207,
        2428833,
        3025422,
        3096401,
        3096346,
        1739469,
        1749435,
        2708,
        1531703,
        3079690,
        2763019,
        87391,
        26841,
        1384856,
        1693892,
        3045291,
        3090819,
        629440,
        1050095,
        3057610,
        2311739,
        2919660,
        3080760,
        2606226,
        873927,
        2937973,
        3037283,
        2989266,
        1225666,
        2630228,
        3086647,
        3085854,
        3060819,
        3083463,
        2756036,
        909198,
        2261212,
        3084893,
        752393,
        3072903,
        3082548,
        1963130,
        3083325,
        996130,
        2016959,
        440501,
        3078970,
        3082023,
        3079600,
        3078406,
        3059857,
        1020913,
        2986026,
        3026014,
        2929234,
        1495429,
        1919519,
        2148137,
        2864491,
        2995203,
        1224294,
        955813,
        102189,
        2967143,
        3068391,
        3072413,
        56477,
        2847602,
        3044068,
        2656226,
        1792231,
        1191397,
        1455849,
        2863764,
        185275,
        1833718,
        395999,
        2046645,
        179922,
        2948259,
        2105539,
        1949138,
        3060781,
        2042733,
        1598713,
        1013326,
        3057934,
        1275901,
        3069001,
        287209,
        635203,
        3068988,
        3069852,
        3053680,
        3068027,
        1313248,
        1406401,
        929162,
        1976601,
        3066738,
        993714,
        2531799,
        340014,
        56024,
        1944697,
        3061536,
        1229308,
        1851184,
        504781,
        2319955,
        337744,
        1443785,
        3042357,
        3060108,
        2119888,
        3061766,
        1899997,
        3003269,
        2866251,
        1412284,
        2855316,
        1337931,
        2996253,
        3059537,
        345124,
        853452,
        3016023,
        1727299,
        2212647,
        1444304,
        2513116,
        347764,
        1597233,
        2528906,
        3046428,
        2501510,
        440467,
        783195,
        3048128,
        532915,
        2571497,
        519685,
        3029138,
        3041885,
        99956,
        2897886,
        3017143,
        411079,
        2822198,
        2292005,
        2960394,
        1931501,
        3046853,
        2655680,
        441145,
        2533753,
        773435,
        3036054,
        2754310,
        3025509,
        392262,
        214337,
        2967898,
        2615236,
        3038804,
        3041895,
        1795976,
        2987031,
        2993689,
        3032663,
        2233657,
        794725,
        1506904,
        1569617,
        3011641,
        309297,
        2961946,
        746572,
        2951291,
        2202654,
        2118098,
        2506977,
        1020249,
        2263239,
        2397629,
        2998650,
        2868916,
        165926,
        3022713,
        2516118,
        771843,
        50178,
        31953,
        3034610,
        60750,
        3033198,
        2024226,
        2698304,
        3033887,
        2599210,
        3032201,
        1094033,
        50818,
        1381822,
        3030280,
        3031979,
        749792,
        2746727,
        3025762,
        3014459,
        2874561,
        3026123,
        1408084,
        1206900,
        2950923,
        3004138,
        1284520,
        2173661,
        2952596,
        20526,
        1722134,
        3027071,
        3027034,
        331353,
        3011711,
        3024822,
        68879,
        654403,
        3021605,
        2997425,
        76391,
        21827,
        766709,
        3021132,
        1509820,
        81381,
        3021269,
        343310,
        3017407,
        247770,
        2968219,
        2714877,
        1142205,
        2361815,
        3013672,
        2953922,
        3017790,
        3016995,
        3013464,
        3014604,
        3008474,
        660080,
        1110832,
        2903844,
        1975926,
        1789203,
        3014874,
        2986413,
        3014861,
        1351073,
        246276,
        601267,
        2468170,
        3009962,
        716612,
        913667,
        2267755,
        2968201,
        620371,
        55788,
        2958398,
        3008060,
        663556,
        893686,
        824044,
        2047556,
        2136374,
        85798,
        2388319,
        2003799,
        2958669,
        3006509,
        2999251,
        3005568,
        2957570,
        1390894,
        1430489,
        2990189,
        2979220,
        2991656,
        874945,
        2744060,
        3001140,
        3002211,
        1291839,
        347355,
        2936064,
        2994464,
        2230628,
        2997889,
        937457,
        51363,
        2997111,
        647847,
        2994052,
        1988985,
        922608,
        2995301,
        2516854,
        301690,
        2769873,
        1531865,
        2621476,
        101430,
        380594,
        2983447,
        2992453,
        1677784,
        2979332,
        2898919,
        45618,
        2922283,
        403648,
        2988361,
        2415760,
        2042257,
        2683720,
        447185,
        1335754,
        2953098,
        1686493,
        243682,
        88781,
        2985152,
        122643,
        2983214,
        2893120,
        605762,
        2986174,
        228687,
        2985935,
        2209971,
        2145178,
        2689350,
        1522972,
        2268952,
        2082595,
        2965827,
        638742,
        2094243,
        1755132,
        2670329,
        2638867,
        2912387,
        2564153,
        2981666,
        1653664,
        2945564,
        2782171,
        2900333,
        2822617,
        2181957,
        2965514,
        2973980,
        634462,
        2921716,
        2951310,
        2975757,
        1660952,
        2601674,
        2537312,
        2868932,
        56736,
        2974050,
        227506,
        1601687,
        1546047,
        791078,
        979743,
        1917801,
        726127,
        1309426,
        507254,
        2120892,
        2896976,
        79696,
        2969173,
        2031229,
        2611626,
        2622593,
        1251252,
        2952362,
        1804263,
        2960417,
        795167,
        2450828,
        18785,
        2970753,
        2303946,
        2921134,
        2635797,
        2859161,
        740592,
        2366419,
        1665033,
        2520383,
        47246,
        2871029,
        2270778,
        2843996,
        2556571,
        5401,
        2163760,
        1693260,
        2236586,
        1334167,
        214254,
        2766533,
        1753537,
        1611913,
        2963438,
        2954499,
        2963947,
        2957809,
        2641219,
        2960571,
        706220,
        2936878,
        2504972,
        1759508,
        2956234,
        2753152,
        2833834,
        335785,
        642174,
        726959,
        1627247,
        1164171,
        2957015,
        2959826,
        2959212,
        1270690,
        781853,
        2850230,
        2899647,
        2253079,
        2246624,
        2950755,
        1647770,
        2949287,
        2953731,
        2341930,
        2941509,
        2954591,
        2952383,
        2942243,
        2275865,
        2118152,
        224475,
        2478953,
        1322854,
        579978,
        1172121,
        2021213,
        2901615,
        2953099,
        2951269,
        2892982,
        2625552,
        96904,
        2643810,
        205587,
        34587,
        1146432,
        2947309,
        2055752,
        1207517,
        2355474,
        2944819,
        1729860,
        1666332,
        2039734,
        1648138,
        2751580,
        741528,
        2342827,
        382960,
        2940304,
        2064660,
        2902522,
        71563,
        2121000,
        2925738,
        2940036,
        2940198,
        1963950,
        1191269,
        672787,
        2939612,
        945065,
        1552332,
        222262,
        230754,
        2556341,
        1294671,
        2440951,
        1837207,
        2932840,
        1026855,
        2892283,
        2856698,
        2562272,
        547691,
        2484760,
        2906739,
        2717530,
        1445999,
        1635455,
        2884081,
        2917755,
        2356754,
        2835383,
        849983,
        1108055,
        2844309,
        1931942,
        2740046,
        979214,
        1441375,
        2907781,
        2901301,
        2116152,
        2875161,
        2690856,
        2925841,
        2818624,
        56838,
        1395673,
        2856604,
        2897590,
        2923008,
        36498,
        979365,
        2850641,
        2818623,
        414764,
        2590995,
        1655290,
        2899272,
        2901893,
        1524058,
        2829454,
        62713,
        2891208,
        2828310,
        2878978,
        1050068,
        2877480,
        2878244,
        1348424,
        337290,
        2840404,
        2829688,
        2861249,
        804955,
        2300972,
        1405801,
        49645,
        2836197,
        2173990,
        1311053,
        2850773,
        738553,
        835731,
        2866826,
        1895790,
        2858882,
        1473238,
        2865715,
        1398661,
        2858532,
        2169676,
        1599330,
        1281437,
        1626067,
        2827646,
        2865020,
        1749716,
        1226421,
        2795948,
        2838295,
        2865574,
        73082,
        2865870,
        102768,
        1313517,
        2833878,
        42274,
        2732869,
        1421568,
        979616,
        752964,
        2854344,
        2837285,
        663265,
        2449413,
        1868391,
        2783091,
        2861039,
        766565,
        1668788,
        2814632,
        2856764,
        1980172,
        296257,
        2684843,
        2004235,
        902285,
        2859301,
        294391,
        1403457,
        311994,
        2104323,
        2855835,
        2848782,
        2785699,
        2849973,
        2850730,
        2836162,
        1931413,
        2855928,
        433545,
        188508,
        1728209,
        2836957,
        2325194,
        55311,
        2775547,
        405759,
        1770236,
        2030050,
        2839067,
        2848666,
        2843628,
        689984,
        2337193,
        2850452,
        1487962,
        285735,
        990246,
        1365553,
        2133813,
        784221,
        1707512,
        2845069,
        2569791,
        2840161,
        825670,
        31579,
        2839391,
        295857,
        2830105,
        2837310,
        2735166,
        2839093,
        2133876,
        2765698,
        2697871,
        27341,
        1169758,
        2687053,
        2712234,
        1937298,
        2455516,
        1168674,
        2559055,
        2830331,
        444911,
        2596139,
        90523,
        2731320,
        2292437,
        2835855,
        2111181,
        2800881,
        2532025,
        1891501,
        2736394,
        1275132,
        2568028,
        2783110,
        2776638,
        1149398,
        2794224,
        454855,
        2828285,
        2817479,
        739730,
        2193106,
        29986,
        4078,
        180800,
        2727235,
        2480659,
        2786189,
        521328,
        9879,
        2043883,
        2830382,
        2819035,
        2719777,
        1819576,
        2829318,
        1562882,
        2219671,
        1508193,
        2743975,
        1356461,
        645359,
        1355737,
        2823382,
        1750403,
        2821058,
        2788917,
        2810674,
        2628225,
        2350036,
        97817,
        2024527,
        2272835,
        1371808,
        2523859,
        2823661,
        2129965,
        1863361,
        2823726,
        2810138,
        300459,
        2821203,
        2131636,
        2768317,
        1909195,
        60835,
        2809370,
        2501019,
        2821276,
        2819263,
        91292,
        2658445,
        2817409,
        47945,
        2752048,
        26280,
        2263226,
        1201035,
        808005,
        888078,
        359256,
        2801380,
        1767020,
        2805667,
        2806818,
        262848,
        2106937,
        1762078,
        650660,
        1312794,
        2812326,
        2801795,
        2566589,
        1838478,
        2080454,
        2713212,
        1861133,
        1289908,
        564107,
        2775713,
        1674569,
        1279184,
        333988,
        2793117,
        656348,
        598802,
        109899,
        2363178,
        1543390,
        2802701,
        1428450,
        220290,
        1971372,
        2085574,
        1214473,
        2790835,
        2396893,
        1260644,
        2805460,
        2786869,
        2710445,
        2804754,
        2763288,
        795866,
        408841,
        1792210,
        1478063,
        1708219,
        22800,
        2800730,
        507083,
        924301,
        2726549,
        2795282,
        2782907,
        2792046,
        1793331,
        2572580,
        1887689,
        1651063,
        2787053,
        2780808,
        32960,
        2499908,
        2742135,
        2797329,
        1875026,
        2018984,
        2785371,
        2795039,
        15077,
        2797177,
        2287226,
        2795946,
        2418749,
        2792957,
        1438419,
        2659093,
        2752552,
        2795995,
        2737755,
        349724,
        2190925,
        1269638,
        2785224,
        2795541,
        1089385,
        2774952,
        2787626,
        650870,
        2787701,
        2519781,
        2788825,
        2148082,
        2782684,
        2793614,
        2791822,
        2781766,
        519452,
        1991673,
        496057,
        1694555,
        2576482,
        2588455,
        1809869,
        2789110,
        2693920,
        528048,
        95746,
        538560,
        2753108,
        2681792,
        2783468,
        987352,
        2656664,
        1095776,
        1692678,
        2503547,
        1915582,
        1381616,
        424522,
        1213566,
        2393436,
        2770579,
        2783017,
        1748322,
        2757418,
        2397204,
        2737315,
        98402,
        766945,
        2778862,
        1835255,
        912329,
        1671548,
        2489424,
        32600,
        2754346,
        2777639,
        2768210,
        2765930,
        2776534,
        1031662,
        267155,
        836802,
        2521068,
        1957,
        2761567,
        650110,
        779817,
        2248560,
        1884152,
        2086781,
        1069457,
        1080764,
        2770156,
        540086,
        410828,
        2262244,
        2748575,
        2252712,
        2635339,
        983444,
        2752742,
        772904,
        1586488,
        2714023,
        1956074,
        81066,
        1834005,
        2767972,
        2764635,
        834788,
        2759150,
        2764773,
        2492622,
        2762803,
        2348577,
        2298956,
        936580,
        2761515,
        10343,
        1678133,
        797673,
        2763627,
        153234,
        2732376,
        2296942,
        2639913,
        2458413,
        2268361,
        2744182,
        2696934,
        2673266,
        2761490,
        2746710,
        1180333,
        2709351,
        419007,
        464975,
        2612055,
        1007673,
        309978,
        2758031,
        526785,
        1188991,
        2637740,
        1020102,
        2758495,
        732999,
        431547,
        2754230,
        2748906,
        1217830,
        2287131,
        2244986,
        2751718,
        1322250,
        1217150,
        309693,
        1714226,
        1068928,
        2193702,
        2746144,
        1625180,
        2586328,
        1949603,
        2731318,
        2735636,
        2472310,
        1368157,
        2730392,
        2711937,
        2745729,
        1689166,
        2386095,
        2627641,
        2720061,
        506856,
        2733460,
        845350,
        896342,
        2721531,
        2750636,
        1420660,
        48107,
        2746067,
        9556,
        2699981,
        1346987,
        2611918,
        2672732,
        2744838,
        2081066,
        2532511,
        2724853,
        2453797,
        2467883,
        69093,
        2736633,
        2140869,
        902712,
        410075,
        2743003,
        2183652,
        125088,
        1157361,
        2047699,
        2732766,
        2540463,
        2675397,
        1244021,
        1509,
        2733703,
        1817504,
        533193,
        43223,
        1189646,
        281879,
        2513461,
        2738225,
        2738665,
        2738089,
        2716017,
        82570,
        1696507,
        13694,
        702741,
        1573947,
        2727230,
        2737454,
        1017353,
        2732572,
        2735827,
        18697,
        1291430,
        2732508,
        1443631,
        768130,
        1358949,
        2680305,
        1563224,
        154154,
        156307,
        2190875,
        2732919,
        2662976,
        1026677,
        2733084,
        1795007,
        2704868,
        1607224,
        61706,
        2017377,
        2235347,
        2346287,
        2728413,
        1007196,
        110928,
        2672873,
        2713909,
        2653759,
        2719402,
        1023451,
        2710593,
        1474291,
        2698647,
        91343,
        2562053,
        2692655,
        1760920,
        2121466,
        1751833,
        2504637,
        2722037,
        2572582,
        2612220,
        2715905,
        152140,
        1745406,
        1574418,
        2719531,
        899944,
        55181,
        767156,
        54634,
        2710965,
        1553084,
        2172011,
        2715841,
        2700823,
        2457239,
        1885184,
        152807,
        2712330,
        2531281,
        1968663,
        2247680,
        2706326,
        2704640,
        2712063,
        2714325,
        2709477,
        2431985,
        2704564,
        2710227,
        2715734,
        1245044,
        2715275,
        2715269,
        1808762,
        2706336,
        2116573,
        35182,
        2662687,
        2705928,
        736704,
        548186,
        860093,
        2710158,
        2251017,
        2045353,
        2098041,
        1717942,
        785588,
        357352,
        2469756,
        746847,
        2703890,
        2696639,
        2351838,
        2195525,
        405376,
        2273671,
        1001489,
        2682453,
        2114996,
        2684712,
        99422,
        2075609,
        2689495,
        582726,
        2695365,
        1249305,
        1856436,
        2087332,
        2700055,
        856395,
        642978,
        398360,
        2682965,
        75026,
        68837,
        2602910,
        1521608,
        1863254,
        2671163,
        2601057,
        1971344,
        2696848,
        2441821,
        1955080,
        2235877,
        2692947,
        2680801,
        2696052,
        1952266,
        2585932,
        734213,
        2691948,
        2367815,
        2670998,
        682025,
        1182947,
        45450,
        617654,
        2687396,
        2232016,
        1958542,
        2209056,
        54588,
        2571670,
        1349964,
        411478,
        71422,
        2539533,
        600159,
        964516,
        2684325,
        645858,
        2608150,
        2246823,
        2014901,
        286303,
        2642533,
        2644022,
        1238498,
        2676081,
        1424312,
        86730,
        2662847,
        2663964,
        1640868,
        2617832,
        12607,
        2667226,
        705519,
        2683097,
        2420691,
        224768,
        1506630,
        2672967,
        2663213,
        1494664,
        2493700,
        1831015,
        2677958,
        951600,
        2530205,
        193935,
        96676,
        2601651,
        2673387,
        2653435,
        2674949,
        142055,
        2463659,
        1849855,
        1751761,
        2375885,
        1418788,
        2623726,
        1624690,
        2660821,
        2670761,
        2672807,
        2669753,
        2624417,
        81921,
        1819498,
        2210204,
        2668613,
        2664004,
        2627921,
        531221,
        800924,
        393082,
        2396704,
        1677993,
        2653692,
        1548338,
        1846741,
        1621497,
        2618556,
        181159,
        2605851,
        1918912,
        2521930,
        1646239,
        2553160,
        2655984,
        2666793,
        139053,
        957620,
        2662964,
        2665881,
        1402249,
        2616004,
        1880084,
        1830006,
        2661883,
        1985603,
        65078,
        2658378,
        2634063,
        2661312,
        1296992,
        2656247,
        2658814,
        2613824,
        2635973,
        2656803,
        647917,
        1611349,
        2106907,
        355697,
        608040,
        10957,
        2656168,
        2624117,
        2061467,
        2422542,
        2447946,
        1581663,
        2655939,
        2254947,
        2013808,
        2652098,
        55437,
        2644307,
        2080428,
        1027952,
        103711,
        2649658,
        676765,
        1641941,
        1379976,
        61414,
        1296658,
        2548019,
        2631019,
        2633140,
        546163,
        2587051,
        865981,
        2617492,
        2609999,
        2260914,
        56154,
        949630,
        2635029,
        2479842,
        2637539,
        2600351,
        1313,
        2633111,
        2626520,
        2390270,
        2594158,
        525961,
        320073,
        1069986,
        1684579,
        1237212,
        2092266,
        2447388,
        2606870,
        818526,
        1683963,
        663668,
        912402,
        2183408,
        252327,
        2191921,
        2631980,
        2623890,
        2456384,
        2553874,
        2622794,
        972746,
        1658684,
        2194127,
        98449,
        2584134,
        769669,
        1652015,
        917009,
        2250408,
        70615,
        2587408,
        2282309,
        2466761,
        2626031,
        2380844,
        730861,
        648032,
        708583,
        2607406,
        41996,
        64213,
        2346401,
        2127867,
        1890484,
        432609,
        2482995,
        253062,
        1717309,
        1042239,
        2619287,
        2576460,
        965676,
        2606866,
        1668981,
        587878,
        1267406,
        2489712,
        5681,
        1105785,
        2616136,
        104785,
        2587165,
        2538252,
        213031,
        2394372,
        1766019,
        1346485,
        2546760,
        2539633,
        981827,
        2611037,
        2156837,
        2611787,
        1901148,
        2578137,
        2612134,
        2602999,
        2294936,
        965769,
        2252010,
        2602639,
        2603535,
        313953,
        836596,
        2595997,
        2607887,
        427200,
        78354,
        1985877,
        741609,
        78022,
        1873181,
        701125,
        598889,
        2190414,
        1383121,
        274328,
        2574180,
        189537,
        25543,
        2587840,
        2601129,
        106829,
        1476332,
        2603058,
        2600384,
        2593830,
        2397070,
        2598178,
        2586114,
        1892623,
        1700270,
        396076,
        2261142,
        2586842,
        2479550,
        938119,
        2481070,
        2274040,
        1918628,
        2599564,
        2237817,
        1405157,
        2428605,
        176960,
        2566307,
        2549699,
        2559780,
        2594614,
        2597233,
        2515459,
        916314,
        419143,
        2498686,
        11352,
        2589865,
        184661,
        2570516,
        2594443,
        2507058,
        2476531,
        2489632,
        2560545,
        2559899,
        2354336,
        2542831,
        2586625,
        399992,
        2592428,
        2592181,
        2457780,
        1601846,
        2320329,
        1671601,
        1724521,
        23436,
        1398871,
        276307,
        2585718,
        1646689,
        2461190,
        2404887,
        1300022,
        1469963,
        781235,
        2571381,
        2343689,
        2473087,
        1962063,
        2547807,
        391248,
        1518779,
        1289309,
        733964,
        563738,
        2566592,
        2220097,
        1161793,
        2392759,
        2579833,
        1309720,
        2542545,
        2579930,
        2230224,
        2572258,
        1437115,
        2169912,
        2559235,
        60258,
        2573058,
        2576130,
        526566,
        77355,
        2222614,
        2250669,
        2572945,
        1730838,
        2046557,
        1349150,
        1216032,
        1469239,
        719717,
        2552507,
        1214721,
        2555218,
        2466506,
        1921904,
        2481365,
        1011084,
        2015973,
        2465536,
        1550,
        101062,
        2572136,
        2500131,
        551174,
        1125813,
        739083,
        595255,
        89845,
        1040535,
        2570229,
        2128204,
        2566153,
        2552482,
        2560281,
        2569694,
        2014350,
        1567161,
        95030,
        2566260,
        1897664,
        2554978,
        1889356,
        2502717,
        87725,
        34289,
        1845450,
        93589,
        205376,
        1835036,
        2522543,
        2090996,
        1530104,
        2566179,
        2565923,
        2119572,
        1805665,
        2564863,
        2552380,
        2563079,
        79416,
        2561835,
        2563102,
        2547707,
        73975,
        2023063,
        2539833,
        2495032,
        423877,
        2184043,
        2523536,
        2556713,
        2532802,
        2555824,
        328928,
        687021,
        1763211,
        2549025,
        2518127,
        2109413,
        2554725,
        1629547,
        2506321,
        30906,
        2556366,
        2554098,
        2215058,
        2439627,
        2554894,
        2452351,
        1897073,
        1696582,
        2549247,
        2136016,
        22822,
        111952,
        2548784,
        2552051,
        2539128,
        2542466,
        2539566,
        805290,
        602423,
        1721573,
        1796968,
        2473575,
        2523897,
        2539659,
        2525480,
        2092987,
        2115999,
        2207120,
        2524891,
        2480919,
        2522417,
        1319026,
        2517047,
        2079530,
        198786,
        2528586,
        425187,
        1341815,
        2533553,
        1790708,
        1275022,
        2489979,
        794180,
        22128,
        2413840,
        2408921,
        2538404,
        2518409,
        1045280,
        2527195,
        1576941,
        1839901,
        2488648,
        2530638,
        2358401,
        1217701,
        2524786,
        2511618,
        1339896,
        2518932,
        545139,
        275424,
        1649257,
        2532896,
        974795,
        1242462,
        2531107,
        952605,
        2529251,
        2505718,
        2002033,
        1574910,
        2095074,
        2187819,
        2524657,
        1482533,
        2454515,
        2516556,
        79293,
        2519588,
        2271836,
        2518232,
        759376,
        1804012,
        2521855,
        2522089,
        2496355,
        2343035,
        2030509,
        204126,
        2516509,
        864390,
        144284,
        144284,
        2521255,
        25738,
        1211039,
        2482050,
        2493542,
        2467060,
        2118028,
        1445527,
        2507805,
        959366,
        878503,
        279168,
        336043,
        2032196,
        79320,
        2497332,
        2204526,
        2505119,
        485997,
        2516269,
        2500250,
        1014375,
        2453766,
        2516419,
        2223419,
        2013559,
        369403,
        1895676,
        1114224,
        267950,
        2496992,
        1745665,
        42875,
        2415473,
        2044099,
        2392002,
        2502193,
        2441518,
        2500134,
        2507325,
        455077,
        1218577,
        651579,
        98038,
        1062991,
        310105,
        2259956,
        2472816,
        2503183,
        2230114,
        1553809,
        2214707,
        88830,
        2502248,
        1630245,
        2500104,
        625116,
        93238,
        2458701,
        1796460,
        1626926,
        2172000,
        692639,
        1125352,
        1592510,
        1845979,
        2502044,
        2502208,
        1213407,
        1231001,
        2502001,
        923708,
        291629,
        63146,
        2130515,
        135689,
        1375102,
        1548508,
        1644871,
        2408037,
        2444575,
        2485403,
        662527,
        1531380,
        2488740,
        1691223,
        62406,
        2479692,
        1737988,
        985551,
        2440403,
        2393081,
        2488455,
        197383,
        1979525,
        2019607,
        259332,
        2121268,
        1863694,
        963173,
        2477714,
        2419392,
        2485559,
        552106,
        2425241,
        2481818,
        803962,
        1698279,
        2484280,
        169547,
        75246,
        2110633,
        168772,
        2482385,
        972302,
        1973820,
        2022574,
        1515413,
        2463312,
        2471560,
        356910,
        457551,
        441292,
        1863856,
        292302,
        2016545,
        1702967,
        477399,
        740123,
        1050390,
        2467216,
        2328614,
        414566,
        1847280,
        1023474,
        2476245,
        2366997,
        2454058,
        1917534,
        1167857,
        2420271,
        570989,
        2453476,
        1784130,
        2342365,
        1785825,
        965343,
        1492604,
        1718916,
        2287550,
        2244435,
        2460279,
        2463200,
        1727389,
        2178652,
        2424682,
        253268,
        1343354,
        1064025,
        1495501,
        513359,
        854136,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        1378576,
        744025,
        796360,
        762300,
        1341079,
        1418968,
        2459619,
        1291692,
        780996,
        179142,
        1418658,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        475426,
        null,
        null,
        null,
        null,
        null,
        2009058,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        541098,
        2418117,
        2416419,
        1370371,
        504239,
        1509771,
        2238141,
        2398981,
        60014,
        1393408,
        "Top.infinity33@gmail.com",
        "powforchai@gmail.com",
        "Mohdaizuddinelias@gmail.com",
        "outback-heirs0e@icloud.com",
        "sitifatimahhhameer@gmail.com",
        "saffiyyahfarhana@gmail.com",
        "sharizalmalek@gmail.com",
        "tharma_remo@yahoo.com",
        " kriticarani@rocketmail.com",
        "linges39@gmail.com",
        "cpebizs@gmail.com",
        19217,
        20190,
        23254,
        27519,
        27551,
        32133,
        33151,
        35444,
        35561,
        36079,
        36365,
        36521,
        37333,
        38267,
        38439,
        39151,
        40735,
        40921,
        41127,
        41608,
        41724,
        41749,
        42137,
        42399,
        42707,
        42849,
        12899,
        19353,
        23956,
        26261,
        27750,
        28472,
        29017,
        31146,
        31379,
        33164,
        33615,
        33926,
        35551,
        36174,
        36585,
        37073,
        37713,
        37728,
        38029,
        38260,
        38434,
        38473,
        39563,
        39641,
        39660,
        39933,
        40012,
        40057,
        40116,
        40220,
        40301,
        40892,
        41136,
        41268,
        41270,
        41407,
        41682,
        42300,
        42343,
        42438,
        42662,
        42690,
        42743,
        34796,
        39374,
        41105,
        20054,
        36923,
        27043,
        19995,
        39889,
        26974,
        39701,
        38092,
        41642,
        18799,
        39734,
        1740,
        40531,
        36804,
        38580,
        26805,
        14675,
        34334,
        40629,
        21248,
        28915,
        41586,
        41148,
        41139,
        39738,
        35016,
        27715,
        39435,
        26309,
        35073,
        2038,
        36791,
        39062,
        37948,
        38875,
        30729,
        39692,
        32406,
        24942,
        40221,
        38458,
        38202,
        37568,
        32750,
        35103,
        41550,
        39269,
        37792,
        36274,
        35383,
        25601,
        12864,
        41012,
        37433,
        32621,
        33630,
        27474,
        38553,
        21778,
        2497,
        40593,
        28185,
        31155,
        35009,
        1167,
        41172,
        34700,
        17005,
        41974,
        39461,
        39439,
        40705,
        33820,
        10983,
        1266,
        39774,
        34695,
        40850,
        36282,
        35342,
        40760,
        1166,
        14683,
        840,
        37105,
        38286,
        40753,
        28301,
        32796,
        33760,
        40946,
        39536,
        39717,
        40502,
        36721,
        36427,
        36069,
        32385,
        40786,
        37724,
        37392,
        6871,
        41785,
        37198,
        31404,
        39170,
        37529,
        39371,
        39373,
        36415,
        36968,
        39960,
        19972,
        40670,
        17984,
        39343,
        40835,
        39622,
        30316,
        41135,
        31632,
        34878,
        38573,
        33659,
        41011,
        35567,
        38925,
        34917,
        40896,
        37706,
        39999,
        39279,
        9708,
        38912,
        33302,
        6107,
        29539,
        39837,
        38311,
        38218,
        28724,
        35373,
        9552,
        27319,
        848,
        28436,
        6,
        1,
        2,
        3,
        4,
        5,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null
      ]
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": [
        96
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2022-12-15T07:35:21.640Z",
      "updatedAt": "2022-12-15T07:35:21.640Z",
      "id": "2",
      "name": "MY"
    },
    {
      "createdAt": "2023-05-12T02:58:32.100Z",
      "updatedAt": "2023-05-12T02:58:32.100Z",
      "id": "7",
      "name": "Host CRM"
    },
    {
      "createdAt": "2023-05-12T02:58:38.207Z",
      "updatedAt": "2023-05-12T02:58:38.207Z",
      "id": "8",
      "name": "Host Community"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-13T15:55:36.106Z",
  "versionId": "1043f0be-fd69-4f72-bbba-efb67b0cb7e6"
}