workflows/[KAVI] [HOST COMMUNITY] [Whatsapp] - Host First Requested Whatsapp.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-23T07:21:01.196Z",
  "id": "PKIu086L0tD59H71",
  "name": "[KAVI] [HOST COMMUNITY] [Whatsapp] - Host First Requested Whatsapp",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "4755e83d-8872-4327-ab48-8bc8476ee1a7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        360,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIMEZONE = 'Asia/Kuala_Lumpur';\n\nselect distinct l.user_id, \nconcat(u.first_name,' ',u.last_name)as host_name, \nu.email,\nu.phone_number,\nu.uuid,\nto_char(min(b.created_at),'YYYY-MM-DD HH24:MI')as HFR\nfrom bookings b \nleft join listings l on l.id = b.listing_id \nleft join listing_location ll on ll.listing_id = b.listing_id \nleft join users u on u.id = l.user_id \nwhere 1=1\nand ll.country = 'Malaysia'\nand b.status not in ('payment_failed')\n--and l.user_id = '5162'\ngroup by 1,2,3,4,5\nhaving min(b.created_at)::date = NOW()::date",
        "options": {}
      },
      "id": "0ff35328-1f0b-49c7-8670-129415d4c9ec",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        520,
        -140
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"user_id\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['user_id']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        -140
      ],
      "id": "0f1ec4a2-cfd8-4ba1-ad81-36eb5127f4c9"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        }
      },
      "id": "54cd2406-3175-495d-b021-68b057fd6613",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sg1.api.clevertap.com/1/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \n    \"X-CleverTap-Account-Id\": \"6Z6-KR8-966Z\",\n    \"X-CleverTap-Passcode\": \"dddf3562-fc72-479d-8940-544009845a3d\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"d\": [\n        {\n            \"identity\": \"{{ $('Function').item.json[\"uuid\"] }}\",\n            \"ts\": {{ Math.floor(Date.now() / 1000) }},\n            \"type\": \"event\",\n            \"evtName\": \"Host_hfr\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "2ddb71e2-8986-436b-855c-887b9d6ff5a5",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1020,
        -140
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WYu4T1nZD-qQycrQw3pDHlOdBl69ngsReM6UcnOGojA",
          "mode": "list",
          "cachedResultName": "Host First Requested Whatsapp Receiver",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WYu4T1nZD-qQycrQw3pDHlOdBl69ngsReM6UcnOGojA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WYu4T1nZD-qQycrQw3pDHlOdBl69ngsReM6UcnOGojA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Function').item.json.user_id }}",
            "host_name": "={{ $('Function').item.json.host_name }}",
            "email": "={{ $('Function').item.json.email }}",
            "phone_number": "={{ $('Function').item.json.phone_number }}",
            "uuid": "={{ $('Function').item.json.uuid }}",
            "hfr": "={{ $('Function').item.json.hfr }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "host_name",
              "displayName": "host_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uuid",
              "displayName": "uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hfr",
              "displayName": "hfr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "1e6b16e6-0057-48a3-bb93-7fb219d2848c",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1180,
        -140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "19",
          "name": "Google Sheet - Jiun's Account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any",
    "errorWorkflow": "11",
    "saveManualExecutions": false,
    "executionOrder": "v0"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        804955,
        2523859,
        2865715,
        1750403,
        2696934,
        2865574,
        1312794,
        752964,
        2770579,
        2628225,
        2850452,
        979616,
        2855835,
        47945,
        5681,
        766565,
        294391,
        42274,
        902285,
        1668788,
        433545,
        1931413,
        1863361,
        2850730,
        1020102,
        2219671,
        48107,
        784221,
        45450,
        285735,
        1909195,
        2157031,
        2836957,
        295857,
        2129965,
        825670,
        2821058,
        2719777,
        2263226,
        2835855,
        27341,
        2790835,
        2837310,
        2731320,
        2792957,
        2101777,
        2684712,
        645359,
        2800730,
        2121466,
        1168674,
        2246823,
        262848,
        2819035,
        631184,
        40512,
        2455516,
        2559055,
        300459,
        1908759,
        2743975,
        656348,
        359256,
        1792210,
        1275132,
        2782907,
        1371808,
        936580,
        2521068,
        357352,
        2736394,
        2746613,
        2658445,
        2726549,
        2823726,
        2532025,
        2800881,
        785588,
        521328,
        2783110,
        2819263,
        2024527,
        2576482,
        267155,
        2653435,
        2298956,
        2696848,
        2809370,
        538560,
        2806818,
        2453797,
        60835,
        23311,
        528048,
        888078,
        1762078,
        2363178,
        32960,
        26280,
        1213566,
        1543390,
        2393436,
        2810138,
        779817,
        109899,
        2106937,
        808005,
        650870,
        2602910,
        1214473,
        153234,
        912329,
        2499908,
        2566589,
        1651063,
        2793117,
        993120,
        2612055,
        2704868,
        2672967,
        54634,
        2656664,
        2348577,
        2785224,
        2715905,
        2786869,
        2085574,
        2193702,
        507083,
        22800,
        2040846,
        15077,
        1478063,
        2754346,
        1358949,
        2791822,
        2148082,
        1089385,
        424522,
        2768210,
        2737755,
        2765930,
        2724853,
        2588455,
        2789638,
        1671548,
        2761567,
        1438419,
        540086,
        2776534,
        972746,
        2795946,
        2748575,
        2744182,
        2699981,
        1349964,
        2018984,
        1069457,
        2783017,
        519452,
        2752552,
        431547,
        1884152,
        2770156,
        2463659,
        10343,
        1689166,
        2767862,
        2750636,
        2753108,
        1189646,
        1834005,
        1244021,
        896342,
        2714023,
        2738089,
        2488648,
        2709351,
        2757418,
        548186,
        2737315,
        1474915,
        714796,
        766945,
        405376,
        410828,
        2562053,
        2710965,
        1949603,
        2664004,
        2153941,
        1957,
        2754230,
        1180333,
        2396704,
        92802,
        99422,
        2540463,
        2733084,
        2458413,
        2730392,
        2183652,
        1751833,
        2262244,
        309978,
        2453766,
        2728413,
        2758495,
        1420660,
        2492622,
        2746710,
        2692655,
        1958542,
        533193,
        2017377,
        2760188,
        2366107,
        1188991,
        1295069,
        2709477,
        411478,
        1918912,
        2045353,
        2244986,
        2420691,
        2732508,
        1714226,
        2719402,
        2273671,
        1081277,
        2623726,
        2493700,
        2745729,
        2706336,
        2706326,
        736704,
        845350,
        1068928,
        2611918,
        1346987,
        1885184,
        2658378,
        69093,
        1899276,
        2627641,
        2114996,
        125088,
        2676016,
        1696507,
        1830006,
        18697,
        1157361,
        1509,
        1952266,
        2715269,
        2733703,
        2346287,
        1424312,
        56154,
        156307,
        110928,
        43223,
        2732572,
        1238498,
        2247680,
        2394372,
        1745406,
        768130,
        2662976,
        152140,
        1573947,
        2190875,
        1808762,
        82570,
        2737454,
        734213,
        1291430,
        1173821,
        2513461,
        2727230,
        2441821,
        2649658,
        2612220,
        2698647,
        1955080,
        2447946,
        1007196,
        2695365,
        2172011,
        2712063,
        2682453,
        35182,
        2469756,
        617654,
        2605851,
        1553084,
        2692947,
        1245044,
        398360,
        142055,
        2251017,
        2116573,
        2696639,
        2661312,
        1677993,
        2696052,
        1684579,
        2479842,
        2106907,
        2689495,
        2089521,
        956555,
        2687396,
        746847,
        2663213,
        2601057,
        1001489,
        355697,
        2703890,
        964516,
        642978,
        856395,
        2642533,
        2195525,
        54588,
        181159,
        2584134,
        2673942,
        2670761,
        647917,
        682025,
        2600351,
        68837,
        1521608,
        2254947,
        1624690,
        2627921,
        951600,
        241418,
        2631758,
        1418788,
        2674949,
        2635973,
        2422542,
        526566,
        2684325,
        845937,
        2651340,
        1621497,
        2668613,
        2635029,
        1970252,
        587049,
        831150,
        1069986,
        139053,
        81921,
        2627022,
        2617492,
        2653692,
        1908783,
        2613824,
        2375885,
        2485403,
        325397,
        2260914,
        2080428,
        432111,
        103711,
        1846741,
        2666793,
        2655984,
        1402249,
        2586842,
        676073,
        2613182,
        275772,
        427200,
        2250408,
        62,
        7851,
        8769,
        17315,
        18766,
        24698,
        25446,
        27588,
        28171,
        30804,
        30845,
        40458,
        41892,
        44635,
        49661,
        52121,
        52157,
        58042,
        59707,
        63350,
        68255,
        75065,
        75218,
        75972,
        82547,
        82627,
        82902,
        82975,
        83014,
        83022,
        83058,
        83063,
        83174,
        83301,
        83309,
        83441,
        83522,
        83544,
        83550,
        83560,
        83605,
        83636,
        83797,
        83844,
        84161,
        84388,
        84401,
        84433,
        84447,
        84623,
        84997,
        85073,
        85821,
        85849,
        85899,
        85923,
        85971,
        85980,
        85994,
        86421,
        86433,
        86615,
        86635,
        87309,
        87574,
        87671,
        87723,
        87745,
        87749,
        87846,
        88499,
        88509,
        88671,
        88787,
        89659,
        89740,
        90101,
        92969,
        93077,
        93887,
        94900,
        95047,
        95285,
        95296,
        95769,
        96161,
        96229,
        96378,
        97189,
        98531,
        98835,
        98936,
        99600,
        99935,
        101988,
        109755,
        110161,
        122704,
        124072,
        129614,
        148353,
        151319,
        159712,
        161697,
        174957,
        175621,
        180129,
        190891,
        253231,
        269429,
        271524,
        313364,
        356060,
        380384,
        418913,
        514006,
        517925,
        536765,
        537224,
        543598,
        554843,
        555068,
        557370,
        565124,
        566929,
        581386,
        626757,
        641771,
        710896,
        717030,
        749679,
        780452,
        780508,
        802146,
        837406,
        846781,
        869010,
        894771,
        904753,
        916140,
        918687,
        927618,
        943684,
        949130,
        966911,
        983694,
        991391,
        997771,
        1015097,
        1033261,
        1047859,
        1050501,
        1055202,
        1064122,
        1082950,
        1133422,
        1154407,
        1226014,
        1233318,
        1248122,
        1258337,
        1286559,
        1310792,
        1323460,
        1360217,
        1361178,
        1363326,
        1369291,
        1377920,
        1392907,
        1400388,
        1404401,
        1409884,
        1412075,
        1500275,
        1510875,
        1568127,
        1578972,
        1580437,
        1597545,
        1637853,
        1640105,
        1658444,
        1662965,
        1673196,
        1673664,
        1674781,
        1694906,
        1703359,
        1704739,
        1705405,
        1760525,
        1760957,
        1762318,
        1786470,
        1815589,
        1902523,
        1955471,
        1970153,
        2036980,
        2063715,
        2081536,
        2117623,
        2122755,
        2136340,
        2141907,
        2142142,
        2152906,
        2158473,
        2173409,
        2195743,
        2203165,
        2209964,
        2236198,
        2291767,
        2300558,
        2300796,
        2399960,
        2413078,
        1027952,
        865981,
        2607887,
        2498686,
        676765,
        2606866,
        709732,
        1214132,
        2191921,
        1683963,
        432609,
        648032,
        663668,
        1652015,
        1873181,
        2083711,
        2482995,
        2601129,
        2606870,
        320073,
        1766019,
        2587165,
        1267406,
        2576460,
        2250669,
        769669,
        2546760,
        2237817,
        2092266,
        419802,
        1357261,
        1805665,
        2282309,
        2507771,
        2587408,
        2626031,
        2487364,
        587878,
        1405157,
        2346401,
        2566592,
        2619287,
        2603535,
        2194127,
        2395397,
        2622794,
        64213,
        2294936,
        2533553,
        2603058,
        184661,
        2623890,
        1741747,
        1237212,
        1193726,
        598889,
        2622528,
        2542545,
        2343689,
        274328,
        916314,
        1476332,
        2207120,
        2518227,
        89691,
        23436,
        104785,
        164423,
        701125,
        965676,
        981827,
        1161793,
        2489632,
        2522543,
        2611037,
        2612134,
        252327,
        2489712,
        2220097,
        2538252,
        551174,
        2397070,
        2559235,
        2579833,
        2566307,
        86136,
        396076,
        2428605,
        2578137,
        1263402,
        2090996,
        2274040,
        60258,
        85282,
        88830,
        89845,
        777142,
        1040535,
        1213407,
        2081960,
        2083345,
        2119572,
        2169912,
        2233994,
        2472816,
        2505718,
        2529251,
        2559899,
        2560545,
        2586625,
        276307,
        1339896,
        1962063,
        2559780,
        1700270,
        391248,
        985551,
        1011084,
        1216032,
        1398871,
        1518779,
        1696582,
        1796968,
        2289119,
        2458701,
        2480919,
        2481365,
        2502717,
        2555218,
        2570516,
        2579930,
        1042239,
        389713,
        1619941,
        2249110,
        101062,
        1601846,
        2592181,
        573421,
        843551,
        2447427,
        1383121,
        1125813,
        2046557,
        2525480,
        2572945,
        412946,
        1349150,
        1671601,
        2023063,
        2571381,
        1484448,
        1996722,
        2313393,
        2417580,
        781235,
        1897664,
        2589865,
        2479550,
        2222614,
        1202477,
        1469963,
        1845450,
        1921904,
        2407370,
        1590179,
        1885292,
        2594614,
        336043,
        1724521,
        2515459,
        2461190,
        2261142,
        25710,
        1289309,
        2404887,
        2466506,
        2511618,
        2563102,
        1008547,
        1352334,
        2379380,
        2576130,
        2585718,
        73975,
        381413,
        2408921,
        2496350,
        938119,
        26030,
        100597,
        229840,
        575157,
        595255,
        1530104,
        2015973,
        2109413,
        341698,
        1161539,
        77355,
        563738,
        111952,
        1257612,
        1722791,
        1835036,
        2506321,
        2539833,
        2544477,
        2570229,
        1331141,
        2407497,
        1892623,
        11352,
        733964,
        222498,
        794180,
        1214721,
        1408483,
        2500131,
        2532802,
        2547707,
        2549025,
        2564863,
        2391404,
        2139540,
        1785825,
        2392759,
        1309720,
        513061,
        2527195,
        2563079,
        2569694,
        2378409,
        1889356,
        719717,
        2552507,
        2539128,
        941157,
        1643449,
        34289,
        1341815,
        1629547,
        2184043,
        2253254,
        2337861,
        2358401,
        2566260,
        1319026,
        2554098,
        2252905,
        2561835,
        2542466,
        423877,
        2519588,
        1968196,
        2530638,
        2549247,
        2572258,
        1469239,
        87725,
        77227,
        2041938,
        2271836,
        2363683,
        1601841,
        1550,
        1897073,
        1049,
        25912,
        98683,
        198786,
        369403,
        2230114,
        2413840,
        2522417,
        2552482,
        2548784,
        2566153,
        450822,
        2560281,
        2523536,
        79320,
        806773,
        864390,
        959366,
        2136016,
        2552380,
        1937538,
        2554725,
        2524891,
        2554978,
        2153292,
        2400186,
        1567161,
        22128,
        180631,
        974795,
        1336801,
        2039937,
        2172000,
        2473575,
        2128204,
        31911,
        1721573,
        2523897,
        90605,
        425187,
        1397015,
        1704099,
        2521255,
        2337622,
        2452397,
        2452351,
        205376,
        1125352,
        1790708,
        2013702,
        2524786,
        463687,
        2439627,
        1917534,
        2539659,
        474426,
        1384837,
        1931324,
        2013559,
        1775915,
        2115999,
        2554894,
        625116,
        1045280,
        2524657,
        1515413,
        1649257,
        2493542,
        2518232,
        791965,
        279168,
        1383371,
        2518409,
        2495032,
        2476061,
        2454515,
        2532896,
        1689818,
        2516556,
        2489979,
        1574910,
        1385417,
        86420,
        485997,
        1445527,
        1548508,
        2019607,
        2505119,
        79293,
        1461418,
        2136914,
        2318883,
        2502248,
        805290,
        539452,
        2502193,
        552106,
        1275022,
        85912,
        455077,
        737125,
        1211039,
        2162338,
        541098,
        1343354,
        1418658,
        1575535,
        2136032,
        2281070,
        2416085,
        2552051,
        2187819,
        25738,
        68018,
        204126,
        267950,
        1585283,
        1630245,
        2432855,
        2507805,
        2522089,
        103172,
        438284,
        744025,
        765984,
        1559242,
        1964475,
        2194605,
        2265402,
        2287516,
        2372215,
        2432509,
        2079530,
        69100,
        310105,
        440831,
        650878,
        1218577,
        2204526,
        2218745,
        2499309,
        2500250,
        2512780,
        2516419,
        241738,
        293423,
        762300,
        1291692,
        1545538,
        1714103,
        1734787,
        1751198,
        1959139,
        2230142,
        2405800,
        2418117,
        477399,
        2444575,
        101288,
        182623,
        1804077,
        1913349,
        2130515,
        401904,
        2185630,
        2240419,
        2516509,
        2403779,
        1863694,
        570989,
        1062991,
        1375102,
        1220573,
        818680,
        1064025,
        417811,
        2518932,
        1385541,
        1632843,
        2276282,
        26642,
        602846,
        2105887,
        275424,
        1592510,
        2343035,
        2374221,
        2482911,
        545139,
        2360771,
        759376,
        26130,
        570234,
        323900,
        584026,
        2452688,
        2500104,
        467267,
        944458,
        2159830,
        2174182,
        2415473,
        2453476,
        197383,
        1553809,
        1926050,
        617598,
        633086,
        920934,
        1195887,
        1555413,
        1795126,
        1858635,
        1919588,
        1983909,
        2032650,
        2160942,
        2182184,
        2294825,
        2382683,
        2396562,
        2414408,
        1492604,
        137185,
        711979,
        1796460,
        2234457,
        2435930,
        500756,
        916239,
        1031674,
        1857631,
        1861314,
        2077866,
        2403266,
        2415042,
        2432981,
        1126764,
        42875,
        259332,
        1034350,
        1600770,
        1894459,
        2212008,
        2459619,
        2463330,
        2479692,
        2378551,
        43335,
        1442932,
        2032196,
        2467060,
        2516269,
        2214707,
        878503,
        2441518,
        1831210,
        9558,
        396470,
        1318822,
        1698289,
        1979525,
        2311997,
        2118028,
        1691223,
        2440403,
        1689208,
        1804012,
        2520639,
        2002213,
        446678,
        1050223,
        1723167,
        2168882,
        2425241,
        2463312,
        2477714,
        2488740,
        28610,
        995839,
        1668505,
        1114224,
        2006330,
        595506,
        92147,
        33099,
        78103,
        854136,
        1657306,
        2465793,
        2003616,
        170631,
        388306,
        803962,
        1435857,
        1646160,
        1863856,
        50162,
        142649,
        161179,
        373237,
        741606,
        935507,
        1415677,
        1435249,
        1619409,
        2374565,
        2378818,
        2290020,
        27087,
        168772,
        740123,
        1698279,
        1765902,
        1847280,
        1987769,
        2397020,
        2419598,
        1641926,
        1696393,
        1766075,
        2357964,
        2412196,
        75246,
        441292,
        11722,
        1050390,
        1370371,
        2013228,
        2057594,
        2342365,
        1757158,
        2248201,
        2280718,
        2016545,
        2488455,
        1644871,
        2485559,
        1675544,
        1678161,
        692639,
        1626926,
        630771,
        418661,
        1907647,
        55465,
        2222932,
        2269236,
        662527,
        1531380,
        291629,
        2366997,
        273632,
        2344080,
        2110633,
        377717,
        1422667,
        2416419,
        1911475,
        2393081,
        923708,
        1258218,
        81865,
        744783,
        1591747,
        1601636,
        1860627,
        2180603,
        2242767,
        2424682,
        693267,
        2228218,
        2416434,
        2442707,
        902998,
        1212043,
        2032256,
        2267766,
        2015961,
        2192204,
        123982,
        935904,
        1210435,
        1669818,
        1867258,
        2094005,
        2148186,
        2211621,
        2324413,
        2375593,
        538766,
        796360,
        1675982,
        1725862,
        1934102,
        2451444,
        513359,
        62406,
        2399828,
        2249350,
        2419651,
        50747,
        1383311,
        2446677,
        2009058,
        1973820,
        64491,
        2022574,
        40641,
        81092,
        1832199,
        1942778,
        2070772,
        2177198,
        2443430,
        1354257,
        2142706,
        2439253,
        93048,
        414566,
        2483524,
        570547,
        2100374,
        39577,
        2207364,
        2368979,
        2411798,
        1023474,
        2442605,
        292302,
        972302,
        2460279,
        1767771,
        2032601,
        2405876,
        1951740,
        1341079,
        42868,
        1011956,
        1919832,
        2359752,
        1784130,
        2450461,
        87457,
        293226,
        1354337,
        2114267,
        2146893,
        2424570,
        1495501,
        1019851,
        1769882,
        1907229,
        2135731,
        2358070,
        2390227,
        965343,
        2244435,
        2336719,
        1684023,
        780996,
        965595,
        2196604,
        2414118,
        2216219,
        2400432,
        1358409,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        341680,
        2327598,
        581512,
        2354710,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        942759,
        2030062,
        504239,
        1509771,
        2238141,
        2398981,
        60014,
        1393408,
        "Top.infinity33@gmail.com",
        "powforchai@gmail.com",
        "Mohdaizuddinelias@gmail.com",
        "outback-heirs0e@icloud.com",
        "sitifatimahhhameer@gmail.com",
        "saffiyyahfarhana@gmail.com",
        "sharizalmalek@gmail.com",
        "tharma_remo@yahoo.com",
        " kriticarani@rocketmail.com",
        "linges39@gmail.com",
        "cpebizs@gmail.com",
        19217,
        20190,
        23254,
        27519,
        27551,
        32133,
        33151,
        35444,
        35561,
        36079,
        36365,
        36521,
        37333,
        38267,
        38439,
        39151,
        40735,
        40921,
        41127,
        41608,
        41724,
        41749,
        42137,
        42399,
        42707,
        42849,
        12899,
        19353,
        23956,
        26261,
        27750,
        28472,
        29017,
        31146,
        31379,
        33164,
        33615,
        33926,
        35551,
        36174,
        36585,
        37073,
        37713,
        37728,
        38029,
        38260,
        38434,
        38473,
        39563,
        39641,
        39660,
        39933,
        40012,
        40057,
        40116,
        40220,
        40301,
        40892,
        41136,
        41268,
        41270,
        41407,
        41682,
        42300,
        42343,
        42438,
        42662,
        42690,
        42743,
        34796,
        39374,
        41105,
        20054,
        36923,
        27043,
        19995,
        39889,
        26974,
        39701,
        38092,
        41642,
        18799,
        39734,
        1740,
        40531,
        36804,
        38580,
        26805,
        14675,
        34334,
        40629,
        21248,
        28915,
        41586,
        41148,
        41139,
        39738,
        35016,
        27715,
        39435,
        26309,
        35073,
        2038,
        36791,
        39062,
        37948,
        38875,
        30729,
        39692,
        32406,
        24942,
        40221,
        38458,
        38202,
        37568,
        32750,
        35103,
        41550,
        39269,
        37792,
        36274,
        35383,
        25601,
        12864,
        41012,
        37433,
        32621,
        33630,
        27474,
        38553,
        21778,
        2497,
        40593,
        28185,
        31155,
        35009,
        1167,
        41172,
        34700,
        17005,
        41974,
        39461,
        39439,
        40705,
        33820,
        10983,
        1266,
        39774,
        34695,
        40850,
        36282,
        35342,
        40760,
        1166,
        14683,
        840,
        37105,
        38286,
        40753,
        28301,
        32796,
        33760,
        40946,
        39536,
        39717,
        40502,
        36721,
        36427,
        36069,
        32385,
        40786,
        37724,
        37392,
        6871,
        41785,
        37198,
        31404,
        39170,
        37529,
        39371,
        39373,
        36415,
        36968,
        39960,
        19972,
        40670,
        17984,
        39343,
        40835,
        39622,
        30316,
        41135,
        31632,
        34878,
        38573,
        33659,
        41011,
        35567,
        38925,
        34917,
        40896,
        37706,
        39999,
        39279,
        9708,
        38912,
        33302,
        6107,
        29539,
        39837,
        38311,
        38218,
        28724,
        35373,
        9552,
        27319,
        848,
        28436,
        6,
        1,
        2,
        3,
        4,
        5,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null
      ]
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": [
        96
      ]
    },
    "node:Schedule Trigger2": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2022-12-15T07:35:21.640Z",
      "updatedAt": "2022-12-15T07:35:21.640Z",
      "id": "2",
      "name": "MY"
    },
    {
      "createdAt": "2023-05-12T02:58:32.100Z",
      "updatedAt": "2023-05-12T02:58:32.100Z",
      "id": "7",
      "name": "Host CRM"
    },
    {
      "createdAt": "2023-05-12T02:58:38.207Z",
      "updatedAt": "2023-05-12T02:58:38.207Z",
      "id": "8",
      "name": "Host Community"
    },
    {
      "createdAt": "2023-09-11T05:14:06.737Z",
      "updatedAt": "2023-09-11T05:14:06.737Z",
      "id": "TDSgoianLStIxthd",
      "name": "WhatsApp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-11-28T05:14:31.276Z",
  "versionId": "5933a8bd-a448-46f0-87bd-0c1d23660a30"
}