workflows/[KAVI] [HOST COMMUNITY] [ACTIVATION] - CFTed Workflow 3.2 and 3.3.json
{
  "active": true,
  "connections": {
    "Postgres": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [],
        [
          {
            "node": "Function2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function2": {
      "main": [
        [
          {
            "node": "[CT] - 1M after CFT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendInBlue": {
      "main": [
        [
          {
            "node": "SIB API - Avai Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function3": {
      "main": [
        [
          {
            "node": "[CT] - No CFT PN & EDM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [],
        [
          {
            "node": "Function3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CT] - No CFT PN & EDM": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CT] - 1M after CFT": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-06T06:41:43.449Z",
  "id": "94ngnetVDFbZ3G2n",
  "name": "[KAVI] [HOST COMMUNITY] [ACTIVATION] - CFTed Workflow 3.2 and 3.3",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with userz as (\nselect distinct u.id\n, u.uuid\n, concat(u.first_name, ' ', u.last_name) as name \n, u.email\n, MIN(case when b.status = 'completed' then b.request_end_at end) as cft_enddate\n, AGE(NOW(), MIN(CASE WHEN b.status = 'completed' THEN b.request_end_at END)) as days_after_cft\nfrom users u \nleft join listings l on l.user_id = u.id\nleft join bookings b on b.listing_id = l.id \nleft join listing_location ll on ll.listing_id = l.id\nwhere b.status = 'completed'\nand ll.country = 'Malaysia'\n--and u.id = '5162'\ngroup by 1,2,3,4\n--HAVING AGE(NOW(), MIN(CASE WHEN b.status = 'completed' THEN b.request_end_at END)) = INTERVAL '1 month'\n)\n\n, details as (\nselect distinct u.id\n, count(distinct case when b.status = 'completed' then b.id end) as completed_bookings\n, COUNT(DISTINCT CASE WHEN b.status IN ('accepted', 'completed', 'start_driving', 'waiting_for_inspection', 'return_car', 'rejected') THEN b.id END) as  requests\n, ROUND((CAST(COUNT(DISTINCT CASE WHEN b.status IN ('accepted', 'completed', 'start_driving', 'waiting_for_inspection', 'return_car') THEN b.id END)AS DECIMAL(10, 2)) /\n  cast(COUNT(DISTINCT CASE WHEN b.status IN ('accepted', 'completed', 'start_driving', 'waiting_for_inspection', 'return_car', 'rejected') THEN b.id end)AS DECIMAL(10, 2)))*100,0) as acceptance\nfrom users u \nleft join listings l on l.user_id = u.id\nleft join bookings b on b.listing_id = l.id \nwhere u.id in (select id from userz)\ngroup by 1 )\n\n, reviews as ( \nselect distinct u.id \n, ROUND(avg(br.rating),1)as avg_review\nfrom users u\nleft join listings l on l.user_id = u.id\nleft join bookings b on b.listing_id = l.id\nleft join booking_reviews br on br.booking_id = b.id\nwhere u.id in (select id from userz)\ngroup by 1\n)\n\nselect u.id, u.uuid, u.name, u.email, u.cft_enddate, d.completed_bookings, d.requests, d.acceptance, r.avg_review\nfrom userz u \nleft join details d on d.id = u.id \nleft join reviews r on r.id = u.id\nwhere u.days_after_cft BETWEEN INTERVAL '1 month' and (interval '1 month' + interval '1 day')\n\n",
        "options": {}
      },
      "id": "2574f270-4f48-443e-854a-3395ffd49085",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        -220
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        }
      },
      "id": "d96f4b63-d63a-48fd-91f6-1cd341626b4c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        -220
      ]
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"id\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['id']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        -220
      ],
      "id": "ee798695-3242-4b30-b0b1-40c4c4c09919"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "requestMethod": "POST",
        "url": "https://api.sendinblue.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"to\": [{\"email\": \"{{ $node[\"Function2\"].json[\"email\"] }}\" }],\n  \"templateId\": 604\n}",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "SIB API - Avai Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1580,
        -220
      ],
      "id": "bb5cae9a-a944-47e3-9e7e-ca49f9e2e2df",
      "retryOnFail": true,
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U",
          "mode": "list",
          "cachedResultName": "2023.05.29 - 1 Post Sign-Up Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1782427767,
          "mode": "list",
          "cachedResultName": "3.2 CFTed 30D",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U/edit#gid=1782427767"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $node['Schedule Trigger1'].json.timestamp }}"
            },
            {
              "fieldId": "uid",
              "fieldValue": "={{ $node.Function2.json.id }}"
            },
            {
              "fieldId": "uuid",
              "fieldValue": "={{ $node.Function2.json.uuid }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $node.Function2.json.email }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $node.Function2.json.name }}"
            },
            {
              "fieldId": "sibid",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "cft_enddate",
              "fieldValue": "={{ $node.Function2.json.cft_enddate }}"
            },
            {
              "fieldId": "completed_bookings",
              "fieldValue": "={{ $node.Function2.json.completed_bookings }}"
            },
            {
              "fieldId": "requests",
              "fieldValue": "={{ $node.Function2.json.requests }}"
            },
            {
              "fieldId": "acceptance",
              "fieldValue": "={{ $node.Function2.json.acceptance }}"
            },
            {
              "fieldId": "avg_review",
              "fieldValue": "={{ $node.Function2.json.avg_review }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "83d83d94-5f78-4757-ab84-3bd4a3365619",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1160,
        -220
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google - Patrick"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.email }}",
        "upsertAttributes": {
          "upsertAttributesValues": [
            {
              "fieldName": "ACCEPTRATECRM",
              "fieldValue": "={{ $json.acceptance }}"
            },
            {
              "fieldName": "COMPBOOKCRM",
              "fieldValue": "={{ $json.completed_bookings }}"
            },
            {
              "fieldName": "GUESTRATECRM",
              "fieldValue": "={{ $json.avg_review }}"
            }
          ]
        }
      },
      "id": "2af0b79e-eedf-4916-aef0-e81b599d9619",
      "name": "SendInBlue",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        1420,
        -220
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "feb3e66d-c6ad-43cf-bc6a-8abf26e2bd54",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -220
      ]
    },
    {
      "parameters": {
        "content": "## 3.2",
        "height": 80,
        "width": 150
      },
      "id": "75d2c52f-31fc-4462-a87d-b8a9b263a089",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -200
      ]
    },
    {
      "parameters": {
        "content": "## 3.3\n",
        "height": 80,
        "width": 150
      },
      "id": "d437a150-6577-477d-a45c-39924238f5d1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -20
      ]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "requestMethod": "POST",
        "url": "https://api.sendinblue.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"to\": [{\"email\": \"{{ $json[\"email\"] }}\" }],\n  \"templateId\": 605\n}",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "SIB API - Avai Reminder4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1580,
        -20
      ],
      "id": "c3974678-b1d6-44d8-bb7b-738fa9611b7d",
      "retryOnFail": true,
      "credentials": {
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "--with cfthost as \n--(\nselect \n u.id\n, u.uuid\n, concat(u.first_name, ' ', u.last_name) as host_name\n, u.email \n, count(distinct case when b.status = 'completed' then b.id end) as completed_bookings\n, NOW()- MAX(case when l.status = 'approved' then l.updated_at end) as days_after_approved\n, count(distinct l.id) as listings\nfrom listings l \nleft join bookings b on b.listing_id = l.id \nleft join listing_location ll on ll.listing_id = l.id \nleft join users u on u.id = l.user_id \nwhere 1=1 \nand ll.country = 'Malaysia'\nand l.deleted_at is null\nand approved_at is not null\n--and u.id = '5162'\ngroup by 1,2,3\nhaving count(distinct case when b.status in ('accepted', 'waiting_for_inspection', 'start_driving', 'return_car', 'completed') then b.id end) = 0\nAND NOW() - MIN(CASE WHEN l.status = 'approved' THEN l.updated_at END) between INTERVAL '12 days' and INTERVAL '13 days'\n\n\n--select * from listings",
        "options": {}
      },
      "id": "b8bd16b6-0932-4b57-b83a-25f044d750c6",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        480,
        -20
      ],
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "Trevo DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"id\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['id']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        820,
        -20
      ],
      "id": "e6206351-ce10-41a6-ae15-d09989122673"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U",
          "mode": "list",
          "cachedResultName": "2023.05.29 - 1 Post Sign-Up Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1168760668,
          "mode": "list",
          "cachedResultName": "3.3 No CFT 12D",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kgTCDPI7204YjF4YUhWd6GnwzNI4S3XhvENO6H-cz0U/edit#gid=1168760668"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "timestamp",
              "fieldValue": "={{ $node['Schedule Trigger2'].json.timestamp }}"
            },
            {
              "fieldId": "uid",
              "fieldValue": "={{ $node.Function3.json.id }}"
            },
            {
              "fieldId": "uuid",
              "fieldValue": "={{ $node.Function3.json.uuid }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $node.Function3.json.email }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $node.Function3.json.host_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $node.Function3.json.email }}"
            },
            {
              "fieldId": "days_after_approved",
              "fieldValue": "={{ $node.Function3.json.days_after_approved.days }}"
            },
            {
              "fieldId": "listings",
              "fieldValue": "={{ $node.Function3.json.listings }}"
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "fafa0f44-730e-4f9d-bcc1-35a2ddb3ffc1",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1140,
        -20
      ],
      "retryOnFail": true,
      "waitBetweenTries": 1500,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15",
          "name": "Google Sheets - Kavi"
        }
      },
      "disabled": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "contains",
              "value2": "true"
            }
          ]
        }
      },
      "id": "7c28a730-70ad-4d97-8287-c0fe48d3ffa5",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sg1.api.clevertap.com/1/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \n    \"X-CleverTap-Account-Id\": \"6Z6-KR8-966Z\",\n    \"X-CleverTap-Passcode\": \"dddf3562-fc72-479d-8940-544009845a3d\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"d\": [\n        {\n            \"identity\": \"71fba47a-ab97-432f-a38a-cea34825fbff\",\n            \"ts\": {{ Math.floor(Date.now() / 1000) }},\n            \"type\": \"event\",\n            \"evtName\": \"Host_CFT\",\n            \"evtData\": {\n                \"time_stamp\": \"1_month\"\n                \"Host_CFT_AR\": \"100\"\n                \"Host_CFT_Rating\": \"4.9\"\n                \"Host_CFT_CompBook\": \"2\"\n            }\n        }\n    ]\n}",
        "options": {}
      },
      "id": "ead238d9-f102-4996-b749-01f80ae84dfd",
      "name": "[CT] - Create Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        520,
        200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sg1.api.clevertap.com/1/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \n    \"X-CleverTap-Account-Id\": \"6Z6-KR8-966Z\",\n    \"X-CleverTap-Passcode\": \"dddf3562-fc72-479d-8940-544009845a3d\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"d\": [\n        {\n            \"identity\": \"{{ $json[\"uuid\"] }}\",\n            \"ts\": {{ Math.floor(Date.now() / 1000) }},\n            \"type\": \"event\",\n            \"evtName\": \"Host_CFT\",\n            \"evtData\": {\n                \"time_stamp\": \"No_CFT\",\n            }\n        }\n    ]\n}",
        "options": {}
      },
      "id": "bfb28dac-c202-49cb-9ae3-dc7e426d2a52",
      "name": "[CT] - No CFT PN & EDM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        -20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sg1.api.clevertap.com/1/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \n    \"X-CleverTap-Account-Id\": \"6Z6-KR8-966Z\",\n    \"X-CleverTap-Passcode\": \"dddf3562-fc72-479d-8940-544009845a3d\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"d\": [\n        {\n            \"identity\": \"{{ $json[\"uuid\"] }}\",\n            \"ts\": {{ Math.floor(Date.now() / 1000) }},\n            \"type\": \"event\",\n            \"evtName\": \"Host_CFT\",\n            \"evtData\": {\n                \"time_stamp\": \"1_month\",\n                \"Host_CFT_AR\": \"{{ $json[\"acceptance\"] }}%\",\n                \"Host_CFT_Rating\": \"{{ $json[\"avg_review\"] }}\",\n                \"Host_CFT_CompBook\": \"{{ $json[\"completed_bookings\"] }}\"\n            }\n        }\n    ]\n}",
        "options": {}
      },
      "id": "f325d186-44cc-478a-a310-9aa52313311b",
      "name": "[CT] - 1M after CFT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        980,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sg1.api.clevertap.com/1/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={ \n    \"X-CleverTap-Account-Id\": \"6Z6-KR8-966Z\",\n    \"X-CleverTap-Passcode\": \"dddf3562-fc72-479d-8940-544009845a3d\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"d\": [\n        {\n            \"identity\": \"71fba47a-ab97-432f-a38a-cea34825fbff\",\n            \"ts\": {{ Math.floor(Date.now() / 1000) }},\n            \"type\": \"event\",\n            \"evtName\": \"Host_CFT\",\n            \"evtData\": {\n                \"time_stamp\": \"1_month\",\n                \"Host_CFT_AR\": \"30\",\n                \"Host_CFT_Rating\": \"5\",\n                \"Host_CFT_CompBook\": \"12\"\n            }\n        }\n    ]\n}",
        "options": {}
      },
      "id": "e28cde9f-c1f7-4be2-9c18-dfe0bc244455",
      "name": "[CT] - 1M after CFT -- TEST",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        -560
      ],
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any",
    "errorWorkflow": "11",
    "saveManualExecutions": false,
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        96448,
        1323087,
        1584107,
        1674138,
        3283292,
        3324181,
        3344823,
        3347194,
        52421,
        183993,
        736357,
        1481873,
        2535244,
        3251529,
        3336040,
        3339545,
        3352001,
        31399,
        3234603,
        86399,
        1044109,
        38947,
        3310344,
        1636127,
        1690552,
        1740747,
        2063129,
        2997889,
        3297530,
        1224292,
        2483758,
        2999025,
        3261866,
        2943735,
        285833,
        3342749,
        88660,
        716931,
        1359523,
        2680601,
        3322761,
        3342730,
        1585856,
        1745901,
        2180444,
        2938991,
        2996253,
        3307530,
        1186390,
        3283040,
        508489,
        2433615,
        241425,
        1499401,
        1942945,
        2095026,
        3147181,
        3187663,
        3311158,
        3338934,
        1965964,
        257521,
        2273716,
        2834061,
        3117174,
        3334816,
        3279767,
        2903038,
        11645,
        109037,
        251690,
        1965307,
        3210825,
        24399,
        341889,
        355178,
        2549040,
        2728635,
        3094282,
        3170821,
        83105,
        84123,
        84471,
        101421,
        560794,
        837039,
        1131535,
        1284616,
        3309730,
        3289915,
        3095513,
        1427088,
        1271119,
        3284445,
        2113160,
        3176798,
        251774,
        440015,
        2388944,
        3261460,
        62482,
        85261,
        955223,
        1481689,
        1769912,
        2147121,
        3141837,
        3277839,
        3278618,
        1716485,
        73593,
        84978,
        239673,
        834722,
        997773,
        1540723,
        1578791,
        1683988,
        2255363,
        3306037,
        602287,
        970082,
        1909479,
        3258341,
        3286471,
        1764488,
        3253346,
        3308664,
        3318443,
        2873851,
        96177,
        738841,
        2030509,
        2209311,
        3042357,
        3303920,
        1129013,
        86410,
        1188481,
        1566190,
        2005317,
        2939961,
        3183650,
        3303136,
        43512,
        3506,
        357156,
        3100712,
        86237,
        1811336,
        2922679,
        3074613,
        3293703,
        3299097,
        44633,
        86021,
        717805,
        1451374,
        389837,
        439874,
        984370,
        1331704,
        1760210,
        2340020,
        2931568,
        3280983,
        3255439,
        2009782,
        34535,
        946793,
        2935862,
        3237418,
        3271679,
        3240252,
        105252,
        1252154,
        1675172,
        2096251,
        3185600,
        3281139,
        3300126,
        1313368,
        84103,
        89963,
        522114,
        2834161,
        3021944,
        3185862,
        3279572,
        3289609,
        3106591,
        95810,
        758292,
        1489656,
        1666065,
        1674613,
        1802728,
        84549,
        328928,
        710218,
        1651460,
        1871482,
        2380909,
        3257103,
        2088206,
        2525795,
        67260,
        84030,
        95884,
        421557,
        642174,
        2089728,
        2207738,
        3249507,
        3275135,
        3287995,
        83164,
        100825,
        697568,
        1826180,
        2008500,
        2130891,
        2720831,
        2947763,
        2974050,
        3292231,
        881220,
        3164637,
        33907,
        519198,
        2131156,
        2507058,
        3060591,
        1030579,
        2845685,
        84305,
        109338,
        113984,
        560776,
        2225533,
        2797177,
        3059078,
        276313,
        3998,
        779309,
        1301627,
        1476565,
        2301647,
        3253985,
        3260164,
        3043076,
        85968,
        96484,
        96492,
        96497,
        96499,
        99691,
        106222,
        2497903,
        3263371,
        3223912,
        20179,
        83118,
        98186,
        104438,
        260487,
        964305,
        1024462,
        3259909,
        671680,
        3210872,
        73552,
        154276,
        394877,
        1658415,
        3260224,
        739651,
        1123581,
        1686802,
        1943433,
        2949385,
        103226,
        200533,
        1295672,
        1684047,
        1726764,
        1844691,
        2105436,
        2634354,
        2673387,
        2897221,
        3103455,
        2899991,
        3065785,
        901380,
        1734601,
        2461133,
        2881069,
        2910169,
        3263503,
        3268547,
        41540,
        84495,
        96367,
        424892,
        2081322,
        2952724,
        3197408,
        15661,
        59258,
        74458,
        1221992,
        3273548,
        1095963,
        3039531,
        3237362,
        76685,
        83044,
        88542,
        98545,
        98869,
        100823,
        106741,
        183522,
        237540,
        318691,
        990700,
        3225208,
        3258582,
        235069,
        265500,
        417323,
        2471349,
        2916227,
        3099075,
        3219198,
        83128,
        96090,
        2179146,
        3183819,
        3208429,
        1970499,
        2411460,
        2855290,
        3122182,
        3204967,
        83055,
        929162,
        3175921,
        36787,
        90216,
        1068581,
        1391094,
        1690196,
        1903710,
        1089513,
        1442671,
        1540475,
        1733164,
        2544106,
        3246907,
        3192332,
        3215790,
        28447,
        84297,
        85139,
        86763,
        97405,
        97538,
        1818506,
        2119414,
        2716800,
        3165475,
        3216222,
        93597,
        105998,
        109177,
        965695,
        1337366,
        1554313,
        1467440,
        3217412,
        79604,
        476862,
        575631,
        1991418,
        1562311,
        2247076,
        3064441,
        3131575,
        84012,
        87010,
        96158,
        108988,
        603110,
        3222095,
        23188,
        28448,
        1957722,
        2001238,
        2655939,
        2680529,
        2953342,
        40456,
        47050,
        84996,
        88674,
        88979,
        100845,
        103700,
        138391,
        192925,
        495227,
        854276,
        1026855,
        1319656,
        1447002,
        1821037,
        2243324,
        3180072,
        3196344,
        3224415,
        2439239,
        87978,
        420367,
        484830,
        604111,
        1452952,
        1726485,
        248493,
        663701,
        2061055,
        2201128,
        2951291,
        95886,
        128576,
        2572108,
        3232219,
        3105335,
        3196616,
        84150,
        101952,
        154453,
        545381,
        612207,
        1358276,
        3141470,
        3169455,
        3219265,
        342527,
        3158009,
        3178866,
        40405,
        72528,
        89019,
        226112,
        539621,
        1257176,
        2442151,
        3197703,
        3208808,
        283,
        324,
        1551,
        37801,
        49821,
        108911,
        123192,
        1386993,
        1927216,
        3170228,
        3217728,
        3117974,
        59628,
        82794,
        83442,
        85936,
        88008,
        93596,
        96371,
        105436,
        112450,
        433281,
        463287,
        726813,
        817625,
        1417074,
        1584344,
        1930441,
        2178652,
        2266008,
        2318139,
        2638867,
        2158549,
        3188419,
        82654,
        84431,
        86235,
        88285,
        89014,
        95791,
        98172,
        98935,
        101607,
        109115,
        161175,
        198175,
        313953,
        716811,
        1091707,
        1378293,
        2218628,
        2280167,
        2986937,
        218701,
        568980,
        1509522,
        28456,
        73104,
        84083,
        87820,
        109981,
        181506,
        214727,
        515616,
        735312,
        736316,
        862174,
        1510672,
        1727389,
        1806318,
        2025643,
        2704836,
        2794356,
        2164114,
        84464,
        84517,
        87509,
        311170,
        654296,
        1292712,
        1612753,
        1660557,
        1848150,
        2841486,
        3209344,
        1029956,
        1197995,
        2009482,
        3158722,
        3189775,
        95792,
        109987,
        193102,
        73588,
        14892,
        66837,
        83505,
        88087,
        185388,
        256301,
        1010079,
        1289944,
        1995654,
        2214596,
        3219282,
        2998880,
        3164566,
        30814,
        30969,
        56200,
        575729,
        783168,
        859898,
        1888697,
        1937298,
        2683288,
        3007112,
        10240,
        84167,
        84304,
        95908,
        433756,
        739842,
        1143098,
        2195737,
        2267055,
        3209756,
        3220124,
        2958997,
        3175104,
        27436,
        83103,
        83282,
        85913,
        85966,
        316158,
        505846,
        605999,
        612834,
        825380,
        937931,
        1247466,
        1692908,
        2306405,
        2489920,
        3031051,
        3138072,
        3184757,
        539,
        27329,
        27749,
        82312,
        212306,
        384683,
        609252,
        854651,
        996993,
        1289060,
        1299405,
        1339998,
        1360221,
        1412908,
        1488058,
        1575400,
        1766293,
        2015194,
        2179283,
        2834588,
        2951259,
        2983205,
        3048996,
        3154335,
        3173030,
        3185710,
        2740319,
        3179637,
        1277423,
        2679699,
        3078961,
        3088350,
        73252,
        1632412,
        1773272,
        3097217,
        341658,
        3191111,
        3213310,
        3158096,
        3208486,
        324827,
        1736382,
        2081753,
        3080261,
        3124379,
        2371311,
        3121126,
        1859013,
        1301246,
        3049150,
        3211501,
        1741366,
        2036664,
        2865883,
        3072345,
        3141932,
        1021378,
        406517,
        2790937,
        314748,
        1918716,
        2806126,
        3203197,
        1784313,
        2701247,
        377423,
        1961439,
        3156127,
        8899,
        1482098,
        1943327,
        3168900,
        3196714,
        683691,
        2623226,
        1407766,
        2656698,
        21044,
        479701,
        1168592,
        1362670,
        1478541,
        2309191,
        2965838,
        3169068,
        2356982,
        3121948,
        1655339,
        3190030,
        996130,
        2428833,
        173505,
        378636,
        514713,
        788409,
        2322630,
        3014861,
        629440,
        2799530,
        3034337,
        400569,
        2715219,
        3164254,
        727141,
        906114,
        1696942,
        2813243,
        1185671,
        1910974,
        2143201,
        3161836,
        4207,
        1976601,
        3096346,
        3119925,
        883203,
        1871904,
        2369168,
        187758,
        635203,
        1819009,
        1899997,
        3060855,
        3121633,
        2085116,
        1381822,
        2617643,
        3002596,
        3068391,
        3085854,
        19985,
        845086,
        1013590,
        1487583,
        3169600,
        1309426,
        1963985,
        2154578,
        2463400,
        2756036,
        2882644,
        3115589,
        1250136,
        1676979,
        2765397,
        3081589,
        775242,
        1191397,
        2551127,
        3152854,
        3100126,
        3104068,
        3057610,
        1801881,
        3155649,
        28086,
        3108498,
        154154,
        2110811,
        3163465,
        3093008,
        14863,
        87585,
        615440,
        1744773,
        2469625,
        3046736,
        3156203,
        3109457,
        3141606,
        1829226,
        3003482,
        9879,
        412775,
        1262704,
        1319030,
        1676299,
        2833145,
        3127779,
        1749435,
        1727299,
        2204474,
        2863292,
        3051196,
        3157045,
        246276,
        2680284,
        2841983,
        2937973,
        2863764,
        3044068,
        3046039,
        549366,
        780509,
        1948828,
        2758774,
        12607,
        1630633,
        3140969,
        1174270,
        2985566,
        421269,
        2834891,
        3079600,
        1135829,
        2127867,
        2145337,
        532915,
        766709,
        1455849,
        2630228,
        3046428,
        349724,
        1186955,
        2397629,
        2986026,
        3045291,
        1819576,
        2746727,
        2998650,
        3053680,
        3078970,
        3084893,
        3090819,
        101019,
        853539,
        2035757,
        2881411,
        3114108,
        2769873,
        1252407,
        1792231,
        746897,
        1224294,
        1050095,
        1851184,
        3083463,
        2671935,
        3021269,
        3084600,
        2016959,
        1757424,
        3092054,
        3104148,
        3111303,
        97067,
        440501,
        283644,
        1495429,
        435566,
        3068027,
        71078,
        876326,
        1963130,
        2261212,
        2733150,
        3081618,
        3097342,
        3098541,
        2655680,
        47806,
        1224395,
        3083976,
        3118150,
        2855316,
        2331017,
        3066738,
        2708,
        1406401,
        1795976,
        2119888,
        2303668,
        3100596,
        2212647,
        3029138,
        3048128,
        2988361,
        3069505,
        343310,
        1944697,
        185275,
        1412284,
        3045788,
        3072903,
        853452,
        26841,
        2034528,
        2205493,
        2393112,
        2929234,
        3025063,
        1597233,
        579978,
        3046853,
        544285,
        2288850,
        2533753,
        567514,
        1598713,
        2552354,
        2606226,
        1660952,
        2468170,
        3060108,
        3096401,
        287209,
        2763019,
        3041885,
        3079690,
        1693892,
        2311739,
        3037283,
        1699975,
        1759508,
        873927,
        2656226,
        2989266,
        2024226,
        3017790,
        3025762,
        3061766,
        380594,
        893686,
        2401927,
        2504972,
        2896598,
        1764725,
        37243,
        620371,
        1718427,
        2987031,
        752393,
        1509820,
        2847602,
        3072413,
        3022713,
        2571497,
        3026014,
        3059857,
        3069852,
        2683720,
        179922,
        2202654,
        2046645,
        2118098,
        2864491,
        2967143,
        2986413,
        2993689,
        3068988,
        78137,
        1013326,
        3017143,
        1531865,
        3026123,
        2754310,
        3014459,
        3036054,
        269087,
        1094033,
        2625552,
        2997425,
        309297,
        395999,
        3060781,
        1430489,
        345124,
        749792,
        301690,
        331353,
        993714,
        2082595,
        2116573,
        3061536,
        1789203,
        3021605,
        2531799,
        913667,
        2979332,
        1506904,
        1770081,
        1110832,
        1993312,
        2145178,
        2868932,
        2866251,
        2874561,
        2967898,
        3016023,
        3032663,
        647847,
        2230628,
        2623688,
        2957570,
        2963947,
        2999251,
        68879,
        337744,
        2098041,
        2698304,
        3003269,
        2635797,
        99956,
        55313,
        183294,
        1142205,
        2047556,
        2388319,
        2744060,
        2850230,
        2898919,
        3006509,
        519685,
        2843996,
        824044,
        2042257,
        2415760,
        1408084,
        2292005,
        2822198,
        794725,
        2979220,
        214337,
        1722134,
        3011641,
        771843,
        979214,
        2163760,
        2233657,
        2506977,
        3016995,
        98449,
        165926,
        660080,
        1284520,
        2516118,
        3032201,
        3033198,
        2267755,
        3013464,
        111553,
        2950923,
        452345,
        50818,
        81381,
        2599210,
        3021132,
        2361815,
        3030280,
        1793331,
        2893120,
        76391,
        1975926,
        3011711,
        3013672,
        2983214,
        1036132,
        2953098,
        3008474,
        2293423,
        2953922,
        24970,
        716612,
        1546047,
        3014874,
        55788,
        59265,
        601267,
        605762,
        2942243,
        2973980,
        3002211,
        1370476,
        2003799,
        2968201,
        922608,
        1755132,
        1988985,
        85798,
        2997111,
        403648,
        1960403,
        2751580,
        45618,
        51363,
        1291839,
        1335754,
        2921716,
        2990189,
        2994464,
        2564153,
        2936064,
        2994052,
        2995301,
        2232512,
        2209971,
        2611626,
        1396209,
        1917801,
        2253079,
        2268952,
        2520383,
        12907,
        382960,
        1270690,
        1522972,
        2981666,
        2985935,
        2986174,
        56736,
        2912387,
        3001140,
        740592,
        2945564,
        2949287,
        2954499,
        2965514,
        3005568,
        2670329,
        2900333,
        2921134,
        2782171,
        940358,
        2957809,
        1693260,
        47246,
        2951310,
        1804263,
        706220,
        1244777,
        2827406,
        2951269,
        227506,
        2246624,
        2303946,
        2871029,
        2901615,
        2952362,
        2963438,
        2969173,
        2601674,
        2450828,
        2954591,
        243682,
        2960571,
        754661,
        222262,
        2922283,
        1146432,
        1686493,
        547691,
        2859161,
        2957015,
        228687,
        1288419,
        2936878,
        2975757,
        2094243,
        1729860,
        214254,
        2923008,
        96904,
        2899272,
        205587,
        2135690,
        2766533,
        1172121,
        945065,
        2341930,
        2947309,
        79696,
        2121000,
        2959826,
        791078,
        5401,
        224475,
        781853,
        2021213,
        1646089,
        2690856,
        2643810,
        34587,
        1655615,
        2275865,
        2856604,
        2892982,
        1627247,
        1322854,
        1647770,
        2562272,
        2939612,
        2944819,
        726959,
        2753108,
        2875161,
        2950755,
        750523,
        2118152,
        1108055,
        1666332,
        741528,
        71001,
        2899647,
        230754,
        1207517,
        71563,
        2656763,
        526420,
        2941509,
        2835383,
        2887220,
        2055752,
        2863503,
        2812208,
        2940304,
        1648138,
        1445999,
        2925738,
        26180,
        1191269,
        2569791,
        1733287,
        2901301,
        2907781,
        1294671,
        2897590,
        1507805,
        1605095,
        2611012,
        2801589,
        2818623,
        237168,
        2902522,
        2854286,
        2844309,
        62713,
        331422,
        1675437,
        2147017,
        2891208,
        2917755,
        1305736,
        2880987,
        1352079,
        2869894,
        15132,
        2763288,
        2897462,
        1524058,
        2866664,
        2884081,
        2755623,
        2910972,
        2356754,
        1704853,
        2181120,
        68124,
        849983,
        2732869,
        27136,
        979616,
        2740046,
        554068,
        1773485,
        1931413,
        2770579,
        2865574,
        761321,
        56838,
        663265,
        2890362,
        46152,
        47945,
        1149398,
        2762803,
        1284687,
        1682913,
        275212,
        826104,
        380273,
        1629085,
        2795948,
        2876903,
        27998,
        2383521,
        2828310,
        2568028,
        2495099,
        2892275,
        2904888,
        100856,
        76508,
        2515489,
        91292,
        1050068,
        1728209,
        2133813,
        2738201,
        319759,
        192,
        1270299,
        2874518,
        2896946,
        1888091,
        2776485,
        2883988,
        16186,
        102768,
        1114904,
        1464356,
        1749716,
        2878572,
        2004235,
        2846670,
        2652343,
        2000394,
        2888866,
        503146,
        2821276,
        1890987,
        2840404,
        2891981,
        2847771,
        1691106,
        255771,
        2793093,
        2536398,
        114278,
        1421568,
        1485045,
        2727235,
        2876176,
        2878950,
        73082,
        2872152,
        2771503,
        2861822,
        2866826,
        2824785,
        2889801,
        1233314,
        2689684,
        2173990,
        2890250,
        2219671,
        1176615,
        2878988,
        48107,
        689984,
        2572580,
        2836162,
        2874904,
        2877480,
        372010,
        1957028,
        1770236,
        2030050,
        2072805,
        2153278,
        2397204,
        2019486,
        1226421,
        490577,
        834788,
        2193106,
        2878244,
        1868391,
        9556,
        1348424,
        752964,
        1281437,
        2821058,
        2111181,
        2870788,
        2889892,
        90523,
        433545,
        738553,
        2861039,
        48503,
        644712,
        2783091,
        2858532,
        2865020,
        2836197,
        2059279,
        2814632,
        2827646,
        1909195,
        2169676,
        835731,
        2878978,
        420308,
        2861249,
        2449413,
        2596139,
        2731320,
        2300972,
        2337193,
        2024527,
        2131636,
        1707512,
        2785699,
        2877242,
        2856764,
        2735166,
        1980172,
        804955,
        2684843,
        2850730,
        2865715,
        2765698,
        2855835,
        990246,
        1450528,
        2684712,
        2712234,
        2845069,
        188508,
        1451582,
        2687053,
        2843628,
        766565,
        294391,
        2850452,
        1462017,
        1750403,
        2830105,
        2830331,
        2576482,
        902285,
        1668788,
        87055,
        408841,
        454855,
        705555,
        27341,
        295857,
        650870,
        444911,
        1115150,
        2776638,
        784221,
        1371808,
        2350036,
        2737755,
        1402249,
        285735,
        2129965,
        2836957,
        4078,
        180800,
        1562882,
        2086781,
        2272835,
        2157031,
        2835855,
        825670,
        1168674,
        2719777,
        2823382,
        650660,
        2628225,
        1792210,
        97817,
        758057,
        1355737,
        2212414,
        2823661,
        2790835,
        2726549,
        1275132,
        83462,
        1201035,
        1863361,
        2788917,
        2824339,
        936580,
        1834005,
        2837310,
        2658445,
        1838478,
        1932124,
        1951226,
        2263226,
        2501019,
        2768317,
        2792957,
        2801795,
        40512,
        521328,
        2559055,
        32960,
        645359,
        333988,
        2193702,
        2742135,
        2800730,
        2817409,
        1651257,
        2823726,
        2743975,
        2819035,
        1762078,
        2795541,
        2805667,
        262848,
        2455516,
        359256,
        2532025,
        888078,
        300459,
        528048,
        1908759,
        795866,
        1530395,
        1887689,
        2819263,
        2800881,
        2656664,
        95672,
        1312794,
        1971372,
        2775713,
        2736394,
        598802,
        656348,
        924301,
        1269638,
        2736633,
        2783110,
        808005,
        1007673,
        1708219,
        60835,
        109899,
        22800,
        650110,
        1020102,
        1368157,
        2696934,
        2732376,
        2780808,
        424522,
        538560,
        23311,
        220290,
        1217150,
        2792046,
        1543390,
        2809370,
        2363178,
        2806818,
        840898,
        2782907,
        2795039,
        912329,
        1089385,
        2786869,
        2767972,
        2774952,
        2810138,
        1214473,
        2106937,
        89484,
        1915582,
        2467883,
        2566589,
        2793117,
        153234,
        1478063,
        1651063,
        18697,
        987352,
        1213566,
        1694555,
        1748322,
        1875026,
        2298956,
        2781766,
        2787626,
        2499908,
        81066,
        747930,
        2503547,
        2720061,
        2782684,
        2789110,
        2789638,
        2765930,
        54634,
        98402,
        1589761,
        2659093,
        2715269,
        2778862,
        2783468,
        2788825,
        2776534,
        2785224,
        507083,
        15077,
        2085574,
        1692678,
        2521068,
        2746613,
        2791822,
        2719402,
        2768210,
        1438958,
        2712063,
        2743003,
        2040846,
        2348577,
        2393436,
        2673266,
        2757418,
        2724853,
        32600,
        2726482,
        1671548,
        2709477,
        2783017,
        779817,
        2744838,
        2148082,
        92250,
        902712,
        1217830,
        1678133,
        2682965,
        2588455,
        2018984,
        772904,
        2248560,
        2532511,
        2715905,
        2754346,
        2767862,
        1244021,
        2744182,
        1438419,
        2761567,
        2750636,
        972746,
        176420,
        267155,
        2268361,
        2612055,
        2761490,
        1189646,
        1069457,
        2748575,
        2795946,
        405376,
        1080764,
        2763627,
        1958542,
        431547,
        519452,
        540086,
        1068928,
        10343,
        2752552,
        2770156,
        2453797,
        2731318,
        767156,
        997275,
        1586488,
        2235347,
        2675397,
        2751718,
        2488648,
        1957,
        526785,
        785588,
        797673,
        2720365,
        2764773,
        2562053,
        2709351,
        2017377,
        2754230,
        91577,
        410075,
        1358949,
        2704868,
        2735636,
        2746710,
        2737315,
        2738089,
        2714023,
        2458413,
        766945,
        1949603,
        631184,
        1180333,
        2691948,
        2746067,
        2692655,
        410828,
        714796,
        2262244,
        92802,
        1751833,
        2153941,
        2732919,
        2733084,
        2733460,
        54588,
        13694,
        2089521,
        2572582,
        2623726,
        2706336,
        2710965,
        11815,
        73309,
        309693,
        896342,
        1689166,
        2386095,
        2680305,
        2699981,
        2727230,
        2244986,
        506856,
        1346987,
        1958161,
        2586328,
        2711937,
        2738225,
        2730392,
        1295069,
        371778,
        548186,
        1810406,
        2658378,
        2728413,
        309978,
        1291430,
        1188991,
        2183652,
        2758495,
        1157361,
        736704,
        1420660,
        2492622,
        2366107,
        533193,
        61706,
        79416,
        860093,
        1573064,
        1573947,
        2672732,
        2704564,
        1830006,
        1017353,
        1474915,
        2704640,
        2760188,
        2653759,
        69093,
        125088,
        11339,
        2712330,
        856395,
        2346287,
        546163,
        1717942,
        1856436,
        2602910,
        2667226,
        2738665,
        2493700,
        2273671,
        99422,
        2672873,
        2719531,
        1714226,
        1081277,
        2733703,
        2247680,
        1885184,
        1795007,
        2121466,
        2585932,
        2715841,
        2735827,
        2736218,
        2745729,
        2706326,
        845350,
        156307,
        2661312,
        1509,
        40356,
        1052321,
        1474291,
        1792615,
        2453766,
        1955080,
        2627641,
        56154,
        152140,
        2611918,
        957620,
        2616004,
        2700823,
        1238498,
        2114996,
        1952266,
        800924,
        768130,
        1696507,
        1808762,
        2676016,
        2662976,
        357352,
        1745406,
        1968663,
        2004119,
        2045353,
        2426558,
        2466761,
        2530205,
        2680801,
        2715275,
        2722037,
        43223,
        2101777,
        110928,
        2479842,
        899944,
        2396704,
        2601057,
        2705928,
        2732572,
        734213,
        2420691,
        2676081,
        2190875,
        2696052,
        2737454,
        70500,
        1660355,
        2513461,
        2080428,
        244,
        3002,
        1349964,
        2644022,
        2662687,
        2710158,
        2715734,
        2698647,
        82570,
        2469756,
        1173821,
        2695365,
        10957,
        2075609,
        2441821,
        2447946,
        2612220,
        286303,
        1819498,
        1901148,
        1007196,
        1751761,
        2233014,
        2351838,
        2670998,
        2456384,
        2586797,
        2172011,
        59553,
        2521930,
        2662847,
        2664004,
        2670761,
        2605851,
        142055,
        2692947,
        339412,
        2246823,
        2626520,
        945977,
        398360,
        2531281,
        1553084,
        35182,
        1245044,
        2682453,
        617654,
        75026,
        97117,
        411478,
        1677993,
        2210204,
        2232016,
        2696848,
        2696639,
        193935,
        224768,
        1880084,
        1918912,
        2571670,
        1001489,
        2251017,
        36825,
        45450,
        213031,
        951600,
        2367815,
        2618556,
        2663964,
        645858,
        2672967,
        2106907,
        2642533,
        526566,
        1494664,
        2687396,
        1424312,
        1970252,
        2653435,
        2631019,
        2584134,
        181159,
        2195525,
        2653692,
        746847,
        642978,
        2663213,
        2703890,
        2689495,
        964516,
        68837,
        1313281,
        1362270,
        2617832,
        2119201,
        2635973,
        2673942,
        1684579,
        1985603,
        2254947,
        2390270,
        2669753,
        2672807,
        2677958,
        1890484,
        2419392,
        2539633,
        1418788,
        2597233,
        2566179,
        112289,
        355697,
        1849855,
        1908783,
        2252010,
        2422542,
        2463659,
        2567977,
        2627921,
        2600351,
        1646239,
        1658684,
        2634348,
        1551870,
        1521608,
        2369952,
        1624690,
        73512,
        393082,
        1230207,
        1621497,
        2595997,
        2613928,
        2652098,
        1846741,
        929816,
        1730838,
        1899276,
        2624117,
        2656803,
        845937,
        2684325,
        2150851,
        176960,
        1069986,
        139053,
        587049,
        66429,
        2635029,
        956555,
        1183393,
        2649658,
        2658814,
        2549699,
        2668613,
        2594158,
        1313,
        2656247,
        2655984,
        2651340,
        432111,
        2481070,
        818526,
        647917,
        1296992,
        1611349,
        2609999,
        81921,
        48187,
        912402,
        1417836,
        1641941,
        2394372,
        2617492,
        2613824,
        2548019,
        2666793,
        2534332,
        253062,
        2375885,
        1379976,
        2260914,
        5681,
        677029,
        1296658,
        2602639,
        2637966,
        2485403,
        839515,
        256709,
        103711,
        1300022,
        1717309,
        1918628,
        2627022,
        2631758,
        730861,
        949630,
        608040,
        95030,
        241418,
        325397,
        525961,
        2483199,
        2644307,
        2586842,
        676073,
        2613182,
        275772,
        427200,
        2250408,
        62,
        7851,
        8769,
        17315,
        18766,
        24698,
        25446,
        27588,
        28171,
        30804,
        30845,
        40458,
        41892,
        44635,
        49661,
        52121,
        52157,
        58042,
        59707,
        63350,
        68255,
        75065,
        75218,
        75972,
        82547,
        82627,
        82902,
        82975,
        83014,
        83022,
        83058,
        83063,
        83174,
        83301,
        83309,
        83441,
        83522,
        83544,
        83550,
        83560,
        83605,
        83636,
        83797,
        83844,
        84161,
        84388,
        84401,
        84433,
        84447,
        84623,
        84997,
        85073,
        85821,
        85849,
        85899,
        85923,
        85971,
        85980,
        85994,
        86421,
        86433,
        86615,
        86635,
        87309,
        87574,
        87671,
        87723,
        87745,
        87749,
        87846,
        88499,
        88509,
        88671,
        88787,
        89659,
        89740,
        90101,
        92969,
        93077,
        93887,
        94900,
        95047,
        95285,
        95296,
        95769,
        96161,
        96229,
        96378,
        97189,
        98531,
        98835,
        98936,
        99600,
        99935,
        101988,
        109755,
        110161,
        122704,
        124072,
        129614,
        148353,
        151319,
        159712,
        161697,
        174957,
        175621,
        180129,
        190891,
        253231,
        269429,
        271524,
        313364,
        356060,
        380384,
        418913,
        514006,
        517925,
        536765,
        537224,
        543598,
        554843,
        555068,
        557370,
        565124,
        566929,
        581386,
        626757,
        641771,
        710896,
        717030,
        749679,
        780452,
        780508,
        802146,
        837406,
        846781,
        869010,
        894771,
        904753,
        916140,
        918687,
        927618,
        943684,
        949130,
        966911,
        983694,
        991391,
        997771,
        1015097,
        1033261,
        1047859,
        1050501,
        1055202,
        1064122,
        1082950,
        1133422,
        1154407,
        1226014,
        1233318,
        1248122,
        1258337,
        1286559,
        1310792,
        1323460,
        1360217,
        1361178,
        1363326,
        1369291,
        1377920,
        1392907,
        1400388,
        1404401,
        1409884,
        1412075,
        1500275,
        1510875,
        1568127,
        1578972,
        1580437,
        1597545,
        1637853,
        1640105,
        1658444,
        1662965,
        1673196,
        1673664,
        1674781,
        1694906,
        1703359,
        1704739,
        1705405,
        1760525,
        1760957,
        1762318,
        1786470,
        1815589,
        1902523,
        1955471,
        1970153,
        2036980,
        2063715,
        2081536,
        2117623,
        2122755,
        2136340,
        2141907,
        2142142,
        2152906,
        2158473,
        2173409,
        2195743,
        2203165,
        2209964,
        2236198,
        2291767,
        2300558,
        2300796,
        2399960,
        2413078,
        1027952,
        865981,
        2607887,
        2498686,
        676765,
        2606866,
        709732,
        1214132,
        2191921,
        1683963,
        432609,
        648032,
        663668,
        1652015,
        1873181,
        2083711,
        2482995,
        2601129,
        2606870,
        320073,
        1766019,
        2587165,
        1267406,
        2576460,
        2250669,
        769669,
        2546760,
        2237817,
        2092266,
        419802,
        1357261,
        1805665,
        2282309,
        2507771,
        2587408,
        2626031,
        2487364,
        587878,
        1405157,
        2346401,
        2566592,
        2619287,
        2603535,
        2194127,
        2395397,
        2622794,
        64213,
        2294936,
        2533553,
        2603058,
        184661,
        2623890,
        1741747,
        1237212,
        1193726,
        598889,
        2622528,
        2542545,
        2343689,
        274328,
        916314,
        1476332,
        2207120,
        2518227,
        89691,
        23436,
        104785,
        164423,
        701125,
        965676,
        981827,
        1161793,
        2489632,
        2522543,
        2611037,
        2612134,
        252327,
        2489712,
        2220097,
        2538252,
        551174,
        2397070,
        2559235,
        2579833,
        2566307,
        86136,
        396076,
        2428605,
        2578137,
        1263402,
        2090996,
        2274040,
        60258,
        85282,
        88830,
        89845,
        777142,
        1040535,
        1213407,
        2081960,
        2083345,
        2119572,
        2169912,
        2233994,
        2472816,
        2505718,
        2529251,
        2559899,
        2560545,
        2586625,
        276307,
        1339896,
        1962063,
        2559780,
        1700270,
        391248,
        985551,
        1011084,
        1216032,
        1398871,
        1518779,
        1696582,
        1796968,
        2289119,
        2458701,
        2480919,
        2481365,
        2502717,
        2555218,
        2570516,
        2579930,
        1042239,
        389713,
        1619941,
        2249110,
        101062,
        1601846,
        2592181,
        573421,
        843551,
        2447427,
        1383121,
        1125813,
        2046557,
        2525480,
        2572945,
        412946,
        1349150,
        1671601,
        2023063,
        2571381,
        1484448,
        1996722,
        2313393,
        2417580,
        781235,
        1897664,
        2589865,
        2479550,
        2222614,
        1202477,
        1469963,
        1845450,
        1921904,
        2407370,
        1590179,
        1885292,
        2594614,
        336043,
        1724521,
        2515459,
        2461190,
        2261142,
        25710,
        1289309,
        2404887,
        2466506,
        2511618,
        2563102,
        1008547,
        1352334,
        2379380,
        2576130,
        2585718,
        73975,
        381413,
        2408921,
        2496350,
        938119,
        26030,
        100597,
        229840,
        575157,
        595255,
        1530104,
        2015973,
        2109413,
        341698,
        1161539,
        77355,
        563738,
        111952,
        1257612,
        1722791,
        1835036,
        2506321,
        2539833,
        2544477,
        2570229,
        1331141,
        2407497,
        1892623,
        11352,
        733964,
        222498,
        794180,
        1214721,
        1408483,
        2500131,
        2532802,
        2547707,
        2549025,
        2564863,
        2391404,
        2139540,
        1785825,
        2392759,
        1309720,
        513061,
        2527195,
        2563079,
        2569694,
        2378409,
        1889356,
        719717,
        2552507,
        2539128,
        941157,
        1643449,
        34289,
        1341815,
        1629547,
        2184043,
        2253254,
        2337861,
        2358401,
        2566260,
        1319026,
        2554098,
        2252905,
        2561835,
        2542466,
        423877,
        2519588,
        1968196,
        2530638,
        2549247,
        2572258,
        1469239,
        87725,
        77227,
        2041938,
        2271836,
        2363683,
        1601841,
        1550,
        1897073,
        1049,
        25912,
        98683,
        198786,
        369403,
        2230114,
        2413840,
        2522417,
        2552482,
        2548784,
        2566153,
        450822,
        2560281,
        2523536,
        79320,
        806773,
        864390,
        959366,
        2136016,
        2552380,
        1937538,
        2554725,
        2524891,
        2554978,
        2153292,
        2400186,
        1567161,
        22128,
        180631,
        974795,
        1336801,
        2039937,
        2172000,
        2473575,
        2128204,
        31911,
        1721573,
        2523897,
        90605,
        425187,
        1397015,
        1704099,
        2521255,
        2337622,
        2452397,
        2452351,
        205376,
        1125352,
        1790708,
        2013702,
        2524786,
        463687,
        2439627,
        1917534,
        2539659,
        474426,
        1384837,
        1931324,
        2013559,
        1775915,
        2115999,
        2554894,
        625116,
        1045280,
        2524657,
        1515413,
        1649257,
        2493542,
        2518232,
        791965,
        279168,
        1383371,
        2518409,
        2495032,
        2476061,
        2454515,
        2532896,
        1689818,
        2516556,
        2489979,
        1574910,
        1385417,
        86420,
        485997,
        1445527,
        1548508,
        2019607,
        2505119,
        79293,
        1461418,
        2136914,
        2318883,
        2502248,
        805290,
        539452,
        2502193,
        552106,
        1275022,
        85912,
        455077,
        737125,
        1211039,
        2162338,
        541098,
        1343354,
        1418658,
        1575535,
        2136032,
        2281070,
        2416085,
        2552051,
        2187819,
        25738,
        68018,
        204126,
        267950,
        1585283,
        1630245,
        2432855,
        2507805,
        2522089,
        103172,
        438284,
        744025,
        765984,
        1559242,
        1964475,
        2194605,
        2265402,
        2287516,
        2372215,
        2432509,
        2079530,
        69100,
        310105,
        440831,
        650878,
        1218577,
        2204526,
        2218745,
        2499309,
        2500250,
        2512780,
        2516419,
        241738,
        293423,
        762300,
        1291692,
        1545538,
        1714103,
        1734787,
        1751198,
        1959139,
        2230142,
        2405800,
        2418117,
        477399,
        2444575,
        101288,
        182623,
        1804077,
        1913349,
        2130515,
        401904,
        2185630,
        2240419,
        2516509,
        2403779,
        1863694,
        570989,
        1062991,
        1375102,
        1220573,
        818680,
        1064025,
        417811,
        2518932,
        1385541,
        1632843,
        2276282,
        26642,
        602846,
        2105887,
        275424,
        1592510,
        2343035,
        2374221,
        2482911,
        545139,
        2360771,
        759376,
        26130,
        570234,
        323900,
        584026,
        2452688,
        2500104,
        467267,
        944458,
        2159830,
        2174182,
        2415473,
        2453476,
        197383,
        1553809,
        1926050,
        617598,
        633086,
        920934,
        1195887,
        1555413,
        1795126,
        1858635,
        1919588,
        1983909,
        2032650,
        2160942,
        2182184,
        2294825,
        2382683,
        2396562,
        2414408,
        1492604,
        137185,
        711979,
        1796460,
        2234457,
        2435930,
        500756,
        916239,
        1031674,
        1857631,
        1861314,
        2077866,
        2403266,
        2415042,
        2432981,
        1126764,
        42875,
        259332,
        1034350,
        1600770,
        1894459,
        2212008,
        2459619,
        2463330,
        2479692,
        2378551,
        43335,
        1442932,
        2032196,
        2467060,
        2516269,
        2214707,
        878503,
        2441518,
        1831210,
        9558,
        396470,
        1318822,
        1698289,
        1979525,
        2311997,
        2118028,
        1691223,
        2440403,
        1689208,
        1804012,
        2520639,
        2002213,
        446678,
        1050223,
        1723167,
        2168882,
        2425241,
        2463312,
        2477714,
        2488740,
        28610,
        995839,
        1668505,
        1114224,
        2006330,
        595506,
        92147,
        33099,
        78103,
        854136,
        1657306,
        2465793,
        2003616,
        170631,
        388306,
        803962,
        1435857,
        1646160,
        1863856,
        50162,
        142649,
        161179,
        373237,
        741606,
        935507,
        1415677,
        1435249,
        1619409,
        2374565,
        2378818,
        2290020,
        27087,
        168772,
        740123,
        1698279,
        1765902,
        1847280,
        1987769,
        2397020,
        2419598,
        1641926,
        1696393,
        1766075,
        2357964,
        2412196,
        75246,
        441292,
        11722,
        1050390,
        1370371,
        2013228,
        2057594,
        2342365,
        1757158,
        2248201,
        2280718,
        2016545,
        2488455,
        1644871,
        2485559,
        1675544,
        1678161,
        692639,
        1626926,
        630771,
        418661,
        1907647,
        55465,
        2222932,
        2269236,
        662527,
        1531380,
        291629,
        2366997,
        273632,
        2344080,
        2110633,
        377717,
        1422667,
        2416419,
        1911475,
        2393081,
        923708,
        1258218,
        81865,
        744783,
        1591747,
        1601636,
        1860627,
        2180603,
        2242767,
        2424682,
        693267,
        2228218,
        2416434,
        2442707,
        902998,
        1212043,
        2032256,
        2267766,
        2015961,
        2192204,
        123982,
        935904,
        1210435,
        1669818,
        1867258,
        2094005,
        2148186,
        2211621,
        2324413,
        2375593,
        538766,
        796360,
        1675982,
        1725862,
        1934102,
        2451444,
        513359,
        62406,
        2399828,
        2249350,
        2419651,
        50747,
        1383311,
        2446677,
        2009058,
        1973820,
        64491,
        2022574,
        40641,
        81092,
        1832199,
        1942778,
        2070772,
        2177198,
        2443430,
        1354257,
        2142706,
        2439253,
        93048,
        414566,
        2483524,
        570547,
        2100374,
        39577,
        2207364,
        2368979,
        2411798,
        1023474,
        2442605,
        292302,
        972302,
        2460279,
        1767771,
        2032601,
        2405876,
        1951740,
        1341079,
        42868,
        1011956,
        1919832,
        2359752,
        1784130,
        2450461,
        87457,
        293226,
        1354337,
        2114267,
        2146893,
        2424570,
        1495501,
        1019851,
        1769882,
        1907229,
        2135731,
        2358070,
        2390227,
        965343,
        2244435,
        2336719,
        1684023,
        780996,
        965595,
        2196604,
        2414118,
        2216219,
        2400432,
        1358409,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        341680,
        2327598,
        581512,
        2354710,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        942759,
        2030062,
        504239,
        1509771,
        2238141,
        2398981,
        60014,
        1393408,
        "Top.infinity33@gmail.com",
        "powforchai@gmail.com",
        "Mohdaizuddinelias@gmail.com",
        "outback-heirs0e@icloud.com",
        "sitifatimahhhameer@gmail.com",
        "saffiyyahfarhana@gmail.com",
        "sharizalmalek@gmail.com",
        "tharma_remo@yahoo.com",
        " kriticarani@rocketmail.com",
        "linges39@gmail.com",
        "cpebizs@gmail.com",
        19217,
        20190,
        23254,
        27519,
        27551,
        32133,
        33151,
        35444,
        35561,
        36079,
        36365,
        36521,
        37333,
        38267,
        38439,
        39151,
        40735,
        40921,
        41127,
        41608,
        41724,
        41749,
        42137,
        42399,
        42707,
        42849,
        12899,
        19353,
        23956,
        26261,
        27750,
        28472,
        29017,
        31146,
        31379,
        33164,
        33615,
        33926,
        35551,
        36174,
        36585,
        37073,
        37713,
        37728,
        38029,
        38260,
        38434,
        38473,
        39563,
        39641,
        39660,
        39933,
        40012,
        40057,
        40116,
        40220,
        40301,
        40892,
        41136,
        41268,
        41270,
        41407,
        41682,
        42300,
        42343,
        42438,
        42662,
        42690,
        42743,
        34796,
        39374,
        41105,
        20054,
        36923,
        27043,
        19995,
        39889,
        26974,
        39701,
        38092,
        41642,
        18799,
        39734,
        1740,
        40531,
        36804,
        38580,
        26805,
        14675,
        34334,
        40629,
        21248,
        28915,
        41586,
        41148,
        41139,
        39738,
        35016,
        27715,
        39435,
        26309,
        35073,
        2038,
        36791,
        39062,
        37948,
        38875,
        30729,
        39692,
        32406,
        24942,
        40221,
        38458,
        38202,
        37568,
        32750,
        35103,
        41550,
        39269,
        37792,
        36274,
        35383,
        25601,
        12864,
        41012,
        37433,
        32621,
        33630,
        27474,
        38553,
        21778,
        2497,
        40593,
        28185,
        31155,
        35009,
        1167,
        41172,
        34700,
        17005,
        41974,
        39461,
        39439,
        40705,
        33820,
        10983,
        1266,
        39774,
        34695,
        40850,
        36282,
        35342,
        40760,
        1166,
        14683,
        840,
        37105,
        38286,
        40753,
        28301,
        32796,
        33760,
        40946,
        39536,
        39717,
        40502,
        36721,
        36427,
        36069,
        32385,
        40786,
        37724,
        37392,
        6871,
        41785,
        37198,
        31404,
        39170,
        37529,
        39371,
        39373,
        36415,
        36968,
        39960,
        19972,
        40670,
        17984,
        39343,
        40835,
        39622,
        30316,
        41135,
        31632,
        34878,
        38573,
        33659,
        41011,
        35567,
        38925,
        34917,
        40896,
        37706,
        39999,
        39279,
        9708,
        38912,
        33302,
        6107,
        29539,
        39837,
        38311,
        38218,
        28724,
        35373,
        9552,
        27319,
        848,
        28436,
        6,
        1,
        2,
        3,
        4,
        5,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null
      ]
    },
    "node:Schedule Trigger1": {
      "recurrencyRules": [
        96
      ]
    },
    "node:Schedule Trigger2": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2022-12-15T07:35:21.640Z",
      "updatedAt": "2022-12-15T07:35:21.640Z",
      "id": "2",
      "name": "MY"
    },
    {
      "createdAt": "2023-05-12T02:58:32.100Z",
      "updatedAt": "2023-05-12T02:58:32.100Z",
      "id": "7",
      "name": "Host CRM"
    },
    {
      "createdAt": "2023-05-12T02:58:38.207Z",
      "updatedAt": "2023-05-12T02:58:38.207Z",
      "id": "8",
      "name": "Host Community"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-26T10:00:08.329Z",
  "versionId": "69e1a4f6-4ba7-4344-aebf-6a232b1fa042"
}