workflows/[KAVI & JIUN] [HOST COMMUNITY] [PROJECT ONG TU-GETHER] - Opt-in Confirmation.json
{
  "active": false,
  "connections": {
    "Function1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "SIB API - Send 1st Rejection Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "LP API - Send PN - Add User to Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-01-06T07:15:14.877Z",
  "id": "18",
  "name": "[KAVI & JIUN] [HOST COMMUNITY] [PROJECT ONG TU-GETHER] - Opt-in Confirmation",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j07W-fwHDU5-2Ta8cYq9kvdOu0Uiqnu0D16zq2vab1U",
          "mode": "list",
          "cachedResultName": "Ong Tù-Gether Opt In (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j07W-fwHDU5-2Ta8cYq9kvdOu0Uiqnu0D16zq2vab1U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2006851659,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j07W-fwHDU5-2Ta8cYq9kvdOu0Uiqnu0D16zq2vab1U/edit#gid=2006851659"
        },
        "options": {}
      },
      "id": "364ca030-697c-4a7b-a501-5cb00675318b",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        720,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "15",
          "name": "Google Sheets - Kavi"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst newListingIds = items.map(item => item.json[\"mail\"]);\nconst oldListingIds = staticData.oldListingIds; \n\nif (!oldListingIds) {\n  staticData.oldListingIds = newListingIds;\n  return items;\n}\n\n\nconst ActualNewListingIds = newListingIds.filter((id) => !oldListingIds.includes(id));\nconst actualNewListing = items.filter((data) => ActualNewListingIds.includes(data.json['mail']));\nstaticData.oldListingIds = [...ActualNewListingIds, ...oldListingIds];\n\nreturn actualNewListing;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        880,
        280
      ],
      "id": "4a892a7a-e35f-4865-bd06-16d012ae78c8"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "requestMethod": "POST",
        "url": "https://api.sendinblue.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"to\":[{\"email\":\"{{ $json[\"TREVO Registered Email Address\"] }}\",\"name\":\"{{ $json[\"Full Name\"] }}\"}],\n\"templateId\":353,\"params\":{ \"CPHOSTNAME\":\"{{ $json[\"Full Name\"] }}\"}}\n",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "SIB API - Send 1st Rejection Email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1080,
        380
      ],
      "id": "69820d01-ef50-4645-962e-d7d9a82db3f4",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "5",
          "name": "SendInBlue - Header Key"
        },
        "sendInBlueApi": {
          "id": "7",
          "name": "SendInBlue"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.leanplum.com/api?action=startCampaign",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"appId\" : \"app_BXrjE7dc15VWXDLRfh77tActhBhSkCHeQhETDE1mXfQ\", \"clientKey\" : \"dev_L9yBjOmwfR3fNiVjL9woIYfWzsy5hMcGDx0og8isAFw\", \"apiVersion\" : \"1.0.6\", \"userId\":\"{{ $json[\"uuid\"] }}\", \"campaignId\":\"4829764947345408\", \"createDisposition\" : \"CreateNever\"}",
        "headerParametersJson": "={\"accept\": \"application/json\",\"content-type\": \"application/json\"}"
      },
      "name": "LP API - Send PN - Add User to Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ],
      "id": "bdcc9610-e289-491d-8f28-977471d49a71"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select * from users u  \nwhere u.email in ({{ $json[\"mail\"] }}'test123@test.com')\nand u.deleted_at is null",
        "additionalFields": {
          "queryParams": ""
        }
      },
      "id": "1465aa91-458f-433f-a290-3e19ae2025b9",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1080,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "8",
          "name": "trevodb"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "eba98cfb-e181-45ef-9309-97aee8838980",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        560,
        280
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "11",
    "saveExecutionProgress": "DEFAULT"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "global": {
      "oldListingIds": [
        "'shridaneshparathan@gmail.com',",
        "'shridaneshparathan@gmail.com',",
        "'deeanntransport@yahoo.com',",
        "'dfansina@gmail.com',",
        "'ezyallventureshq5@gmail.com',",
        "'simcomp97@gmail.com',",
        "'hossainmahamud3@gmail.com',",
        "'emirproton87@gmail.com',",
        "'muhammadfaizmansor@gmail.com',",
        "'zurahtami@gmail.com',",
        "'langkawi4all@gmail.com',",
        "'hemavathiarasu26@gmail.com',",
        "'bradleylaurene89@gmail.com',",
        "'robertbangsar@yahoo.com',",
        "'rajiv.rishyakaran@gmail.com',",
        "'ryanchlee@gmail.com',",
        "'sahril.said@gmail.com',",
        "'haffizquenineny1454@gmail.com',",
        "'haffizquenineny1454@gmail.com',",
        "'m.erwan88@gmail.com',",
        "'Affizzulzul@gmail.com',",
        "'kunyee81@gmail.com',",
        "'fairozrental@gmail.com',",
        "'harrymustapha@gmail.com',",
        "'hazriqmeah@gmail.com',",
        "'alaxlim28@gmail.com',",
        "'omarlen3005@gmail.com',",
        "'misterafiqq@gmail.com',",
        "'timothyngim@gmail.com',",
        "'lekirkaizen5@gmail.com',",
        "'skolin_84@yahoo.com',",
        "'kk.Phuah3233@gmail.com ',",
        "'kk.phuah3233@gmail.com ',",
        "'kk.phuah3233@gmail.com ',",
        "'thekeretasewaku@gmail.com',",
        "'orgpro88@hotmail.com',",
        "'mjcarrental95@gmail.com',",
        "'tim0106tim@gmail.com',",
        "'albeejovita90@hotmail.com',",
        "'chenpang87@gmail.com',",
        "'edrixliaw@gmail.com',",
        "'arifuddin5923@gmail.com',",
        "'hwaglow@gmail.com ',",
        "'hayulgg77@gmail.com',",
        "'Syazwankul88@gmail.com',",
        "'ericczr95@gmail.com',",
        "'azizulazre@gmail.com',",
        "'jeffreyjohari.jj@gmail.com',",
        "'nurulhazreezaineerasdi@gmail.com',",
        "'Jasmeetsinghjr@gmail.com',",
        "'hisyam9990@gmail.com',",
        "'Ezrinazrina@gmail.com',",
        "'rizal_helmey@yahoo.com',",
        "'mdsuhaili@gmail.com',",
        "'kk.phuah3233@gmail.com',",
        "'msnazmi@gmail.com',",
        "'dasmaraazahar@gmail.com',",
        "'fazli.aziz@ymail.com',",
        "'matthewvincent46@gmail.com',",
        "'rizqamni@gmail.com',",
        "'andy1314carie@gmail.com',",
        "'andy1314carie@gmail.com',",
        "'long.menora70@gmail.com',",
        "'ikmalthebeast69@gmail.com',",
        "'Fcs626@gmail.com',",
        "'fralyc77@gmail.com ',",
        "'ubaidiha.p2stp@gmail.com',",
        "'azmilrazman@gmail.com',",
        "'farees.izzat@gmail.com',",
        "'chanwooilim@gmail.com',",
        "'tgrazali81@gmail.com',",
        "'13carrental@gmail.com',",
        "'kwooi06@gmail.com',",
        "' boris.tingekwu@gmail.com',",
        "'jacksonwong1992@gmail.com',",
        "'twinswer89@gmail.com',",
        "'shamsir_maarof@yahoo.com',",
        "'iancklai@hotmail.com',",
        "'julie.yakob@gmail.com',",
        "'joachan79@gmail.com',",
        "'leesieuhui@gmail.com',",
        "'idz_wan89@yahoo.com',",
        "'rosellarose1989@gmail.com',",
        "'tkaran93@gmail.com',",
        "'nasruldean@gmail.com',",
        "'teeyenling@yahoo.com',",
        "'limkahhoon322@gmail.com',",
        "'mc_devv@hotmail.com',",
        "'Fortuneempire8@gmail.com',",
        "'leongchangfai@gmail.com ',",
        "'zzipbmm@yahoo.com.my',",
        "'chunhoe90@hotmail.com',",
        "'peigangcvi@gmail.com',",
        "'lazyalson@gmail.com',",
        "'fortuneempire8@gmail.com',",
        "'Shirlyyc2902@gmail.com',",
        "'ibrahimyaacob71@gmail.com ',",
        "'Bambi6958@gmail.com',",
        "'mohdsolihinmustafa@gmail.com',",
        "'behmingqian@hotmail.com',",
        "' wjkkcarrent@gmail.com',",
        "' wjkkcarrent@gmail.com',",
        "' wjkkcarrent@gmail.com',",
        "' wjkkcarrent@gmail.com',",
        "' wjkkcarrent@gmail.com',",
        "' wjkkcarrent@gmail.com',",
        "'azian.mokhti@gmail.com',",
        "'mdmteohsmc@gmail.com',",
        "'zheyik97@gmail.com',",
        "'tsueytian@gmail.com',",
        "'mohdyuswadi@gmail.com',",
        "'v.mak@vmakempire.com',",
        "'huda.khamis88@yahoo.com',",
        "'faisalshafie87@gmail.com',",
        "'ariftaqiuddin25@gmail.com',",
        "'mrusdi66@yahoo.co.uk',",
        "'Heryputra90@gmail.com',",
        "'jebaraj7890@outlook.com ',",
        "'whun_95@hotmail.com',",
        "'whun_95@hotmail.com',",
        "'whun_95@hotmail.com',",
        "'whun_95@hotmail.com',",
        "'godanny@live.com',",
        "'wjkkcarrent@gmail.com',",
        "'gngobinathan@gmail.com ',",
        "'yanie.azam96@gmail.com',",
        "'i.nicholas.chin@gmail.com',",
        "'najlaa95nono95@gmail.com',",
        "'najlaa95nono95@gmail.com',",
        "'Shaundas1999@gmail.com',",
        "'zaililayatim88@gmail.com',",
        "'Afiqahmuzaini@gmail.com',",
        "'Fazuarie14@gmail.com',",
        "'Izlan190199@icloud.com',",
        "'ahrm1975@yahoo.com',",
        "'wgk643@yahoo.com',",
        "'hafizul.co@gmail.com',",
        "'fhempireventures@gmail.com',",
        "'LoGa3519@Gmail.com',",
        "'edward_lajinga@yahoo.com',",
        "'kusa_2701@yahoo.com',",
        "'kennysck88@gmail.com',",
        "'nurzarima@gmail.com',",
        "'adreenaadnan13@yahoo.com',",
        "'adreenaadnan13@yahoo.com',",
        "'ellapan0121@icloud.com',",
        "'wenchui1129@gmail.com',",
        "'ammar.anas@gmail.com',",
        "'fcs626@gmail.com',",
        "'mabeltham@hotmail.com',",
        "'emailyusuf79@gmail.com ',",
        "'Michael-Ang@hotmail.com',",
        "'lizserie92@gmail.com',",
        "'kunordin@yahoo.com',",
        "'rahilachenkov@gmail.com',",
        "'Loichiwei@gmail.com',",
        "'syakirinanuar@gmail.com',",
        "'risznafisaharris@gmail.com',",
        "'Kevinyoong92@gmail.com',",
        "'cyqapinky@gmail.com ',",
        "'cyqapinky@gmail.com ',",
        "'hariz.fatah@gmail.com',",
        "'mahathirjamil@gmail.com',",
        "'shanicewong11@gmail.com',",
        "'yun5543@gmail.com',",
        "'nagintheran@gmail.com',",
        "'norizan8677@gmail.com',",
        "'zaym.nazmy@gmail.com',",
        "'benlee6250@gmail.com',",
        "'drian_tan@hotmail.my',",
        "'rialiya728@gmail.com',",
        "'leeannyss@yahoo.com',",
        "'ratharaman@yahoo.com',",
        "'mohamedfazril@hotmail.com',",
        "'janeread89@gmail.com',",
        "'iqbal19287@gmail.com',",
        "'faqhazirulbasharey@gmail.com',",
        "'syamilaliff@gmail.com',",
        "'khairuljsc@gmail.com',",
        "'skndr_muda@yahoo.com',",
        "'zicksi@gmail.com',",
        "'nurnayirah@gmail.com',",
        "'d3almak3r@gmail.com',",
        "'azman827070@gmail.com',",
        "'tiffany_wongyi@hotmail.com',",
        "'shaharifmdshah@gmail.com',",
        "'kanoo_p@hotmail.com',",
        "'ahmad.muzamil@gmail.com',",
        "'liauchinfoo@yahoo.com',",
        "'natashaazrah@hotmail.com',",
        "'izlan190199@icloud.com',",
        "'fungtingli315218@gmail.com',",
        "'righazrhent@gmail.com',",
        "'aisyjalal@gmail.com',",
        "'jenjenliew@gmail.com',",
        "'nicholasting39@gmail.com',",
        "'annarshd@gmail.com',",
        "'kyairunnidzam@yahoo.com.my',",
        "'ssy070306@gmail.com',",
        "'yeoyi_2@hotmail.com',",
        "' live.love.accessories@gmail.com',",
        "'helmi77@gmail.com',",
        "'errisshahrol@gmail.com',",
        "'yks7268@gmail.com ',",
        "'azzuddinazmi@gmail.com',",
        "'kennykrichard@hotmail.com',",
        "'Jusaidashaidin@icloud.com',",
        "'cassahafiz95@gmail.com',",
        "'takeuchitoshiyasu@gmail.com',",
        "'alephazardr@gmail.com',",
        "'chrisy_c_l@hotmail.com',",
        "'jsalimeu@gmail.com',",
        "'nafeesaamira@gmail.com',",
        "'peterwkl1984@gmail.com',",
        "'tch0106@hotmail.com',",
        "'muhdazzuan@icloud.com',",
        "'ainnossro@gmail.com',",
        "'mjadri57@gmail.com',",
        "'kbx8694@gmail.com',",
        "'aaronleong1510@gmail.com',",
        "'tehpeiwen92@gmail.com',",
        "'engku.azhari@yahoo.com',",
        "'alvinlimyx@gmail.com',",
        "'apismaf77@gmail.com',",
        "'atikah.4811@gmail.com',",
        "'kenny.yapas@outlook.com',",
        "'gunallan@gmail.com',",
        "'mohd.saza@gmail.com',",
        "'farisamir@gmail.com',",
        "'jlairbus@gmail.com',",
        "'yvonnechan07@gmail.com',",
        "'driver2tad@gmail.com',",
        "'fridabeautycartel@gmail.com',",
        "'merckx21@gmail.com',",
        "'manja85darwish@gmail.com',",
        "'aie.amir@gmail.com',",
        "'ramdan34103@gmail.com',",
        "'mohdazriujang00@gmail.com',",
        "'atina.ptt@gmail.com',",
        "'laicheehiong@gmail.com',",
        "'halfpiece76@gmail.com',",
        "'arinais_96@yahoo.com',",
        "'hadie9203@gmail.com',",
        "'azwana1810@gmail.com',",
        "'myrul_95@yahoo.com',",
        "'amelyalee@ymail.com',",
        "'mfakhzan@gmail.com',",
        "'nuzulmahdi@gmail.com',",
        "'faridaiman6@yahoo.com',",
        "'afiqah.aziz88@gmail.com',",
        "'Gtlee9999@gmail.com',",
        "'msarorashdan@hotmail.com',",
        "'joshuajaecyprinus@gmail.com',",
        "'nhayati82@gmail.com',",
        "'Nathan.Menon@Yahoo.Com',",
        "'rezwan_wnzz@yahoo.com',",
        "'azmanmuda@gmail.com',",
        "'billadon244@gmail.com',",
        "'azrimohammad60@gmail.com',",
        "'zarrinfakhriazizan@gmail.com',",
        "'azlanazman91@gmail.com',",
        "'ricson6219@gmail.com',",
        "'mdazwan09@gmail.com',",
        "'brain333444@hotmail.com',",
        "'yusnita2603@gmail.com',",
        "'ridhwanolaff@gmail.com',",
        "'sammychan860@gmail.com',",
        "'sonnykazu@gmail.com',",
        "'dassl_ali@yahoo.com',",
        "'masaki5335@gmail.com',",
        "'yongjianjian71@gmail.com',",
        "'azriproton@yahoo.com',",
        "'aidenlow88@gmail.com',",
        "'afkariaziz1989@gmail.com',",
        "'i_lan89@yahoo.com',",
        "'aidenlow88@gmail.com',",
        "'bb_farydah@yahoo.com',",
        "'aidenlow88@gmail.com',",
        "'aidenlow88@gmail.com',",
        "'farihann@gmail.com',",
        "'c3llobass@hotmail.com',",
        "'bmw0175803316@gmail.com',",
        "'lilycmk2007@yahoo.com',",
        "'asyrafhafizi.id@gmail.com',",
        "'tmohan069@yahoo.com',",
        "'beegze@yahoo.com',",
        "'wongpowlongtrevo@gmail.com',",
        "'Zurahzie94@gmail.com',",
        "'Zurahzie94@gmail.com',",
        "'ishaqberu@gmail.com',",
        "'sarahteh@gmail.com',",
        "'kenneyhoo@hotmail.com',",
        "'sittizubaidah87@gmail.com',",
        "'idayu.ali@gmail.com',",
        "'umaimahsuhaimi@gmail.com',",
        "'zikril.azan1@yahoo.com',",
        "'vuiliong6715@hotmail.com',",
        "'hockheng.auto@outlook.com ',",
        "'Toi_let8@hotmail.com',",
        "'cheeonn9198@gmail.com',",
        "'Farisbu@gmail.com',",
        "'ytan831113@gmail.com',",
        "'gobinatravichandran@gmail.com',",
        "'johorgrab@gmail.com',",
        "'reventon.lee@gmail.com',",
        "'shunsankong@gmail.com',",
        "'julianjuanis90@gmail.com',",
        "'vijaycold19283166@gmail.com',",
        "'kanoo_p@hotmail.com ',",
        "'arsuhaida@gmail.com',",
        "'tasiko@hotmail.com',",
        "'Zaime.kz@gmail.com',",
        "'izharbahriemib@gmail.com',",
        "'saiponz.ppdl@gmail.com',",
        "'zulkifliahmad117@gmail.com',",
        "'rzwoo@yahoo.com',",
        "'razin.com@gmail.com',",
        "'thiban5580@gmail.com',",
        "'faizaljaid@gmail.com',",
        "'syafiqalkaff17@gmail.com',",
        "'faezah_johar@yahoo.com',",
        "'kangkai616@gmail.com',",
        "'cws45@yahoo.com.sg',",
        "'rubatharan@gmail.com',",
        "'zaphkiel1508@gmail.com',",
        "'khaty7170@gmail.com',",
        "'mohdfaisaladam86@gmail.com',",
        "'wwlung.96@gmail.com',",
        "'johnsonhje@gmail.com',",
        "'anmkumaran@gmail.com',",
        "'islahzasd@gmail.com',",
        "'azuwan.pkc@gmail.com',",
        "'sab_abm@yahoo.com ',",
        "'azril.azhari@gmail.com',",
        "'wenchui1129@gmail.com ',",
        "'faisal_pkm@rocketmail.com',",
        "'magameaku@gmail.com',",
        "'erina.cuckoo@gmail.com',",
        "'parthiban_mc@ymail.com',",
        "'jansideincome@gmail.com',",
        "'mka89ayie@gmail.com',",
        "'sunartumiran@gmail.com',",
        "'amirfaiq5047@gmail.com',",
        "'jiunyew98@gmail.com',",
        "'butterlee27@gmail.com',",
        "'test@gmail.com',",
        "'christykoh13@yahoo.com',",
        "'yusufjr95@gmail.com',",
        "'afdalmus_lc135@yahoo.com',",
        "'ahmadkamilrosli@yahoo.com',",
        "'amosthien89@gmail.com',",
        "'ghazali53@yahoo.com.sg',",
        "'amritnebraj@gmail.com',",
        "'alhafishamid@gmail.com',",
        "'nursabirah93@gmail.com ',",
        "'meshantini@gmail.com',",
        "'sam828089@yahoo.com',",
        "'arafjer@gmail.com',",
        "'Kennyackk@gmail.com',",
        "'Shenglee1995@gmail.com',",
        "'siticircle90@gmail.com',",
        "'jychew1982@gmail.com',",
        "'annisa886@gmail.com',",
        "'amierul_edu@yahoo.com',",
        "'peryeelaw@yahoo.com',",
        "'kavindra.herat@trevo.my',",
        "'haziq.asyaraf@gmail.com',",
        "'razzaramli84@gmail.com',",
        "'smiley85_cute@yahoo.com',",
        "'narendran_05@yahoo.com',",
        "'haziq.asyaraf@gmail.com',",
        "'muyassarahnur@gmail.com',",
        "'mohamadhaizuddin@gmail.com',",
        "'mrbija@gmail.com',",
        "'jeevanrajmaniam@yahoo.com',",
        "'vinodhanvennoo@gmail.com',",
        "'pcchua4488@gmail.com',",
        "'muhdnizam5887@gmail.com',",
        "'muhdnizam5887@gmail.com',",
        "'muhdnizam5887@gmail.com',",
        "'shatar.enquiry@gmail.com',",
        "'jeffreyignacio1982@yahoo.com',",
        "'Christine_wcy@hotmail.com',",
        "'fadzli165@gmail.com',",
        "'suhaimumim@gmail.com',",
        "'sadrieja@gmail.com',",
        "'spanneer10@yahoo.com',",
        "'yantzco@yahoo.com',",
        "'annusairy@gmail.com',",
        "'muhdariff96@gmail.com',",
        "'payungcap2@gmail.com',",
        "'karthikrajaseheran@gmail.com',",
        "'preveena45@gmail.com',",
        "'hasrizanajai4@gmail.com',",
        "'rfiedah@gmail.com',",
        "'fatehazainudin.kl@gmail.com',",
        "'nurfahtenadia@gmail.com',",
        "'ferjushaah@yahoo.com',",
        "'sweekimleong11@gmail.com',",
        "'farsuan@gmail.com',",
        "'HOUWEI86Y@HOTMAIL.COM',",
        "'akmalamin862@gmail.com',",
        "'Tommy_2068@hotmail.com',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "'',",
        "kavindra.herat@trevo.my",
        "kavindra.herat@gmail.com",
        "jiunyew98@gmail.com",
        ""
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-01-18T02:22:25.544Z",
  "versionId": "63e53b2d-f390-4b84-ae87-e90826fb5469"
}